@media only screen {


    #mod_blog {


        section.mod__blog-featuredposts {

            margin: 0 auto;
            width: getVar($sizing, content, medium);
            text-align: center;


        }
        
    }
    
    
}