@media only screen {

    section.mod__coupons-featuredcoupons {

        >.container {
            text-align: center;
            div.site_grid {

                .block {
                    border: 1px solid black;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                }
            }

            > a.site__button {
                margin: 0 auto;
            }

        }

    }

}

@media only screen and (min-width: 1024px) {
    $w: 80vw;
    $c: 4;
    $g: 1.5vw;
    $s: true;

    section.mod__coupons-featuredcoupons {
        > div.container {
            width: $w;

            div.site_grid {
                @include gridLayout($w, $c, $g, $s);

            }

        }
    }


}