@media only screen {
    ul {
        list-style: none;
    }
    #gallery {
        margin: 0 auto;  
        margin-bottom: 20px;
        max-width: $max_width;
        min-height: 60vh;
        // Standard gallery with no tab style
        $w: 98%;
        $c: 2;
        $g: 1%;
        $s: true;
        @include gridLayout($w, $c, $g, $s);
        .gallery_row {
            .gallery_item {
                justify-content: center;
                .gallery_image {
                    height: 220px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin: 0 auto;
                }
            }
        }
        > h3 {
            display: block;
            font-size: 2.8rem;
            text-align: center;
            margin: 40px 0;
            font-family: "Gotham", Helvetica, sans-serif;
        }
        .gallery_row {
            display: flex;
            flex-flow: row wrap;
        }
        &.tab_pill,
        &.tab_divider,
        &.tab_sidebar {
            .gallery_row {
                display: none;
                margin-top: -5px;
            }
            .active_row {
                display: flex;
            }
        }
        &.tab_pill {
            #gallery_titles {
                text-align: center;
                margin-bottom: 5px; 
            }
            #gallery_rows {
                margin-bottom: 20px;
                $w: 98%;
                $c: 2;
                $g: 1%;
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                .gallery_row {
                    .gallery_item {
                        justify-content: center;
                        .gallery_image {
                            height: 220px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            margin: 0 auto;
                        }
                    }
                }
            }
            h3 {
                display: block;
                margin: 10px 5px;
                text-transform: uppercase;
                padding: 10px 0;
                font-size: 14px;
                a {
                    padding: 10px 15px;
                    border-radius: 20px;
                    background-color: transparent;
                    border: 2px solid $gray_one;
                    color: $gray_three;
                    &:active,
                    &:focus,
                    &.active_title,
                    &.active_title:hover {
                        color: $white;
                        background-color: $accent;
                        border: 2px solid transparent;
                    }
                    &:hover {
                        border: 2px solid $gray_three;
                        background-color: $gray_three;
                        color: $white;
                    }
                }
            }
        }
        &.tab_divider {
            #gallery_titles {
                padding: 0 10px 10px;
            }
            #gallery_titles:after {
                content: "";
                display: block;
                border-bottom: 2px solid $gray_one;
                margin-top: -5px;
            }
            #gallery_rows {
                margin-bottom: 20px;
                $w: 98%;
                $c: 2;
                $g: 1%;
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                .gallery_row {
                    .gallery_item {
                        justify-content: center;
                        .gallery_image {
                            height: 220px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            margin: 0 auto;
                        }
                    }
                }
            }
            h3 {
                display: block;
                padding: 10px 0;
                font-size: 14px;
                margin: 0 2px;
                text-transform: uppercase;
                a {
                    color: $gray_two;
                    padding: 10px 15px;
                    background-color: $gray_one;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border-top: 2px solid $gray_one;
                    border-left: 2px solid $gray_one;
                    border-right: 2px solid $gray_one;
                    transition: color 0.3s ease-in-out;
                    &:focus,
                    &.active_title,
                    &.active_title:hover {
                        color: $accent;
                        background: $white;
                        border-bottom: 3px solid transparent;
                    }
                    &:hover,
                    &:active {
                        color: $white;
                        background: linear-gradient(to bottom, lightgray 0%, #8f9091 100%); 
                    }
                }
            }
        }
        &.tab_sidebar {
            display: flex;
            flex-flow: column nowrap;
            #gallery_rows {
                margin-bottom: 20px;
                flex: 1 1 75%;
                $w: 98%;
                $c: 2;
                $g: 1%;
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                .gallery_row {
                    .gallery_item {
                        justify-content: center;
                        .gallery_image {
                            height: 220px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            margin: 0 auto;
                        }
                    }
                }
            }
            #gallery_titles {
                margin-bottom: 15px;
                padding: 0 10px;
                flex: 0 1 25%;
                h3:first-of-type > a {
                    border-top: 1px solid $gray_one;
                }
                h3 {
                    display: block;
                    font-size: 14px;
                    margin: 0;
                    > a {
                        color: $gray_two;
                        padding: 10px 15px;
                        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
                        display: block;
                        border-bottom: 1px solid $gray_one;
                        &:active, 
                        &:focus,
                        &.active_title,
                        &.active_title:hover {
                            color: $white;
                            background-color: $accent;
                            border-bottom: 1px solid $accent;
                        }
                        &:hover {
                            color: $gray_two;
                            background-color: $gray_one;
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 550px){
    // Standard gallery with no tab style
    #gallery {
        $w: 98%;
        $c: 3;
        $g: 1%;
        $s: true;
        @include gridLayout($w, $c, $g, $s);
        .gallery_row {
            .gallery_item {
                .gallery_image {
                    height: 170px;
                }
            }
        }
    }
    #gallery.tab_sidebar {
        flex-flow: row nowrap;
        #gallery_titles {
            padding: 0;
            margin-right: 30px;
        }
        #gallery_rows {
            $w: 98%;
            $c: 2;
            $g: 1%;
            $s: true;
            @include gridLayout($w, $c, $g, $s);
            .gallery_row {
                .gallery_item {
                    .gallery_image {
                        width: 170px;
                        height: 170px
                    }
                }
            }
        }
    }
    #gallery.tab_pill h3{
        display: inline-block;
    }
}

@media only screen and (min-width: 768px){
    #gallery.tab_divider h3 {
        display: inline-block;
    }
    // Standard gallery
    #gallery > .gallery_row > .gallery_item {
        display: flex;
        justify-content: center;
    }
    // Standard gallery
    #gallery {
        $w: 98%;
        $c: 3;
        $g: 1%;
        $s: true;
        @include gridLayout($w, $c, $g, $s);
        .gallery_row {
            .gallery_item {
                .gallery_image {
                    height: 230px;
                    width: 230px;
                }
            }
        }
    }
    #gallery.tab_sidebar {
        #gallery_rows {
            $w: 98%;
            $c: 3;
            $g: 1%;
            $s: true;
            @include gridLayout($w, $c, $g, $s);
            .gallery_row {
                .gallery_item {
                    .gallery_image {
                        height: 160px;
                        width: 160px;
                    }
                }
            }
        }
    }
    #gallery.tab_pill #gallery_rows {
        margin-bottom: 20px;
        $w: 98%;
        $c: 3;
        $g: 1%;
        $s: true;
        @include gridLayout($w, $c, $g, $s);
        .gallery_row {
            .gallery_item {
                justify-content: center;
                .gallery_image {
                    height: 220px;
                }
            }
        }
    }
    #gallery.tab_divider #gallery_rows {
        margin-bottom: 20px;
        $w: 98%;
        $c: 3;
        $g: 1%;
        $s: true;
        @include gridLayout($w, $c, $g, $s);
        .gallery_row {
            .gallery_item {
                .gallery_image {
                    height: 220px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px){
    // Standard gallery
    #gallery {
        $w: 98%;
        $c: 4;
        $g: 1%;
        $s: true;
        @include gridLayout($w, $c, $g, $s);
        .gallery_row {
            .gallery_item {
                .gallery_image {
                    height: 230px;
                    width: 230px;
                }
            }
        }
    }
    #gallery.tab_sidebar {
        #gallery_rows {
            .gallery_row {
                .gallery_item {
                    .gallery_image {
                        height: 220px;
                        width: 220px;
                    }
                }
            }
        }
    }
    #gallery.tab_pill #gallery_rows {
        margin-bottom: 20px;
        $w: 98%;
        $c: 4;
        $g: 1%;
        $s: true;
        @include gridLayout($w, $c, $g, $s);
        .gallery_row {
            .gallery_item {
                .gallery_image {
                    height: 220px;
                    width: 220px;
                }
            }
        }
    }
    #gallery.tab_divider #gallery_rows {
        margin-bottom: 20px;
        $w: 98%;
        $c: 4;
        $g: 1%;
        $s: true;
        @include gridLayout($w, $c, $g, $s);
        .gallery_row {
            .gallery_item {
                .gallery_image {
                    height: 220px;
                    width: 220px;
                }
            }
        }
    }
}

@media only screen and (min-width:1280px){
    #gallery.tab_divider #gallery_titles {
        padding: 0 5px 10px;
    }
    #gallery #gallery_rows {
        padding: 0;
    }
    // Standard gallery
    #gallery {
        $w: 100%;
        $c: 4;
        $g: 1%;
        $s: true;
        @include gridLayout($w, $c, $g, $s);
        .gallery_row {
            .gallery_item {
                .gallery_image {
                    height: 290px;
                    width: 290px;
                }
            }
        }
    }
    #gallery.tab_sidebar {
        #gallery_rows {
            .gallery_row {
                .gallery_item {
                    .gallery_image {
                        height: 275px;
                        width: 275px;
                    }
                }
            }
        }
    }
    #gallery.tab_pill #gallery_rows {
        margin-bottom: 20px;
        $w: 100%;
        $c: 4;
        $g: 1%;
        $s: true;
        @include gridLayout($w, $c, $g, $s);
        .gallery_row {
            .gallery_item {
                .gallery_image {
                    height: 290px;
                    width: 290px;
                }
            }
        }
    }
    #gallery.tab_divider #gallery_rows {
        margin-bottom: 20px;
        $w: 99.5%;
        $c: 4;
        $g: 1%;
        $s: true;
        @include gridLayout($w, $c, $g, $s);
        .gallery_row {
            .gallery_item {
                .gallery_image {
                    height: 290px;
                    width: 290px;
                }
            }
        }
    }
}


