@media only screen {

    section.hero {
        overflow: hidden;
        height: 90vh;
        //Hero Foreground
        .hero_foreground {
            font-family: 'Futura-Bold', 'Trebuchet MS', Arial,sans-serif;
            text-align: center;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            //Title
            h2 {
                font-size: 90px;
                letter-spacing: -4px;
                line-height: 1em;
            }
            //Logo
            img {
                max-width: 180px;
                margin: 35px auto 0;
            }
            //Subtitle
            p {
                font-size: 24px;
                margin: 20px 0 30px;
                line-height: 1em;
            }
            //Button
            a {
                padding: 10px;
                font-size: 18px;
                padding: 11px 30px 15px;
                border-radius: 30px;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 1em; 
                color: $white;
                display: inline-block;
                background-color: $primary;
                transition: background-color 0.25s;
            }
            //Button actions on hover, focus and active
            a:hover, 
            a:focus, 
            a:active {
                background-color: $second_primary;
            }
        }
    }
    
    section.hero#hero_image {        
        //First div of hero image 
        > #hero_staticimage {
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    section.hero#hero_slider {
        #slick_slider {
            .slick-slide > img {
                object-fit: cover; 
                position: relative;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: auto;
                height: 100vh;
            }
            //Previous slider image button
            .slick-prev {
                left: 0;
            }
            //Previous slider image button icon
            .slick-prev > i {
                left: 5%; 
            } 
            //Next slider image button
            .slick-next { 
                right: 0; 
            }
            //Next slider image button icon
            .slick-next > i {
                right: 5%;
            }
            .slick-prev, 
            .slick-next {
                width: 25%; 
                height: 100%;
                z-index: 18;
            }
            .slick-prev:before,
            .slick-next:before {
                display: none;
            }
            .slick-prev i,
            .slick-next i {
                font-size: 40px;
                z-index: 18;
                color: $black;
                opacity: 0;
                position: absolute;
                transition: opacity 0.2s;
            }
            //Previous and next slider image button icons actions on hover, active and focus
            .slick-prev:hover,
            .slick-prev:active,
            .slick-prev:focus,

            .slick-next:hover,
            .slick-next:active,
            .slick-next:focus {
                > i {
                    opacity: 0.8;
                }
            }
        } 
    }

    section.hero#hero_video {
        overflow: hidden;
        video {
            position: relative;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
            height: 100vh;
        }
    }
}

@media only screen and (min-width: 1160px){
    section.hero #hero_video video {
        width: 100vw;
        height: auto;
    }
}
