@media only screen {
    section#mod_locations {
        text-align: center;
        width: 100%;
        margin: 0 auto 30px;
        // #mapid {
        //     height: 20vw;
        //     width: 100%;
        //     margin: 0 auto 30px;
        //     max-width: 720px;
        // }
        section.mod__featured_grid {
            div.container {
                div.site__grid {
                    > ul {
                        > li {
                            > div {
                                padding: 0 20px;
                                background-color: #dedddd;
                                > .location_heading {
                                    text-transform: uppercase;
                                    font-weight: 500;
                                    color: $black;
                                    @include fontS-24;
                                    > p {
                                        padding: 20px 0 10px;
                                    }
                                    &:hover, &:active, &:focus {
                                        color: $accent;
                                    }
                                }
                                > ul.site__social-media {
                                    padding: 10px 0;
                                    display: flex;
                                    justify-content: center;
                                    > li {
                                        > a {
                                            @include fontS-20;
                                            display: inline-block;
                                            line-height: 0;
                                            padding: 0 10px;
                                            text-align: center;
                                            color: $black;
                                            transition: color 0.3s; 
                                            > div.location_social_image {
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                                background-position: center center;
                                                width: 25px;
                                                height: 25px;
                                            }
                                            &:hover, &:active, &:focus {
                                                color: $accent;
                                            }
                                        }
                                    }
                                }
                                > a {
                                    font-weight: 500;
                                    @include fontS-20;
                                    color: $black;
                                    > div.location_address {
                                        padding: 10px 0 20px;  
                                    }
                                    &:hover, &:active, &:focus {
                                        color: $accent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}