@media only screen {

    #mod_locations {
        text-align: center;
        width: 100%;
        margin: 0 auto 30px;
        #mapid {
            height: 20vw;
            width: 100%;
            margin: 0 auto 30px;
            max-width: 720px;
        }
        .mod_locations-location{
            h3 {
                font-size: 2rem;
            }
        }


    }

}