@media only screen {
    #tabs_sidebar,
    #tabs_pills,
    #tabs_divider {
        max-width: 92vw;
        margin: 60px auto;
        display: flex;
        flex-flow: column nowrap; 
    }
    #tabs_pills, #tabs_divider {
        .menu_photo_list ul > li > div:last-of-type {
            width: inherit;
        }
    }
    // Tabs Sidebar
    #tabs_sidebar {
        // Menu tabs
        #menu_tabs {
            margin-bottom: 15px;
            // Menu tabs titles
            > h5 {
                display: block;
                &:first-of-type > a {
                    border-top: 1px solid $gray_one;
                }
                > a {
                    padding: 10px 15px;
                    color: $gray_two;
                    border-bottom: 1px solid $gray_one;
                    display: block;
                    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
                    &.active_menu_link,
                    &:active,
                    &:focus,
                    &.active_menu_link:hover {
                        background-color: $accent;
                        color: $white;
                        border-bottom: 1px solid $accent;
                    }
                    &:hover {
                        background-color: $gray_one;
                        border-bottom: 1px solid transparent;
                    }
                }
            }
        }
    }
    // Tabs Pills
    #tabs_pills {
        // Tabs
        #menu_tabs {
            @include fontS-14;
            margin: 0 auto 15px;
            // Tabs titles
            > h5 {
                margin: 0 5px;
                padding: 10px 0;
                text-transform: uppercase;
                text-align: center;
                // Tabs links
                > a {
                    background-color: transparent;
                    border: 2px solid $gray_one;
                    border-radius: 20px;
                    padding: 10px 25px;
                    color: $gray_one;
                    // Tabs links actions on active, active menu link, and focus
                    &.active_menu_link,
                    &:active,
                    &:focus,
                    &.active_menu_link:hover {
                        border: 2px solid $accent;
                        background-color: $accent;
                        color: $white;
                    }
                    // Tabs links actions on hover
                    &:hover {
                        border: 2px solid $gray_one;
                        color: $white;
                        background-color: $gray_one;
                    } 
                }
            }
        }
    }
    // Tabs Divider
    #tabs_divider {
        #menu_tabs {
            padding: 0 0 30px 0; 
        }
        #menu_tabs:after {
            content: "";
            display: block;
            border-bottom: 2px solid $gray_one;
            margin-top: -5px;
        }
        h5 {
            padding: 10px 0;
            @include fontS-14;
            margin: 0 2px;
            text-transform: uppercase;
            a {
                color: $gray_two;
                padding: 10px 15px;
                background-color: $gray_one;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-top: 2px solid $gray_one;
                border-left: 2px solid $gray_one;
                border-right: 2px solid $gray_one;
                transition: color 0.3s ease-in-out;
                &:focus,
                &.active_menu_link,
                &.active_menu_link:hover {
                    color: $accent;
                    background: $white;
                    border-bottom: 3px solid transparent;
                }
                &:hover,
                &:active {
                    color: $white;
                    background: linear-gradient(to bottom, lightgray 0%, #8f9091 100%); 
                }
            }
        }
    }
    // Common CSS for the different Menu Styles
    .menu_text_half, 
    .menu_text_list_left,
    .menu_text_list_center, 
    .menu_photo_list,
    .menu_photo_tiled_x3,
    .menu_text_sub_group_half {
        // All menus images
        .image_prov {
            width: 100%;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            margin-bottom: 15px;
        }
        // Menu Header
        .menu_header {
            // All menus header title
            > h2 {
                @include fontS-34;
                letter-spacing: -1px;
                font-weight: 800;
            }
            // All menus header description
            > p {
                margin: 15px 0 20px;
                font-family: "Times New Roman";
                line-height: 1em;
                font-style: italic;
                @include fontS-24;
                font-weight: 500;
                color: $gray_three;
            }
        }
    }
    // menu item paragraph
    .menu_text_list_left .menu_items > ul > li > p, 
    .menu_text_list_center .menu_items > ul > li > p {
        @include fontS-14;
        font-family: "Times New Roman";
        line-height: 1.8rem;
        color: $gray_three;
        font-style: italic;
    }
    // Menu Text 1/2 and Menu Sub Group 1/2 
    .menu_text_half,
    .menu_text_sub_group_half {
        .menu_header {
            // Header title
            > h2 {
               text-transform: uppercase;
                font-weight: 700;
                position: relative;
                letter-spacing: normal; 
                &:before {
                    border-top: 1px solid $gray_one;
                    bottom: 0;
                    content: "";
                    left: 0;
                    margin: 0 auto;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    z-index: -1;
                }
            }
            // header description
            > p {
                margin: 10px 0 20px;
            }
        }
        // menu items 
        .menu_items {
            > ul > li {
                margin-bottom: 30px;
                // menu items title
                > h3 {
                    display: flex;
                    @include fontS-20;
                    font-weight: 700;
                    justify-content: space-between;
                    border-bottom: 3px solid $accent;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    > span {
                        color: $gray_three;
                        font-weight: 600;
                    }
                }
                // menu items description
                > p {
                    @include fontS-14;
                    color: $gray_three;
                    line-height: 1.8rem;
                }
            }
        }
    }
    // Header title
    .menu_text_list_left .menu_header > h2,
    .menu_text_list_center .menu_header > h2,
    .menu_photo_list .menu_header > h2,
    .menu_photo_tiled_x3 .menu_header > h2 {
        text-transform: capitalize;
    }
    // Menu Text List Center and Photo List header
    .menu_text_list_center .menu_header,
    .menu_photo_list .menu_header {
        text-align: center;
        border-bottom: 3px solid $accent;
        margin-bottom: 30px;
    }
    // Menu Section
    .menu_section {
        display: none;
    }
    // Menu section unordered list
    .menu_section ul {
        list-style: none;
    }
    // Active menu section
    .active_menu_section {
        display: block;
    }
    // Active menu section with flex 
    .active_menu_section.flex_menu {
        display: flex;
    }
    .menu_items {
        $w: getVar($sizing, content, full);
        $c: 1;
        $g: getVar($sizing, gutter, vw, small);
        $s: true;
        @include gridLayout($w, $c, $g, $s);
        .image_prov {
            max-width: 50vw;
            max-height: 50vw;
        }
    }
    // Menu Text 1/2
    .menu_text_half {
        .menu_header {
            margin-top: 0;
            text-align: center;
            > h2 > span {
                background: $white;
                padding: 0 15px;
            }
        }
        .menu_items {
            $w: getVar($sizing, content, full);
            $c: 2;
            $g: getVar($sizing, gutter, vw, large);
            $s: true;
            @include gridLayout($w, $c, $g, $s);
        }
    }
    // Menu Text List Left
    .menu_text_list_left {
        // Menu header
        .menu_header {
            border-bottom: 5px dotted $accent;
            margin-bottom: 30px;
            // title
            > h2 {
                font-family: "Times New Roman";
                line-height: 1em;
            }
        } 
        // Menu items unordered list items
        ul {
            > li {
                margin-bottom: 20px;
                > h3 {
                    text-transform: uppercase;
                    display: flex;
                    @include fontS-20;
                    font-weight: 700;
                    justify-content: space-between;
                }
                > .image_prov {
                    background-position: center left;
                    margin: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
    // Menu Text List Center 
    .menu_text_list_center {
        // Menu items unordered list items
        ul > li {
            margin-bottom: 30px;
            // Menu items title
            >  h3 {
                @include fontS-20;
                text-align: center;
                font-weight: 800;
                text-transform: uppercase;
                margin-bottom: 5px;
                > span {
                    font-weight: 500;
                    &:before {
                        content: "";
                        border-left: 2px solid $gray_three;
                        margin: 0 15px 0 10px;
                    }  
                }
            }
            > p {
                text-align: center;
            }
        }
    }
    // Menu Text Sub Group 1/2
    .menu_text_sub_group_half {
        flex-flow: column nowrap;
        .menu_header > h2 > span {
            background: $white;
            padding-right: 15px;
        }
        .image_prov {
            width: 50vw;
            height: 50vw;
        }
    }
    // Menu Photo Tiled x3
    .menu_photo_tiled_x3 {
        .menu_header {
            margin-top: 0;
            text-align: center;
            border-bottom: 3px solid $accent;
            margin-bottom: 30px;
        }
        .menu_item {
            margin-bottom: 10px;
        }
        // Menu items title
        ul {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            > li {
                > h3 {
                    display: flex;
                    font-weight: 700;
                    justify-content: space-between;
                    @include fontS-20;
                    margin-bottom: 5px;
                }
                > div > span {
                    @include fontS-14;
                    position: relative;
                    top: -5px;
                }
                > p {
                    color: $gray_three;
                    @include fontS-14;
                    text-align: justify;
                    line-height: 1.8rem;
                }
            }
        }
    }
    // Menu Photo List 
    .menu_photo_list {
        .image_prov {
            max-height: 40vw;
            margin: 0;
        }
        // Menu items unordered list items
        ul > li  {
            display: flex;
            margin-bottom: 20px;
            // Menu items image
            > div:first-of-type {
                margin-right: 10px;
                display: inline-block;
            }
            > div:last-of-type {
                display: inline-block;
                width: 50%;
                vertical-align: top;
                > h3 {
                    font-weight: 900;
                    @include fontS-20
                }
                > p:first-of-type {
                    @include fontS-14;
                    font-style: italic;
                    color: $gray_three;
                    line-height: 1.8rem;
                    padding-bottom: 10px;
                    border-bottom: 4px dotted $gray_one;
                    margin-bottom: 20px;
                    font-family: "Times New Roman";
                }
                > p:last-of-type {
                    @include fontS-24;
                    color: $gray_two;
                    font-weight: 500;
                }
            }
        }
    }
}

@media only screen and (min-width: 960px){
    #tabs_sidebar {
        flex-flow: row nowrap;
        #menu_tabs {
            width: 35vw;    
            margin-right: 30px;
        }
        .menu_items {
            $w: 53vw;
            $c: 1;
            $g: getVar($sizing, gutter, vw, small);
            $s: true;
            @include gridLayout($w, $c, $g, $s);
            .image_prov {
                max-width: 26vw;
                max-height: 26vw;
            }
        }
        .menu_text_half {
            .menu_items {
                $w: 53vw;
                $c: 2;
                $g: getVar($sizing, gutter, vw, small);
                $s: true; 
                @include gridLayout($w, $c, $g, $s);
                .image_prov {
                    max-width: 50vw;
                    max-height: 50vw;
                }
            }
        }
        .menu_text_list_left {
            .menu_items {
                $w: 53vw;
                $c: 1;
                $g: getVar($sizing, gutter, vw, small);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
            }
        }
        .menu_text_sub_group_half {
            flex-flow: row wrap;
            > div {
                width: 26vw;
                .menu_items {
                    > ul {
                        width: 26vw;
                        > li {
                            max-width: 25vw;   
                        }
                    }
                    .image_prov {
                        max-width: 25vw;
                    }
                }
            }
        }
        .menu_photo_tiled_x3 {
            .menu_items {
                $w: 53vw;
                $c: 2;
                $g: getVar($sizing, gutter, vw, small);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
            }
        }
        .menu_section {
            width: 53vw;
        }   
    }
    #tabs_pills, #tabs_divider {
        #menu_tabs > h5 {
            display: inline-block;
        }
        .menu_items {
            .image_prov {
                max-width: 26vw;
                max-height: 26vw;
            }
        }
        .menu_text_sub_group_half {
            flex-flow: row wrap;
            > div {
                width: 46vw;
                .menu_items {
                    > ul {
                        width: 45vw;
                        > li {
                            max-width: 45vw;   
                        }
                    }
                    .image_prov {
                        max-width: 26vw;
                    }
                }
            }
        }
        .menu_photo_tiled_x3 {
            .menu_items {
                $w: getVar($sizing, content, full);
                $c: 3;
                $g: getVar($sizing, gutter, vw, small);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
            }
        }
    }
}

@media only screen and (min-width: 1280px){
    #tabs_sidebar {
        width: getVar($sizing, content, medium);
        .menu_items {
            $w: 45vw;
            $c: 1;
            $g: getVar($sizing, gutter, vw, small);
            $s: true;
            @include gridLayout($w, $c, $g, $s);
            .image_prov {
                max-width: 22vw;
                max-height: 22vw;
            }
        }
        .menu_text_half {
            .menu_items {
                $w: 45vw;
                $c: 2;
                $g: getVar($sizing, gutter, vw, small);
                $s: true; 
                @include gridLayout($w, $c, $g, $s);
            }
        }
        .menu_text_list_left { 
            .menu_items {
                $w: 45vw;
                $c: 1;
                $g: getVar($sizing, gutter, vw, small);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
            }
        }
        .menu_text_sub_group_half {
            &.menu_section {
                width: 85.2vw;
            }
            > div {
                width: 22vw;
                .menu_items {
                    > ul {
                        width: 21vw;
                        > li {
                            max-width: 21vw;   
                        }
                    }
                    .image_prov {
                        max-width: 21vw;
                    }
                }
            }
        }
        .menu_photo_tiled_x3 {
            .menu_items {
                $w: 45vw;
                $c: 3;
                $g: getVar($sizing, gutter, vw, small);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                .menu_item {
                    min-height: 400px;
                }
            }
        }
        .menu_section {
            width: 45vw;
        }
    }
    #tabs_pills, #tabs_divider {
        width: getVar($sizing, content, medium);
        .menu_items {
            $w: 65vw;
            $c: 1;
            $g: getVar($sizing, gutter, vw, small);
            $s: true;
            @include gridLayout($w, $c, $g, $s);
            .image_prov {
                max-width: 20vw;
                max-height: 20vw;
            }
        }
        .menu_text_half {
            .menu_items {
                $w: getVar($sizing, content, medium);
                $c: 2;
                $g: getVar($sizing, gutter, vw, small);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                .image_prov {
                    max-width: 20vw;
                    max-height: 20vw;
                }
            }
        }
        .menu_photo_tiled_x3 {
            .menu_items {
                $w: 65vw;
                $c: 4;
                $g: getVar($sizing, gutter, vw, small);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                .menu_item {
                    min-height: 400px;
                }
            }
        }
        .menu_text_sub_group_half {
            &.menu_section {
                width: 65vw;
            }
            > div {
                width: 32vw;
                .menu_items {
                    > ul {
                        width: 31vw;
                        > li {
                            max-width: 31vw;   
                        }
                    }
                    .image_prov {
                        max-width: 20vw;
                        max-height: 20vw;
                    }
                }
            }
        }
    }
}