@media only screen {
    // Menu Area
    section#mod_menu {
        // Menu Section
        .menu_section {
            display: none;
            max-width: 1280px;
        }
        // Menu section unordered list
        .menu_section ul {
            list-style: none;
        }
        // Active menu section
        .active_menu_section {
            display: block;
        }
        // Menu Text 1/2
        .menu_text_half {
            // Menu header
            .menu_header {
                text-align: center;
            }
            // Menu header title text
            .menu_header > h2 {
                margin: 9px 0 0;
                text-transform: uppercase;
                font-weight: 700;
                position: relative;
                font-size: 44px;
            }
            // Menu header title text span
            .menu_header > h2 > span {
                background: $white;
                padding: 0 15px;
            }
            // Menu header title text before line 
            .menu_header > h2:before {
                border-top: 1px solid $gray_one;
                bottom: 0;
                content: "";
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                top: 50%;
                z-index: -1;
            }
            // Menu header description
            .menu_header > p {
                margin-bottom: 20px;
                font-family: "Times New Roman";
                line-height: 1em;
                font-style: italic;
                font-size: 24px;
                font-weight: 500;
                color: $gray_three;
            }
            // Menu items 
            .menu_items > ul > li {
                margin-bottom: 20px;
            }
            // Menu items titles
            .menu_items > ul > li > h3 {
                display: flex;
                font-size: 26px;
                font-weight: 700;
                justify-content: space-between;
                border-bottom: 3px solid $accent;
                padding-bottom: 15px;
                margin-bottom: 15px;
            }
            // Menu items prices
            .menu_items > ul > li > h3 > span {
                color: $gray_three;
                font-weight: 600;
            }
            // Menu items description
            .menu_items > ul > li > p {
                font-size: 18px;
                color: $gray_three;
            }
            // Menu item image
            .menu_items > ul > li > .image_prov {
                height: 300px;
                max-width: 400px;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                margin-bottom: 15px;
            }
        }
        // Menu Text List Left
        .menu_text_list_left {
            // Menu header
            .menu_header {
                text-align: left;
                border-bottom: 5px dotted green;
                margin-bottom: 30px;
            }
            .menu_header > h2 {
                text-transform: capitalize;
                font-weight: 800;
                letter-spacing: -1px;
                font-family: "Times New Roman";
                line-height: 1em;
                font-size: 44px;
            }
            .menu_header > p {
                font-style: italic;
                font-size: 24px;
                font-family: "Times New Roman";
                line-height: 1em;
                font-weight: 500;
                color: $gray_three;
                padding-bottom: 15px;
            }
            .menu_items > ul > li {
                margin-bottom: 20px;
            }
            .menu_items > ul > li > h3 {
                text-transform: uppercase;
                display: flex;
                font-size: 26px;
                font-weight: 700;
                justify-content: space-between;
            }
            .menu_items > ul > li > p {
                font-size: 24px;
                font-family: "Times New Roman";
                line-height: 1em;
                color: $gray_three;
                font-style: italic;
            }
            // Menu item image
            .menu_items > ul > li > .image_prov {
                height: 300px;
                max-width: 400px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center left;
                margin-bottom: 15px;
            }
        }
        // Menu Text List Center 
        .menu_text_list_center {
            // Menu header
            .menu_header {
                text-align: center;
                border-bottom: 3px solid green;
                margin-bottom: 30px;
            }
            .menu_header > h2 {
                font-size: 44px;
                text-transform: capitalize;
                font-weight: 800;
                letter-spacing: -1px;
            }
            .menu_header > p {
                font-style: italic;
                font-size: 24px;
                font-family: "Times New Roman";
                line-height: 1em;
                font-weight: 500;
                color: $gray_three;
                padding-bottom: 15px;
            }
            .menu_items {
                text-align: center;
            }
            .menu_items > ul > li {
                margin-bottom: 20px;
            }
            .menu_items > ul > li > h3 {
                font-size: 26px;
                font-weight: 800;
                text-transform: uppercase;
                margin-bottom: 5px;
            }
            .menu_items > ul > li > h3 > span {
                font-weight: 500;
            }
            .menu_items > ul > li > h3 > span:before {
                content: "";
                border-left: 2px solid $gray_three;
                margin: 0 15px 0 10px;
            }
            .menu_items > ul > li > p {
                font-size: 24px;
                font-family: "Times New Roman";
                line-height: 1em;
                color: $gray_three;
                font-style: italic;
            }
            // Menu item image
            .menu_items > ul > li > .image_prov {
                height: 300px;
                max-width: 400px;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                margin-bottom: 15px;
            }
        }
        // Menu Photo List 
        .menu_photo_list {
            font-size: 16px;
            .menu_header {
                
            }
        }
        // Menu Content
        .menu_content {
            padding: 0 20px;
            margin-bottom: 20px;
        }
        // Menu with Tabs Side Menu
        #tabs_side_menu {
            max-width: $nav_maxwidth;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-flow: column nowrap;
            // Menu tabs
            #menu_tabs {
                font-size: 14px;
                text-align: center;
                margin-bottom: 15px;
            }
            // Menu tabs titles
            #menu_tabs > h4 {
                display: block;
            }
            // Menu tabs links
            #menu_tabs > h4 > a {
                padding: 10px 15px;
                color: $gray_two;
                border-bottom: 1px solid $gray_one;
                display: block;
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
            }
            // Menu tabs links actions on active menu link, active and focus
            #menu_tabs > h4 > a.active_menu_link,
            #menu_tabs > h4 > a:active, 
            #menu_tabs > h4 > a:focus {
                background-color: $accent;
                color: $white;
                border-bottom: 1px solid $accent;
            }
            // Menu tabs links actions on hover
            #menu_tabs > h4 > a:hover {
                background-color: $gray_one;
                border-bottom: 1px solid transparent;
            }
        }
    }
}

@media only screen and (min-width: 768px){
    section#mod_menu {
        #tabs_side_menu {
            flex-flow: row nowrap;
            #menu_tabs {
                flex: 0 1 30%;
                margin: 0 30px 0 0;
            }
            .menu_section {
                flex: 0 1 70%;
            }
        }
    }
}

@media only screen and (min-width: 1000px){
    section#mod_menu {
        .menu_text_half .menu_items > ul {
            display: flex;
            flex-flow: row wrap;
        }
        .menu_text_half .menu_items > ul > li {
            flex: 0 1 50%;
        }
        .menu_text_half .menu_items > ul > li:nth-child(odd) {
            padding-right: 15px;
        }
        .menu_text_half .menu_items > ul > li:nth-child(even) {
            padding-left: 15px;
        }
    }
}

@media only screen and (min-width: $nav_maxwidth){
    section#mod_menu {
        .menu_content {
            padding: 0 10px;
        }
    }
}

