@media only screen {


    #mod_services {


        section.mod__services-featuredservice {
            $w: getVar($sizing, content, medium);
            $c: 3;
            $g: 2vw;
            $s: true;
            margin: getVar($sizing, gutter, px, large) auto;
            text-align: center;
            width: $w;

            .site_grid {
                @include gridLayout($w, $c, $g, $s);

                >ul {
                    >li {
                        border: 1px solid black;
                        text-align: center;
                        padding: 30px;
                        flex: 1 0 auto;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        justify-content: center;
                        min-height: 245px;
                        position: relative;

                        > .site__bgimg {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }

                        >h5 {
                            position: relative;
                            z-index: 9;
                            font-size: 2rem;
                            text-transform: uppercase;
                            color: white;
                        }

                        >h5,
                        >p {
                            margin-bottom: 10px;
                        }

                    }
                }
            }
        }

    }


}