@media only screen {
    #mod_services {
        div.container {
            margin: getVar($sizing, gutter, px, large) auto;
            width: getVar($sizing, content, full);
            text-align: center;
            section.mod__services-featuredservice {
                > h2 {
                    font-size: 4.5rem;
                    text-align: center;
                    margin: 40px 0 20px;
                    font-family: "Gotham", Helvetica, sans-serif;
                    text-transform: uppercase;
                    font-weight: 500;
                }
                > p {
                    color: #000;
                    font-weight: 400;
                    font-size: 18px;
                    text-align: center;
                    margin: 0 auto 40px auto;
                }
                .site_grid {
                    margin: 0 auto;
                    $w: getVar($sizing, content, medium);
                    $c: 1;
                    $g: getVar($sizing, gutter, vw, large);
                    $s: true;
                    @include gridLayout($w, $c, $g, $s);
                    >ul {
                        >li {
                            text-align: center;
                            display: flex;
                            flex-flow: column nowrap;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            >a {
                                color: $black;
                                &:hover, &:active, &:focus {
                                    color: $accent;
                                }
                                >div:first-of-type {
                                    width: 100%;
                                    div {
                                        max-width: 55vw;
                                        max-height: 55vw;
                                        background-size: cover;
                                        background-position: center center;
                                        background-repeat: no-repeat;
                                        margin: 0 auto;
                                        display: block;
                                        border-radius: 100%; 
                                        border: 5px solid #eee;
                                        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3); 
                                    }
                                }
                                >div:last-of-type{
                                    padding-top: 154px;
                                    position: relative;
                                    margin-top: -137px;
                                    background-color: #dedede;
                                    z-index: -1;
                                    border-radius: 20px;
                                    min-height: 400px;
                                    >h5,
                                    >p {
                                        padding: 0 30px;
                                    }
                                    >h5 {   
                                        margin: 10px 0 20px;
                                        font-family: "Gotham", Helvetica, sans-serif;
                                        font-size: 3.3rem;
                                        font-weight: 500;
                                    }
                                    >p{
                                        font-weight: 600;
                                        line-height: 30px;
                                        font-size: 14px;
                                    }
                                    >.service_price {
                                        font-family: "Gotham", Helvetica, sans-serif;
                                        font-weight: 500;
                                        font-size: 3.3rem;
                                        margin-top: 20px;
                                        padding-bottom: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
                > a.site__button {
                    margin: 0 auto;
                    background-color: $accent;
                    color: $white;
                    border: none;
                    font-size: 16px;
                    border-radius: 4px;
                    text-align: center;
                    padding: 15px 20px;
                    font-weight: 600;
                    line-height: initial;
                    height: auto;
                    &:hover,
                    &:active,
                    &:focus {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px){
    #mod_services {
        div.container {
            section.mod__services-featuredservice {
                .site_grid {
                    $w: getVar($sizing, content, medium);
                    $c: 2;
                    $g: 2vw;
                    $s: true;
                    @include gridLayout($w, $c, $g, $s);
                    > ul > li > a > div:first-of-type div {
                        max-width: 27vw;
                        max-height: 27vw;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1280px){
    #mod_services {
        div.container {
            width: getVar($sizing, content, medium);
            section.mod__services-featuredservice {
                .site_grid {
                    $w: getVar($sizing, content, medium);
                    $c: 3;
                    $g: 2vw;
                    $s: true;
                    @include gridLayout($w, $c, $g, $s);
                    > ul > li > a > div:first-of-type div {
                        max-width: 17vw;
                        max-height: 17vw;
                    }
                }
            }
        }
    }
}