@media only screen {
    #mod_testimonials {
        section.mod__testimonials-featuredtestimonial {
            >div.container {
                width: 86vw;
                ul {
                    width: 56vw;
                    margin: 0 auto;
                    .slick-list {
                        border: 3px solid #fff;
                        box-shadow: 0px 0px 0px 3px #e2e2e2; 
                        border-radius: 20px;    
                        background-color: #DEDEDE;
                    }
                    li {
                        border-radius: 20px;
                        &.testimonial_image {
                            display: flex;
                            flex-flow: column nowrap;
                        }
                        .testimonial_content {
                            text-align: left;
                            padding: 15px 30px;
                            min-height: 250px;
                            > div {
                                display: flex;
                                align-items: center;
                                border-bottom: 4px dotted #fff;
                                padding-bottom: 10px;
                                margin-bottom: 10px;
                                flex-flow: column nowrap;
                                > h3 {
                                    display: inline-block;
                                    text-decoration: none;
                                    color: black;
                                    text-align: left;
                                    font-weight: 500;
                                    font-family: "Gotham", "Helvetica", sans-serif;
                                    @include fontS-24;
                                }
                                > p {
                                    text-align: justify;
                                    @include fontS-24;
                                    margin: 0 10px;
                                    line-height: 35px;
                                }
                                > i {
                                    order: -1;
                                    margin-left: auto;
                                    color: $white;
                                    margin-bottom: 15px;
                                    @include fontS-24;
                                }
                            }
                            > p {
                                @include fontS-14;
                                color: #858585;
                                font-weight: 500;
                                margin-bottom: 10px;
                            }
                        }

                    }   
                    > .testimonial_prev, >.testimonial_next {
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        line-height: 0px;
                        font-size: 80px;
                        top: 50%;
                        cursor: pointer;
                        color: #d6d6d6;
                        transform: translate(0,-50%);
                        padding: 0;
                        border: none;
                        outline: none;
                        background: transparent;
                    }
                    > .testimonial_prev {
                        left: -100px;
                    }
                    > .testimonial_next {
                        right: -60px;
                    }
                }
                .block {
                    height: 250px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                a.site__button {
                    margin-top: 30px;
                }
            }
        }
    }   
}

@media only screen and (min-width: 640px){
    #mod_testimonials {
        section.mod__testimonials-featuredtestimonial {
            >div.container {
                width: 72vw;
            }
        }
    }
}

@media only screen and (min-width: 960px){
    #mod_testimonials {
        section.mod__testimonials-featuredtestimonial {
            >div.container {
                ul {
                    li {
                        &.testimonial_image {
                            display: flex;
                            flex-flow: row nowrap;
                        }
                    }
                }
                .block {
                    flex: 1 0 50%;
                    height: initial;
                }
            }
        }
    }                      
}

@media only screen and (min-width: 1280px){
    #mod_testimonials {
        section.mod__testimonials-featuredtestimonial {
            >div.container {
                width: 59vw;
                ul {
                    width: 40vw;
                    li {
                        > .testimonial_content {
                            > div {
                                flex-flow: row nowrap;
                                > i {
                                    order: 0;
                                }
                            }
                        }
                    }
                }
                .block {
                    flex: 1 0 35%;
                }
            }
        }
    }
}