@media only screen {
    //Header 9
    header#opt_header_nine {
        padding: 0px;
        .outer_div {
            background-color: $accent;
        }
        //Top bar including (Address, phone number and social icons)
        .inner_div {
            max-width: $max_width;
            margin: 0 auto;
            background-color: $accent;
            height: 50px;
            display: flex;
            align-items: center;
            //Address and phone number link 
            > .site__iconlink {
                padding: 0 10px;
                line-height: 50px;
                color: $white;
                // Icons
                &:before {
                    margin-right: 10px;
                }
            }
            // Phone, Address and Social Media links
            > .site__iconlink,
            > ul > li > a {
                color: white;
                opacity: $opacity_level_below_one;
                transition: opacity 0.3s;
            }
            // Phone and Address links
            > .site__iconlink:hover,
            > .site__iconlink:active,
            > .site__iconlink:focus,
            // Social Media links
            > ul > li > a:hover,
            > ul > li > a:active,
            > ul > li > a:focus {
                opacity: 1;
            }
            //Social icons unordered list
            > ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                margin-left: auto;
                font-size: 16px;
                color: $white;
            }
            // Social icons list items
            > ul > li {
                margin-right: 10px;
            }
            // Last social icon
            > ul > li:last-of-type {
                margin-right: 0;
            }
            //Social icons unordered list items links
            > ul > li > a {
                padding: 0 10px;
                line-height: 50px;
                display: inline-block;
                color: $white;
            }
        }
        //Bottom part including logo and navigational menu and quote button
        > div:last-of-type {
            background-color: $black_and_opacity_level_below_one;
            .inner_div {
                display: flex;
                align-items: center;
                background-color: transparent;
                height: 110px;
                margin: 0 auto;
                max-width: $max_width;
                //Logo link
                .custom-logo-link {
                    padding: 10px;
                    margin-right: auto;
                    > .custom-logo {
                        max-height: 90px;
                    }
                }
                
                //Navigational menu 
                > nav {
                    display: flex;
                    align-items: center;
                }
                //Navigational menu unordered list
                > nav > ul {
                    list-style: none;
                }
                //Navigational menu unordered list items
                > nav > ul > li {
                    margin-right: 20px;
                }
                > nav > ul > li:last-of-type {
                    margin-right: 0;
                }
                //Navigational menu unordered list items links
                > nav > ul > li > a {
                    padding: 0;
                    border-bottom: 2px solid rgba(255, 255, 255, 0);
                    color: $white;
                    line-height: 50px;
                    display: inline-block;
                    text-transform: uppercase;
                }
                //Navigational menu unordered list items links actions on hover, active and focus
                > nav > ul > li > a:hover,
                > nav > ul > li > a:active,
                > nav > ul > li > a:focus,
                .active_menu_link {
                    border-bottom: 2px solid rgba(255, 255, 255, 1);
                }
                //Quote button link
                .site__button-quote {
                    padding: 20px 30px;
                    border-radius: 10px;
                    border: 2px solid $white;
                    color: $white;
                    background-color: rgba(255, 255, 255, 0);
                    transition: color 0.3s, border 0.3s, background-color 0.3s;
                    //Quote button link actions on hover, active and focus
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }
}
