@media only screen {
    header#opt_header_four {
        padding: 0px;
        //Top part of header
        > div {
            padding: 0 5%;
            background-color: $black;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            height: 110px;
            > .custom-logo-link {
                padding: 10px;
                > .custom-logo {
                    max-height: 90px;
                }
            }
            > ul {
                height: 85px;
            }
            //Social icons underordered list and phone number section
            > ul, 
            > span {
                flex: 0 1 auto;
                font-size: 1.6rem;

            }
            //Social icons list items
            > ul > li {
                display: inline-block;
                margin: 0 10px;
            }
            //Social icons list items links
            > ul > li > a {
                font-size: 16px;
                border-radius: 50%;
                display: inline-block;
                padding: 0 10px;
                text-align: center;
                overflow: hidden;
                color: $white;
                transition: color 0.3s;
                line-height: 85px;
            }
            //Social icons list items links actions on hover, active and focus 
            > ul > li > a:hover,
            > ul > li > a:active,
            > ul > li > a:focus {
                color: getVar($colors, primary);
            }
            //Phone number link
            > .site__iconlink-phone {
                padding: 0 10px;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 1px;
                border-bottom: 1px solid transparent;
                opacity: $opacity_level_below_one;
                transition: opacity 0.3s;
                color:$white;
                line-height: 85px;
                display: inline-block;
                &:before {
                    margin-right: 10px;
                }
            }
            //Phone number link actions on hover, active and focus
            > .site__iconlink-phone:hover,
            > .site__iconlink-phone:active,
            > .site__iconlink-phone:focus {
                opacity: 1;
            }
        }
        // Nav bar
        > nav {
            padding: 0 10%;
            height: 50px;
            //Navigational menu unordered list
            > ul {
                position: relative;
                width: 100%;
                background-color: getVar($colors, primary);
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
            }
            //Navigational menu list items
            > ul > li {
                flex: 0 1 auto;
                display: inline-block;
                vertical-align: middle;
            }
            //Navigational menu list items links 
            > ul > li > a {
                text-decoration: none;
                color: $nav_4_menu_text;
                text-transform: uppercase;
                padding: 0 10px; 
                font-size: 13px;
                line-height: 50px;
                letter-spacing: 1px;
                opacity: $opacity_level_below_one;
                display: inline-block;
            }
            //Navigational menu list items links actions on hover, active and focus
            > ul > li > a:hover,
            > ul > li > a:active,
            > ul > li > a:focus {
                opacity: 1;
            }
            //Shapes before and after the navigational menu
            > ul:before,
            > ul:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: -70px;
                width: 100px;
                height: 100%;
                flex: 1 0 auto;
                top: 0;
                background-color: getVar($colors, primary);
                transform: skewX(37deg);
                z-index: -1;
            }
            //Shape after the navigational menu
            > ul:after {
                transform: skewX(-37deg);
                left: auto;
                right: -70px;
            }
        }
    }
}