$nav2_width : 1050px;

@media only screen { 
    //Header 2
    header#opt_header_two {
        flex-flow: row nowrap;
        padding: 0px;
        justify-content: space-between;
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
        background-color: $third_black;
        //Select top and bottom part of header
        > div {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            justify-content: space-around;
            background-color: $third_black;
            max-width: $nav2_width;
            margin: 0 auto;
            height: 85px;
            // Logo 
            > .custom-logo-link {
                margin-right: auto;
                margin-left: -15px;
                padding: 10px;
                > .custom-logo {
                    max-height: 75px;
                }
            }
            //Sections of phone number and nav bar
            > div {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-end;
            }
            //Phone number link
            > div > a {
                display: inline-block;
                text-align: right;
                font-size: 24px;
                padding: 0 5px;
                letter-spacing: 0.5px;
                margin-right: -10px;
                color: $nav_2_top_bar_phone;
                margin-bottom: 5px;
                //Phone number link icon
                > i {
                    display: none;
                }
            }
            //Menu items navigation element
            > div > nav {
                margin-right: -10px;
            }
            //Menu items unordered list items links
            .navlinks-item-link {
                font-size: 14px;
                padding: 0 5px;
                color: $nav_2_menu_text;
                display: inline-block;
                text-transform: uppercase;
                margin-right: 0px;
            }
            //Quote button link
            .site__button-quote {
                background-color: $accent;
                font-size: 16px;
                border-radius: 4px;
                text-align: center;
                padding: 15px 20px;
                font-weight: 600;
            }
        }
        //Phone number
        > div > div > a,
        //Nav bar
        > div > div > nav > ul > li > a,
        //Quote button link
        > div > a:last-of-type {
            transition: opacity 0.3s;
            //Actions on hover, focus and active of selected elements links above
            &:hover,
            &:focus,
            &:active,
            .active_menu_link {
                opacity: 0.8;
            }
        }
    }
}
