$nav5_width : 1050px;

@media only screen {
    //Header 5
    header#opt_header_five {
        padding: 0px;
        background-color: $black;
        //Top part of the header (social icons, address, phone number and quote button)
        > div:first-of-type {
            background-color: $black;
            color: $white;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 45px;
            max-width: $nav5_width;
            margin: 0 auto;
            //Social icons items list
            .site__social-media {
                list-style: none;
                display: flex;
                margin-right: auto;
                li {
                    margin-right: 5px;
                    a {
                        padding: 0 10px;
                        transition: color 0.3s;
                        color: $white;
                        display: inline-block;
                        //Social icons list items icons
                        > i {
                            font-size: 16px;
                        }
                        &:hover,
                        &:active,
                        &:focus {
                            opacity: 0.8;
                        }
                    }
                }
            }
            .site__social-media li a,
            > a,
            .site__button-quote {
                line-height: 45px;
            }
            // Immediate links in top part of header
            > a {
                padding: 0 15px;
            }
            //Quote button
            .site__button-quote {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 500;
                background-color: $accent;
                opacity: 1;
                transition: opacity 0.1s;
                color: $nav_5_quote_button;
                padding: 0 15px;
                margin: 0;
                height: 45px;
                border-radius: 0;
            }
            .site__iconlink-phone {
                letter-spacing: 0.5px;
                &:before {
                    transform: rotate(180deg);
                }
            }
            //Address link
            .site__iconlink-address,
            .site__iconlink-phone {
                font-size: 13px;
                transition: color 0.3s;
                color: #fff;
                font-weight: 500;
                display: flex;
                &:before {
                    margin-right:10px;
                    color: $accent;
                    font-size: 18px;
                }
            }
            .site__iconlink-address,
            .site__iconlink-phone,
            .site__social-media,
            .site__button-quote {
                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                }
            }
        }
        // Bottom bar of the header (logo and navigational menu)
        .outer_div {
            background-color: $white;
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
        }
        .inner_div {
            background-color: $white;
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            justify-content: space-between;
            max-width: $nav5_width;
            margin: 0 auto;
            height: 100px;
            //Logo 
            > .custom-logo-link {
                line-height: 100px;
                padding: 10px;
                > .custom-logo {
                    max-height: 90px;
                    max-width: 225px; 
                }
            }
            //Navigational menu unordered list
            .navlinks {
                display: flex;
                .navlinks-item {
                    margin-right: 0px;
                    //Navigational menu unordered list items links
                    .navlinks-item-link {
                        padding: 0 5px;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 16px;
                        transition: color 0.1s, background-color 0.1s;
                        display: inline-block;
                        color: $nav_5_menu_text;
                        line-height: 103px;
                        &:hover, 
                        &:active, 
                        &:focus {
                            background-color: $accent;
                            color: $white;
                            .active_menu_link { 
                                background-color: $accent;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}