@media only screen {
    //Header 7
    header#opt_header_seven {
        background-color: $white;
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
        padding: 0;
        // Top part of header
        > div {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            color: $black;
            height: 110px;
            align-items: center;
            max-width: $max_width;
            margin: 0 auto;
            //Social icons unordered list 
            > ul {
                display: flex;
                list-style: none;
            }
            //Social icons unordered list items
            > ul > li > a {
                padding: 0 15px;
                line-height: 85px;
                display: inline-block;
                color: $accent;
            }
            //Social icons and phone number sections
            > div, 
            > span {
                margin-top: 15px;
            } 
            // Logo link
            > .custom-logo-link {
                padding: 10px;
                > .custom-logo {
                    max-height: 90px;
                }
            }
            > .site__iconlink-phone {
                padding: 0 7px;
                line-height: 85px;
                color: $black;
                &:before {
                    transform: rotate(90deg);
                    margin-right: 10px;
                    color: $accent;
                }
            }
        }
        //Bottom part of header
        > nav {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            height: 50px;
            max-width: $max_width;
            margin: 0 auto;
            //Line above navigational menu and below logo
            &:before {
                content: "";
                position: relative;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 100%;
                border-bottom: 2px solid $accent;
            }
            //Navigational menu unordered list
            > ul {
                list-style: none;
                display: flex;
                align-items: center;
            }
            //Navigational menu unordered list items
            > ul > li {
                margin-right: 0px;
            }
            > ul > li > a {
                padding: 0 10px;
                line-height: 50px;
                display: inline-block;
                color: $black;
                //Actions on hover, active and focus
                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                }
            }
        }
        //Social icons links
        div > ul > li > a {
            //Actions on hover, active and focus
            &:hover,
            &:active,
            &:focus {
                color: $black;
            }
        }
        //Social icons links
        div > ul > li > a {
            transition: color 0.3s;
        }
    }
}