$nav3_width : 1200px;

@media only screen {
    header#opt_header_three {
        max-width: $nav3_width;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        //Top part of header
        > div:first-of-type {
            background-color: $accent;
            color: $white;
            display: flex;
            flex-flow: row nowrap;
            height: 52px;
            .site__iconlink:before {
                font-size: 13px;
                position: relative;
                top: -1px;
            }
            .site__iconlink-phone:before {
                transform: rotate(90deg);
            }
            //Section of address and phone number
            > span { 
                text-align: center;
                margin-left: 40px;
                display: flex;
                align-items: center;
                //Links of address and phone number
                a {
                    font-size: 15px;
                    padding: 0 10px;
                    opacity: $opacity_level_below_one;
                    transition: opacity 0.3s;
                    color: $nav_3_top_bar_text;
                    line-height: 52px;
                    display: inline-block;
                    //Links of address and phone number actions on hover, active and focus
                    &:hover, 
                    &:active,
                    &:focus {
                        opacity: 1;
                        //Icons of links of address and phone number actions on hover, active and focus
                        > i {
                            color: white;
                        }
                    }
                    //Address and phone number icon
                    &:before {
                        color: $black;
                        margin-right: 20px; 
                        font-size: 16px;
                        transition: color 0.3s;
                    }
                }
            } 
            
            //Quick quote button 
            > .site__button-quote {
                background-color: $black;
                padding: 0 20px;
                text-align: center;
                font-size: 16px;
                text-transform: uppercase;
                transition: background-color 0.3s;
                line-height: 52px;
                color: $white;
                margin-right: 40px;
                margin-left: auto;
                display: flex;
                &:after {
                    color: $accent;
                    margin-left: 10px;
                    content: "\f105";
                    font-size: 20px;
                    display: inline-block;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                }
                //Quick quote button actions on hover, active and focus
                &:hover,
                &:active,
                &:focus {
                    background-color: $second_black;
                }
            }
        }
        //Bottom part of header
        > div:last-of-type {
            background-color: white;
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 88px;
            > .custom-logo-link {
                padding: 10px;
                margin-left: 40px;
                > .custom-logo {
                    max-height: 75px;
                }
            }
            // Nav menu unordered list
            .navlinks {
                height: 88px;
                float: right;
                margin-right: 40px;
                //Navigational menu unordered list items 
                .navlinks-item {
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    margin-right: 0;
                    //Navigational menu unordered list item links
                    .navlinks-item-link {
                        padding: 0 5px;
                        color: $black;
                        line-height: 88px;
                        display: inline-block;
                        font-size: 1.5rem;
                        font-weight: 500;
                        //Navigational menu unordered list items links actions on hover, focus and active 
                        &:hover,
                        &:active,
                        &:focus {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}