@media only screen {
    //Header 6
    header#opt_header_six {
        padding: 0px;
        background-color: $accent;
        //First div element, parent of address and phone number section and social icons section
        > div:first-of-type {
            display: flex;
            background-color: $accent;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            max-width: $max_width;
            margin: 0 auto;
            // Address and Phone number
            .site__iconlink-phone,
            .site__iconlink-address {
                color: $white;
                margin-right: 10px;
                font-size: 16px;
                padding: 0 10px;
                color: $nav_6_top_bar_text;
                line-height: 50px;
                display: inline-block;
                // Icon
                &:before {
                    font-size: 18px;
                    margin-right: 10px;
                }
            }
            // Address
            .site__iconlink-address {
                margin-right: auto;
            }
            //Social icons unordered list
            .site__social-media {
                list-style: none;
            }
            //Social icons unordered list items 
            .site__social-media > li {
                font-size: 16px;
                color: white;
                display: inline-block;
                margin-right: 10px;
            }
            // Last social icon
            .site__social-media > li:last-of-type {
                margin-right: 0px;
            }
            //Social icons unordered list items links
            .site__social-media > li > a {
                padding: 0 10px;
                color: $header_icons_color;
                line-height: 50px;
                display: inline-block;
            }
        }
        //Bottom part including logo and navigational menu and quote button
        >div:last-of-type {
            background-color: white;
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 110px;
            //Logo link
            .custom-logo-link {
                padding: 10px;
                margin-right: auto;
                margin-left: -10px; 
                > .custom-logo {
                    max-height: 90px;
                }
            }
            //Navigational meu
            > nav {
                display: flex;
                align-items: center;
                width: 100%;
                max-width: 1050px;
            }
            //Navigational menu unordered list
            .navlinks {
                list-style: none;
            }
            //Navigational menu unordered list items
            .navlinks-item {
                margin-right: 15px;
            }
            // Last menu link
            .navlinks-item:last-of-type {
                margin-right: 0;
            }
            //Navigational menu unordered list items links
            .navlinks-item-link {
                padding: 0 10px;
                border-bottom: 2px solid rgba(233, 29, 98, 0);
                color: $nav_6_menu_text;
                line-height: 50px;
                display: inline-block;
            }
            //Navigational menu unordered list items links actions on hover, active and focus
            .navlinks-item-link:hover,
            .navlinks-item-link:active, 
            .navlinks-item-link:focus {
                border-bottom: 2px solid $accent;
            }
            //Quote button link
            .site__button-quote {
                padding: 10px 20px;
                border-radius: 20px;
                background-color: $accent;
                color: $nav_6_quote_button_text;
            }            
        }
        //Phone number and address links
        div:first-of-type> a:first-of-type,
        div:first-of-type> a:nth-of-type(2),
        //Social icons unordered list items links
        .site__social-media > li > a,
        //Quote button link
        .site__button-quote {
            opacity: $opacity_level_below_one;
            transition: opacity 0.3s;
            &:hover,
            &:active,
            &:focus {
                opacity: 1;
            }
        }
    }
}