$nav5_width : 1050px;

@media only screen {
    //Header 5
    header#opt_header_five {
        padding: 0px;
        background-color: $black;
        //Top part of the header (social icons, address, phone number and quote button)
        > div:first-of-type {
            background-color: $black;
            color: $white;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 45px;
            max-width: $nav5_width;
            margin: 0 auto;
            //Social icons items list
            .site__social-media {
                list-style: none;
                display: flex;
                margin-right: auto;
            }
            //Social icons items list items
            .site__social-media li {
                margin-right: 5px;
            }
            .site__social-media li a,
            > a,
            > .site__button-quote {
                line-height: 45px;
            }
            //Social icons list items links
            .site__social-media li a {
                padding: 0 10px;
                transition: color 0.3s;
                color: $white;
                display: inline-block;
                //Social icons list items icons
                > i {
                    font-size: 16px;
                }
                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                }
            }
            // Immediate links in top part of header
            > a {
                padding: 0 15px;
            }
            //Address link
            .site__iconlink-address,
            .site__iconlink-phone {
                font-size: 13px;
                transition: color 0.3s;
                color: #fff;
                font-weight: 500;
                display: flex;
                &:before {
                    margin-right:10px;
                    color: $accent;
                    font-size: 18px;
                }
            }
            .site__iconlink-phone {
                letter-spacing: 0.5px;
            }
            .site__iconlink-phone:before {
                transform: rotate(180deg);
            }
            //Address link actions on hover, active and focus
            > .site__iconlink-address:hover,
            > .site__iconlink-address:active, 
            > .site__iconlink-address:focus, 
            
            //Phone number link actions on hover, active and focus
            > .site__iconlink-phone:hover,
            > .site__iconlink-phone:active,
            > .site__iconlink-phone:focus,

            //Social icons list items links actions on hover, active and focus
            .site__social-media > a:hover,
            .site__social-media > a:active,
            .site__social-media > a:focus {
                opacity: 0.8;
            }
            //Quote button
            > .site__button-quote {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 500;
                background-color: $accent;
                opacity: 1;
                transition: opacity 0.1s;
                color: $nav_5_quote_button;
                padding: 0 15px;
                margin: 0;
                height: 45px;
            }
            //Quote button actions on hover, active and focus
            > .site__button-quote:hover, 
            > .site__button-quote:active,
            > .site__button-quote:focus {
                opacity: 0.8;
            }
        }
        // Bottom bar of the header (logo and navigational menu)
        .outer_div {
            background-color: $white;
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
        }
        .inner_div {
            background-color: $white;
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            justify-content: space-between;
            max-width: $nav5_width;
            margin: 0 auto;
            height: 100px;
            //Logo 
            > .custom-logo-link {
                line-height: 100px;
                padding: 10px;
                > .custom-logo {
                    max-height: 90px;
                    max-width: 225px; 
                }
            }
            //Navigational menu unordered list
            .navlinks {
                display: block;
            }
            .navlinks-item {
                margin-right: 0px;
            }
            //Navigational menu unordered list items links
            .navlinks-item-link {
                padding: 0 5px;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 16px;
                transition: color 0.1s, background-color 0.1s;
                display: inline-block;
                color: $nav_5_menu_text;
                line-height: 103px;
            }
            //Navigational menu unordered list items links actions on hover, active and focus
            .navlinks-item-link:hover, 
            .navlinks-item-link:active, 
            .navlinks-item-link:focus,
            .active_menu_link { 
                background-color: $accent;
                color: $white;
            }
        }
    }
}