@media only screen {

    //Header 1
    header#opt_header_one {
        padding: 0px;
        display: block;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        //Common scss for top part and bottom part of header
        >div {
            width: 100%;
            padding: 0 5%;
            //Common scss of top part and bottom part of header first div 
            >div {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-around;
                margin: 0 auto;
                max-width: $nav_maxwidth;
            }
        }
    }

    header#opt_header_one>div:first-of-type {
        //Top part of header
        background-color: $nav_1_top_bar_background;
        color: $nav_1_top_bar_text;
        height: 85px;
        display: flex;
        > a:first-of-type {
            margin-right: auto;
        }
        > a.site__iconlink-address,
        > a.site__iconlink-phone {
            line-height: 85px;
        }
    }

    header#opt_header_one {
        //Navigational menu
        >nav {
            align-items: center;
            display: flex;
            flex: 1 0 85%;
            text-transform: uppercase;
            padding: 0 5%;
            background-color: $nav_1_bottom_bar_background;
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
            height: 50px;
        }

        //Navigational menu links
        >nav>ul>li>a {
            display: block;
            font-weight: 500;
            color: $nav_1_menu_text;
            padding: 0 10px;
            line-height: 50px;
        }

        //Navigational menu actions on hover, active and focus
        >nav>ul>li>a:hover,
        >nav>ul>li>a:active,
        >nav>ul>li>a:focus {
            background-color: $accent;
            color: white;
        }

        //Navigational menu list items
        >nav>ul>li {
            margin-right: 0px;
        }

        //Social icons underordered list 
        >ul {
            flex: 1 0 auto;
            list-style: none;
            flex-wrap: nowrap;
            align-items: center;
            display: flex;
        }

        //Social icons list items
        >ul>li {
            flex: 1 0 auto;
            position: relative;
            padding: 2px;
        }

        //Social icons list items links
        >ul>li>a {
            padding: 7px 10px;
            transition: color 0.3s;
            font-size: 16px;
            color: $header_icons_color;
        }

        //Social icons list items actions on hover, active and focus
        >ul>li>a:hover,
        >ul>li>a:active,
        >ul>li>a:focus {
            color: $accent;
        }

        //Last social icon list item
        >ul>li:last-of-type {
            padding-right: 0;
        }
    }
}