@media only screen {
    header#opt_header_three {
        padding: 0 5%;
        //Top part of header
        > div:first-of-type {
            background-color: $accent;
            color: $white;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            padding: 0 3.5%;
            height: 50px;
            //Section of address and phone number
            > span { 
                flex: 1 0 80%;
            } 
            //Address and phone number icon
            > span a i {
                color: $black;
                margin-right: 10px;
                font-size: 2rem;
                transition: color 0.3s;
                line-height: 50px;
            }
            //Links of address and phone number
            > span a {
                font-size: 1.6rem;
                padding: 0 10px;
                opacity: $opacity_level_below_one;
                transition: opacity 0.3s;
                color: $nav_3_top_bar_text;
                line-height: 50px;
                display: inline-block;
                margin-right: 26%;
            }
            //Links of address and phone number actions on hover, active and focus
            > span a:hover, 
            > span a:active,
            > span a:focus {
                opacity: 1;
                //Icons of links of address and phone number actions on hover, active and focus
                > i {
                    color: white;
                }
            }
            //Quick quote button icon
            > a i {
                color: getVar($colors, primary);
                font-size: 2rem;
                font-weight: bold;
                position: relative;
                top: 2px;
                left: 5px;
            }
            //Quick quote button 
            > a {
                background-color: $black;
                padding: 0 40px;
                text-align: center;
                font-size: 1.6rem;
                text-transform: uppercase;
                transition: background-color 0.3s;
                line-height: 50px;
                color: $white;
            }
            //Quick quote button actions on hover, active and focus
            > a:hover,
            > a:active,
            > a:focus {
                background-color: $second_black;
            }
        }
        //Bottom part of header
        > div:last-of-type {
            background-color: white;
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
            height: 90px;
            padding: 0 3.5%;
            // Logo
            > a {
                height: 90px;
            }
            // Nav menu unordered list
            > ul {
                line-height: 90px;
                float: right;
            }
            //Navigational menu unordered list items 
            > ul > li {
                font-size: 1.6rem;
                text-transform: uppercase;
                margin-right: 0;
            }
            //Navigational menu unordered list item links
            > ul > li > a {
                padding: 0 7px;
                opacity: 0.8;
                color: $black;
                line-height: 90px;
                display: inline-block;
            }
            //Navigational menu unordered list items links actions on hover, focus and active 
            > ul > li > a:hover,
            > ul > li > a:active,
            > ul > li > a:focus {
                opacity: 1;
            }
        }
    }
}