@media only screen {
    //Header 5
    header#opt_header_five {
        padding: 0px;
        //Top part of the header (social icons, address, phone number and quote button)
        > div:first-of-type {
            background-color: $black;
            color: $white;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 0 5%;
            height: 50px;
            //Social icons items list
            > ul {
                list-style: none;
                display: flex;
                margin-right: auto;
            }
            //Social icons items list items
            > ul > li {
                margin-right: 10px;
            }
            //Social icons list items links
            > ul > li > a {
                padding: 0 10px;
                transition: color 0.3s;
                color: $white;
                display: inline-block;
                line-height: 50px;
                //Social icons list items icons
                > i {
                    font-size: 16px;
                }
            }
            // Immediate links in top part of header
            > a {
                line-height: 50px;
                padding: 0 15px;
            }
            //Address link
            > a:first-of-type {
                font-size: 14px;
                transition: color 0.3s;
                color: #fff;
                &:before {
                    margin-right:10px;
                }
            }
            //Address link actions on hover, active and focus
            > .site__iconlink-address:hover,
            > .site__iconlink-address:active, 
            > .site__iconlink-address:focus, 
            
            //Phone number link actions on hover, active and focus
            > .site__iconlink-phone:hover,
            > .site__iconlink-phone:active,
            > .site__iconlink-phone:focus,

            //Social icons list items links actions on hover, active and focus
            > ul > li > a:hover,
            > ul > li > a:active,
            > ul > li > a:focus {
                color: $accent;
            }
            //Phone number link
            > .site__iconlink-phone {
                font-size: 14px;
                transition: color 0.3s;
                color: #fff;
                &:before {
                    margin-right: 10px;
                }
            }
            //Quote button
            > .site__button-quote {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 500;
                background-color: $accent;
                opacity: $opacity_level_below_one;
                transition: opacity 0.1s;
                color: $nav_5_quote_button;
            }
            //Quote button actions on hover, active and focus
            > .site__button-quote:hover, 
            > .site__button-quote:active,
            > .site__button-quote:focus {
                opacity: 1;
            }
        }
        // Bottom bar of the header (logo and navigational menu)
        >div:last-of-type {
            background-color: $white;
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 0 5%;
            height: 110px;
            //Logo 
            > .custom-logo-link {
                line-height: 100px;
                margin-left: -15px;
                padding: 10px;
                > .custom-logo {
                    max-height: 90px;
                }
            }
            //Navigational menu unordered list
            > nav > ul {
                display: block;
            }
            //Navigational menu unordered list items
            > nav > ul > li {
                margin-right: 0;
            }
            //Navigational menu unordered list items links
            > nav > ul > li > a {
                padding: 0 15px;
                text-transform: uppercase;
                font-weight: 500;
                transition: color 0.1s, background-color 0.1s;
                display: inline-block;
                color: $nav_5_menu_text;
                line-height: 110px;
            }
            //Navigational menu unordered list items links actions on hover, active and focus
            > nav > ul > li > a:hover, 
            > nav > ul > li > a:active, 
            > nav > ul > li > a:focus { 
                background-color: $accent;
                color: $white;
            }
        }
    }
}