@media only screen {
    //Header 8
    header#opt_header_eight {
        padding: 0px;
        width: 100%;
        position: absolute;
        top: 50px;
        //First div to apply a max-width
        > div {
            display: flex;
            justify-content: space-between;
            background-color: white;
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
            max-width: $max_width;
            margin: 0 auto;  
            transition: width 0.3s;
            align-items: center;
            height: 110px;
            //Logo section 
            > .custom-logo-link {
                padding: 10px;
                > .custom-logo {
                    max-height: 90px; 
                }
            }
            //Navigation menu unordered list
            > nav > ul {
                flex-flow: row nowrap;
            }
            //Navigation menu list items
            > nav > ul > li {
                padding: 0;
                margin-right: -1px;
            }
            //Navigation menu list items links
            > nav > ul > li > a {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
                padding: 0 15px;
                transition: color 0.1s, background-color 0.1s;
                position: relative;
                z-index: 0;
                display: inline-block;
                line-height: 110px;
                color: $black;
            }
            //Navigation menu list items links bottom to top background
            > nav > ul > li > a:before {
                position: absolute;
                width: 100%;
                height: 0px;
                left: 0px;
                bottom: 0px;
                content: '';
                background: $accent;
                transition: height 0.3s;
                z-index: -1;
            }
            //Navigation menu list items links bottom to top background actions on hover, active and focus
            > nav > ul > li > a:hover, 
            > nav > ul > li > a:active,  
            > nav > ul > li > a:focus {
                color: white;
                //Navigational menu list items links grow to top
                &:before {
                    height: 100%;
                }
            } 
        }
    }
}