$header_height : 100px;
$half_header_height : 50px;

@media only screen { 
    //Header 2
    header#opt_header_two {
        flex-flow: row nowrap;
        padding: 0px;
        justify-content: space-between;
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
        //Select top and bottom part of header
        > div {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            justify-content: space-around;
            background-color: $third_black;
            padding: 0 $padding_left_and_right;
            height: $header_height;
            // Logo 
            > a:first-of-type {
                margin-right: auto;
                margin-left: -15px;
            }
            //Sections of phone number and nav bar
            > div {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-end;
            }
            //Phone number link
            > div > a {
                display: inline-block;
                text-align: right;
                font-size: 24px;
                padding: 0 5px;
                margin-right: -10px;
                color: $nav_2_top_bar_phone;
                //Phone number link icon
                > i {
                    font-size: 20px;
                }
            }
            //Menu items navigation element
            > div > nav {
                margin-right: -10px;
            }
            //Menu items unordered list items links
            > div > nav > ul > li > a {
                font-size: 14px;
                padding: 0 10px;
                color: $nav_2_menu_text;
                line-height: $half_header_height;
                display: inline-block;
                text-transform: uppercase;
            }
            //Quote button link
            > a:last-of-type {
                background-color: $accent;
                font-size: 16px;
                border-radius: 4px;
                text-align: center;
                padding: 15px;
            }
        }
        //Phone number
        > div > div > a,
        //Nav bar
        > div > div > nav > ul > li > a,
        //Quote button link
        > div > a:last-of-type {
            opacity: $opacity_level_below_one;
            transition: opacity 0.3s;
            //Actions on hover, focus and active of selected elements links above
            &:hover,
            &:focus,
            &:active {
                opacity: 1;
            }
        }
    }
}
