@media only screen {
    //Header 6
    header#opt_header_six {
        padding: 0px;
        //Div elements inside header
        > div {
            //Top bar including (Address, phone number and social icons)
            &:first-of-type {
                background-color: $prestige_painters;
                width: 100%;
            }
            //First div element, parent of address and phone number section and social icons section
            &:first-of-type > div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                max-width: 1250px;
                margin: 0 auto;
            }
            //Parent div element of address and phone number section
            &:first-of-type > div > div {
                height: 50px;
                display: flex;
                align-items: center;
                flex: 1 0 85%;
            }
            //Both address and phone number inside this span element
            &:first-of-type > div > div > span {
                color: white;
                font-size: 16px;
            }
            //Address and phone number links
            &:first-of-type > div > div > span > a {
                padding: 10px;
                //Icons for the address and phone number
                > i {
                    font-size: 18px;
                    margin-right: 10px;
                }
            }
            //Phone number span element
            &:first-of-type > div > div > span > &:first-of-type {
                margin-right: 10px;
            }
            //Social icons unordered list
            &:first-of-type > div > ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                flex: 1 0 15%;
            }
            //Social icons unordered list items 
            &:first-of-type > div > ul > li {
                font-size: 16px;
                color: white;
            }
            //Social icons unordered list items links
            &:first-of-type > div > ul > li > a {
                padding: 10px;
            }
            //Bottom part including logo and navigational menu and quote button
            &:last-of-type {
                background-color: white;
                width: 100%;
                box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
            }
            //Parent div element of logo, navigational menu and quote button sections
            &:last-of-type > div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                max-width: 1280px;
                margin: 0 auto;
            }
            //Logo link
            &:last-of-type > div > a {
                padding: 10px;
            }
            //Logo image inside link
            &:last-of-type > div > a > img {
                width: auto;
                max-width: none;
                max-height: 70px;
            }
            //Parent div element of navigational menu and quote button
            &:last-of-type > div > div {
                display: flex;
                margin-right: 5px;
                justify-content: flex-end;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
                flex: 1 0 61%;
            }
            //Navigational meu
            &:last-of-type > div > div > nav {
                display: flex;
                align-items: center;
            }
            //Navigational menu unordered list
            &:last-of-type > div > div > nav > ul {
                list-style: none;
            }
            //Navigational menu unordered list items
            &:last-of-type > div > div > nav > ul > li {
                margin-right: 15px;
            }
            //Navigational menu unordered list items links
            &:last-of-type > div > div > nav > ul > li > a {
                padding: 10px 0;
                border-bottom: 2px solid rgba(233, 29, 98, 0);
            }
            //Navigational menu unordered list items links actions on hover, active and focus
            &:last-of-type > div > div > nav > ul > li > a:hover,
            &:last-of-type > div > div > nav > ul > li > a:active, 
            &:last-of-type > div > div > nav > ul > li > a:focus {
                border-bottom: 2px solid rgba(233, 29, 98, 1);
            }
            //Quote button link
            &:last-of-type > div > div > a {
                padding: 10px 20px;
                border-radius: 20px;
                background-color: $prestige_painters;
            }
            //Actions on hover, active and focus for 
            //Phone number and address links
            &:first-of-type>div>div>span>a,
            //Social icons unordered list items links
            &:first-of-type>div>ul>li>a,
            //Quote button link
            &:last-of-type>div>div>a {
                opacity: $opacity_level_below_one;
                transition: opacity 0.3s;
                color: white;
                &:hover,
                &:active,
                &:focus {
                    opacity: 1;
                }
            }
        }
    }
}