@media only screen {
	a {
		text-decoration: none;
		color: inherit;
	}
	figure {
		position: relative;
		overflow: hidden;
	}
	img {
		object-fit: cover;
		height: auto;
		width: 100%;
    }
    
    #mapid {
        height: 400px;
        margin-top: 100px;
	}


	
	/* 
		If header is never transparent 
	*/

	.estimate-toggle {
		cursor: pointer;
	}



	.main{
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		overflow: hidden;
	}
	.main-tint{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.main--hasbg{
		.company-wysiwyg,
		.hero-text-subheader,
		.services-services-grid-item-wrapper,
		.gallery-galleries-gallery-header,
		.menu-menu-grid-category-header,
		.menu-menu-grid-category-description,
		.blog-blog{
			color: white;
			position: relative;
			z-index: 2;
		}
		.gallery-galleries,
		.company-employees-grid,
		.services-services-grid,
		.menu-menu,
		.coupons-coupons, 
		.testimonials-testimonials,
		.areas-served-areas{
			position: relative;
			z-index: 2;
		}
		.main-tint{
			@include gradient-vertical(rgba(0,0,0,0.75), rgba(0,0,0,0.2));
			display: block;
		}
	}
	// .main{
	// 	.hero-text-header{
	// 		&:after{
	// 			content: '';
	// 			border-bottom: 4px solid $primary;
	// 			width: 100%;
	// 			position: relative;
	// 			display: block;
	// 			top: 10px;
	// 		}
	// 	}
	// 	.areas-served-hero-text-header,
	// 	.contact-hero-text-header{
	// 		&:after{
	// 			border-bottom: none;
	// 		}
	// 	}
	// }
	// .main-tint{
	// 	display: none;
	// }
	// .section{
	// 	text-align: center;
	// 	padding: 20px;
	// }
	// .section-header{
	// 	display: inline-block;
	// 	border-bottom: 4px solid $primary;
	// 	padding: 10px 0;
	// }	
	// .hero{
	// 	background-size: cover;
	// 	background-repeat: no-repeat;
	// 	width: 100%;
	// 	height: 20vh;
	// 	position: relative;
	// 	overflow: hidden;
	// }
	// .hero-text{
	// 	z-index: 1;
	// 	width: 100%;
	// 	text-align: center;
	// }
	.page.blog,
	.page.coupons{
		.hero{
			height: 40vh;
			padding-top: 48px;
		}
		 .hero-text-header{
			color: white;
		}
	}
	.coupons-hero,
	.blog-hero{
		overflow: hidden;
		.hero-text{
			left: 50%;
			@include transform(translate(-50%, -50%));
		}
		.hero-text-header{
			font-size: 5rem;
		}
	}
	.hero-text {
		position: absolute;
		top: 50%;
		width: 100%;
		left: 0;
		@include transform(translate(0, -50%));
	}
	.hero-text-header{
		font-size: 3.6rem;
		color: black;
		margin: 20px 0;
		display: inline-block;
		font-family: $body;
		font-weight: 900;
		width: calc(100% - 40px);
		max-width: $large;
	}
	.hero-text-subheader{
		font-size: 1.8rem;
		color: black;
		line-height: 24px;
		padding: 20px;
		max-width: 720px;
		margin: 0 auto;
		text-align: left;
	}
	.hero-tint{
		background-color: rgba(0,0,0,0.4);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
	}
}
@media only screen and (min-width: $medium){
	.hero-text-header{
		font-size: 5rem;
		max-width: 580px;
	}
	.hero-text-subheader{
		text-align: center;
	}
}
@media only screen and (min-width: $large){
	.section-header{
		font-size: 3.6rem;
		margin: 40px 0;
		border-left-width: 4px;
		border-right-width: 4px;
	}
	.page.blog,
	.page.coupons{
		section.hero{
			height: 55vh !important;
			padding-top: 110px;
		}
	}
}

@media only screen and (min-width: 1520px){


}