// breakpoints

$medium: 641px;
$large: 1025px;
$nav_desktop: 1167px;
$xlarge: 1440px;

$bp__lg : 960px;

// colors
$primary: #32A2AE;
$footer-grey: #424343;

$footer-grey: #17181d; // borrowed from theme 3 base color


$primary: #32A2AE;
$footer-grey: #424343;
$medium-grey: #383838;
$light-grey: #dedddd;
$ink: #17181d;
$pink: #e33062;
// light theme colors
$estimate-bar: #f9f9f9;
$header-tint: #eaeaea;
$footer-bg: #bcbcbc;


$medium-grey: #383838;
$light-grey: #dedddd;

// light theme colors
$estimate-bar: #f9f9f9;
$header-tint: #eaeaea;
$footer-bg: #bcbcbc;


// fonts
$header: 'Gotham Black', 'Impact', sans-serif;
$body: 'Gotham', 'Helvetica', sans-serif;


