@media only screen {
    //Header 7
    header#opt_header_seven {
        padding: 0px;
        background-color: $white;
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
        //Parent div of top and bottom parts of header
        > div {
            max-width: $nav_maxwidth;
            margin: 0 auto;
            //Top part of header
            > div:first-of-type {
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                color: $black;
            }
            //Social icons unordered list 
            > div:first-of-type > div > ul {
                display: flex;
                list-style: none;
            }
            //Social icons unordered list items
            > div:first-of-type > div > ul > li > a {
                padding: 10px;
            }
            //Social icons and phone number sections
            > div:first-of-type > div, 
            > div:first-of-type > span {
                margin-top: 15px;
            } 
            //Image link
            > div:first-of-type > a {
                padding: 7px;
            }
            //Bottom part of header
            > div:last-of-type {
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
            }
            //Line above navigational menu and below logo
            > div:last-of-type:before {
                content: "";
                position: relative;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 100%;
                border-bottom: 2px solid $prestige_painters;
            }
            //Navigational menu unordered list
            > div:last-of-type > nav > ul {
                list-style: none;
                display: flex;
                height: 40px;
                align-items: center;
            }
            //Navigational menu unordered list items
            > div:last-of-type > nav > ul > li {
                margin-right: 0px;
            }
            //Social icons links
            > div:first-of-type > div > ul > li > a,
            //Phone number links
            > div:first-of-type > span > a,
            //Navigationa menu items links
            > div:last-of-type > nav > ul > li > a {
                padding: 10px;
                //Actions on hover, active and focus
                &:hover,
                &:active,
                &:focus {
                    color: $prestige_painters;
                }
            }
            //Social icons links
            > div:first-of-type > div > ul > li > a,
            //Phone number links
            > div:first-of-type > span > a {
                transition: color 0.3s;
            }
        }
    }
}