header#opt_header_seven {
    padding: 0px;
    background-color: $white;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);

    //Parent div of top and bottom parts of header
    >div {
        max-width: $nav_maxwidth;
        margin: 0 auto;

        >div {

            //Top part of header
            &:first-of-type {
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                color: $black;

                //Social icons parent div element
                >div {

                    //Social icons unordered list
                    >ul {
                        display: flex;
                        list-style: none;

                        //Social icons unordered list items
                        >li {
                            >a {
                                padding: 10px;
                            }
                        }
                    }
                }

                //Social icons and phone number sections
                div,
                span {
                    margin-top: 15px;
                }

                //Image link
                >a {
                    padding: 7px;
                }
            }

            //Bottom part of header
            &:last-of-type {
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;

                //Line above navigational menu and below logo
                &:before {
                    content: "";
                    position: relative;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    border-bottom: 2px solid $prestige_painters;
                }

                //Navigational menu
                >nav {

                    //Navigational menu unordered list
                    >ul {
                        list-style: none;
                        display: flex;
                        height: 40px;
                        align-items: center;

                        //Navigational menu unordered list items
                        >li {
                            margin-right: 0px;
                        }
                    }
                }
            }

            //Social icons links
            &:first-of-type>div>ul>li>a,
            //Phone number links
            &:first-of-type>span>a,
            //Navigationa menu items links
            &:last-of-type>nav>ul>li>a {
                padding: 10px;
            }

            //Social icons links
            &:first-of-type>div>ul>li>a,
            //Phone number links
            &:first-of-type>span>a,
            //Navigationa menu items links
            &:last-of-type>nav>ul>li>a {

                &:hover,
                &:active,
                &:focus {
                    color: $prestige_painters;
                }
            }

            //Social icons links
            &:first-of-type>div>ul>li>a,
            //Phone number links
            &:first-of-type>span>a {
                transition: color 0.3s;
            }
        }
    }
}