@media only screen {
    section.site__block.block__blog_posts {
        div.container { 
            .site__grid {
                ul {
                    li { 
                        border-radius: 20px;
                        background-color: getVar($gustavo, colors, gray9);
                        border: 3px solid getVar($colors, white, full);
                        box-shadow: 0px 0px 0px 3px getVar($gustavo, colors, gray8); 
                        &:hover, &:active, &:focus {
                            box-shadow: 0px 0px 0px 3px getVar($gustavo, colors, gray1); 
                        }
                        > a {
                            color: inherit;
                            > .block {
                                border-top-left-radius: 20px;
                                border-top-right-radius: 20px;
                            }
                            >div.content{
                                background-color: getVar($gustavo, colors, gray7);
                                border-bottom-left-radius: 20px;
                                border-bottom-right-radius: 20px;
                                >h5 {
                                    margin: 0 30px;
                                    padding: 15px 0 10px;
                                    font-family: "Gotham", "Helvetica", sans-serif;
                                    display: block;
                                    text-decoration: none;
                                    text-align: left;
                                    font-weight: 500;
                                    @include fontS-24;
                                    line-height: 2.8rem;
                                    letter-spacing: -1px;
                                    border-bottom: 4px dotted getVar($colors, white, full);
                                }
                                > div.excerpt > p {
                                    margin: 0 35px 30px;
                                    padding: 5px 0 0;
                                }
                                > p.read_more {
                                    background-color: getVar($colors, accent);
                                    border-bottom-left-radius: 20px;
                                    border-bottom-right-radius: 20px;
                                    padding: 10px;
                                    @include fontS-20;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    color: getVar($colors, white, full);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}