@media only screen {

    section.block__contact {

        > .container {

            > .columns {
                display: flex;
                flex-flow: row nowrap;
                .left, .right {
                    flex: 1 0 45%;
                }
                .left {
                    margin-right: getVar($sizing, gutter, px, normal);
                }
                .right {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;
                    > ul.area__ul {
                        > li {
                            
                        }
                    }
                }   
            }   
        }   
    }
}
@media only screen and (max-width: 1280px){

}
@media only screen and (max-width: 960px){
    section.block__contact {
        > .container {
            > .columns {
                flex-flow: column nowrap;
                > .left, > .right { 
                    flex: 1 0 100%;
                    margin: 0 0 0 0;
                }
                > .right {
                    > ul {
                        > li {

                        }
                    }
                }
            }

        }
    }
}
@media only screen and (max-width: 640px){
    
}