@media only screen {

    section.block__contact {
        > .container {

            &.narrow {
                width : getVar($sizing, content, percent, narrow);
            }
            &.normal {
                width : getVar($sizing, content, percent, normal);
            }
            &.wide {
                width : getVar($sizing, content, percent, wide);
            }
            &.full {
                width : getVar($sizing, content, percent, full);
            }
            
            div.contact__block-form {
                text-align: left;
                margin-top: 20px;

                > p {
                    font-weight: 700;
                    border-bottom: 3px solid getVar($gustavo, colors, gray7);
                    padding-bottom: getVar($sizing, gutter, px, tiny);
                    margin-bottom: 20px;
                }

                input[type^="submit"] {
                    color: getVar($colors, white, full);
                    background-color: getVar($colors, black, full);
                    padding: 10px 30px;
                    font-weight: 600;
                    border: none;
                    cursor: pointer;
                }
                
                label span {
                    color: getVar($colors, black, full);
                }
            }
            ul.columns {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                > li.left {
                    flex: 0 0 47%;
                    margin-right: 20px;
                }
                > li.right {
                    flex: 0 0 50%;
                }
            }
            ul.locations {
                display: flex;
                flex-flow: column wrap;
                > li {
                    background-color: rgba(getVar($colors, black, full), 0.2);
                    border-radius: 15px;
                    margin: 0 0 getVar($sizing, gutter, vw, normal) 0;
                    padding: getVar($sizing, gutter, px, normal) getVar($sizing, gutter, px, large); 

                    > h3.area__heading {
                        border-bottom: 4px dotted getVar($colors, white, full);
                        font-family: "Gotham", Helvetica, sans-serif;
                        @include fontS-34;
                        font-weight: 500;
                        padding-bottom: 10px;
                        margin: 0 0 getVar($sizing, gutter, px, small);
                    }

                    > div {
                        color: getVar($colors, gray, mid);
                        @include fontS-14;
                        color: getVar($colors, gray, mid);
                        line-height: 2.3rem;
                        display: block;
                        font-weight: 500;
                        > a[class^='area__phone'] {
                            color: getVar($colors, gray, mid);
                            font-weight: 500;
                            > span {
                                font-weight: 600;
                            }
                        }
                        > a:hover, > a:focus, > a:active {
                            opacity: 0.8;
                        }
                    }

                    .site__button {
                        border-radius: getVar($sizing, gutter, px, large);
                        color: getVar($colors, white, full);
                        font-weight: 700;
                        background-color: getVar($colors, accent);
                        padding: 8px 60px 8px 60px;
                        margin: 20px 0 0 0;
                        display: inline-block;
                        text-transform: none;
                    }
                }
            }
        }  
    }
}

@media only screen and (max-width: 1280px){
    section.block__contact {
        > .container {
            &.narrow, &.normal, &.wide, &.full {
                width : getVar($sizing, content, percent, normal);
            }
        }
    }
}
@media only screen and (max-width: 960px){
    section.block__contact {
        > .container {
            &.narrow, &.normal, &.wide, &.full {
                width : getVar($sizing, content, percent, wide);
            }
            > ul.columns {
                flex-flow: column nowrap;
                > li.left, 
                > li.right {
                    flex: 0 0 100%;
                    margin: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 640px){
    section.block__contact {
        > .container {
            &.narrow, &.normal, &.wide, &.full {
                width : getVar($sizing, content, percent, full);
            }
        }
    }
}