@media only screen {

    section.block__contact {

        > .container {
            $c : 2;
            $g : getVar($sizing, gutter, vw, normal);

            &.narrow {
                $w : getVar($sizing, content, small);
                @include flexGrid($w, $c, $g);
            }
            &.medium {
                $w : getVar($sizing, content, medium);
                @include flexGrid($w, $c, $g);
            }
            &.wide {
                $w : getVar($sizing, content, wide);
                @include flexGrid($w, $c, $g);
            }
            &.full {
                $w : getVar($sizing, content, full);
                @include flexGrid($w, $c, $g);
            }

            ul.locations {
                display: flex;
                flex-flow: column wrap;
                > li {
                    background-color: rgba(getVar($colors, black, full), 0.2);
                    border-radius: 15px;
                    margin: 0 0 getVar($sizing, gutter, vw, normal) 0;
                    padding: getVar($sizing, gutter, px, normal) getVar($sizing, gutter, px, large);
                    h3 {
                        @include fontS-34;
                        border-bottom: 4px dotted getVar($colors, white, full);
                        margin: 0 0 getVar($sizing, gutter, px, normal);
                    }
                    > div {
                        color: getVar($colors, gray, mid);
                        > a {
                            color: getVar($colors, gray, mid);
                        }
                    }
                    .site__button {
                        border-radius: getVar($sizing, gutter, px, large);

                    }
                }
            }
        }  
    }
}

@media only screen and (max-width: 1280px){}
@media only screen and (max-width: 960px){}
@media only screen and (max-width: 640px){}