@media only screen {


    
    section.site__block.block__coupons {

        >div.container {

            // grid
            .site__grid {
                &.coupons__one,
                &.coupons__two,
                &.coupons__three,
                &.coupons__four {
                    >ul {
                        >li {
                            padding: 10px;
                            background-color: getVar($gustavo, colors, gray7);
                            border-radius: 20px;
                            border: 3px solid transparent;
    
                            &:hover,
                            &:active,
                            &:focus {
                                border: 3px solid getVar($gustavo, colors, gray1);
                            }
    
                            >a {
                                padding: 20px;
                                border-radius: 20px;
                                border: 6px dashed getVar($colors, white, full);
                                display: flex;
                                flex-flow: column nowrap;
                                align-items: center;
                                justify-content: center;
                                color: inherit;
                            }
    
                            h5 {
                                margin: 10px 0 10px;
                                @include fontS-40;
                                font-weight: 900;
                                line-height: 4.3rem;
                                letter-spacing: -1px;
                            }
    
                            .coupon_description {
                                margin-bottom: 10px;
                            }

                            .coupon_code {
                                background: getVar($colors, white, full);
                                padding: 0 25px;
                                border-radius: 20px;
                                font-weight: 700;
                                line-height: 40px;

                                >span {
                                    text-transform: uppercase;
                                    font-weight: 600;
                                }
                            }
    
                            .coupon_expiration {
                                display: none;
                                font-weight: 400;
                                @include fontS-14;
                            }

                            .coupon_code, 
                            .coupon_expiration {
                                margin: 5px 0;
                            }
    
                        }
                    }
                }
                &.coupons__two,
                &.coupons__three,
                &.coupons__four {
                    > ul {
                        > li {
                            .coupon_expiration {
                                display: block;
                            }
                        }
                    }
                }
                &.coupons__two {
                    >ul {
                        >li {
                            background-color: transparent;
                            > a {
                                border: 6px dashed getVar($colors, accent);
                            }
                            .coupon_description, 
                            .coupon_expiration {
                                color: getVar($gustavo, colors, gray11);
                            }
                            .coupon_code {
                                background: getVar($gustavo, colors, gray7);
                            }
                        }
                    }
                }
                &.coupons__three,
                &.coupons__four {
                    > ul {
                        > li {
                            border-radius: 0;
                            > a {
                                border-radius: 0;
                            }
                            .coupon_description, 
                            .coupon_expiration {
                                color: getVar($gustavo, colors, gray11);
                            }
                            .coupon_code {
                                border-radius: 0;
                                padding: 2px 30px;
                            }
                            .coupon_expiration {
                                font-weight: 600;
                                > span {
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                &.coupons__four {
                    > ul {
                        > li {
                            background-color: getVar($colors, white, full);
                            border: 4px solid getVar($gustavo, colors, gray12);
                            &:hover,
                            &:active,
                            &:focus {
                                border: 4px solid getVar($gustavo, colors, gray1);
                            }
                            > a {
                                border: 6px dashed getVar($colors, accent);
                            }
                            .coupon_code {
                                background-color: getVar($gustavo, colors, gray7);
                            }
                        }
                    }
                }
            }
        }   
    }
}