// 
// 
// 
@media only screen {

    // 
    section.site__block.block__galleries {

        // 
        > .container {
            // wrapper for tabs and grids, to control the layout for a sidebar etc
            .tabsandgrids_container {
                // general styling for all tabs
                margin: 0 0 getVar($sizing, gutter, px, normal);
                .tabs {
                    // tabs container
                    ul {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        
                        // tab
                        li {
                            margin: 0;
                            // tab text
                            a {
                                display: block;
                                padding: 0 getVar($sizing, gutter, px, small);
                                letter-spacing: 0.33px;
                                font-weight: 600;
                                letter-spacing: 1px;
                                white-space: nowrap;
                                line-height: 44px;
                                color: getVar($colors, black, full);
                            }
                        }
                    }
                }
                // 
                .galleries {

                    // a gallery wrapper
                    > div.site__grid {
                        // gallery title
                        > h2 {
                            margin: getVar($sizing, gutter, px, normal) 0;
                        }
                    }

                    >div.site__grid.hidden_gallery {
                        display: none;
                    }

                    >div.site__grid.current_gallery {
                        display: block;
                    }
                }
                &.divider {
                    .tabs {
                        > ul {
                            margin-bottom: getVar($sizing, gutter, px, normal);
                            border-bottom: 2px solid getVar($gustavo, colors, gray1);
                            > li {
                                margin: 0 2px;
                                > a {
                                    color: getVar($gustavo, colors, gray2);
                                    background-color: getVar($gustavo, colors, gray1);
                                    border-top-left-radius: 5px;
                                    border-top-right-radius: 5px;
                                    border-top: 2px solid getVar($gustavo, colors, gray1);
                                    border-left: 2px solid getVar($gustavo  , colors, gray1);
                                    border-right: 2px solid getVar($gustavo, colors, gray1);
                                    &:focus {
                                        background: getVar($colors, white, full);
                                    }
                                    &:hover,
                                    &:active {
                                        color: getVar($colors, white, full);
                                        background: linear-gradient(to bottom, lightgray 0%, #8f9091 100%); 
                                    }
                                }
                                &.tab_active {
                                    > a {
                                        color: getVar($gustavo, colors, gray2);
                                        background: getVar($colors, white, full);
                                        &:hover {
                                            color: getVar($colors, white, full);
                                            background: linear-gradient(to bottom, lightgray 0%, #8f9091 100%); 
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.pill {
                    .tabs {
                        >ul {
                            display: flex; 
                            flex-flow: row wrap; 
                            justify-content: center;
                            margin-bottom: 30px;
                            align-items: stretch;
                            li {
                                margin: 5px 0;
                                a {
                                    @include fontS-16;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    text-align: center;
                                    background-color: getVar($colors, white, full);
                                    border: 2px solid getVar($gustavo, colors, gray1);
                                    border-radius: 30px;
                                    padding: 5px 25px;
                                    color: getVar($gustavo, colors, gray1);
                                    display: block;
                                    margin: 0 5px;
                                    &:hover {
                                        border: 2px solid getVar($gustavo, colors, gray1);
                                        color: getVar($colors, white, full);
                                        background-color: getVar($gustavo, colors, gray1);
                                    } 
                                    &:active,
                                    &:focus {
                                        border: 2px solid getVar($colors, accent);
                                        background-color: getVar($colors, accent);
                                        color: getVar($colors, white, full);
                                    }
                                }
                            }
                            li.tab_active {
                                a {
                                    border: 2px solid getVar($colors, accent);
                                    background-color: getVar($colors, accent);
                                    color: getVar($colors, white, full);
                                    &:hover,
                                    &:active,
                                    &:focus {
                                        border: 2px solid getVar($colors, accent);
                                        background-color: getVar($colors, accent);
                                        color: getVar($colors, white, full);
                                    } 
                                }
                            }
                        }
                    }
                }
                &.sidebar {
                    display: flex;
                    flex-flow: row nowrap;
                    margin-top: getVar($sizing, gutter, px, large);
                    .tabs {
                        flex: 1;
                        margin-right: getVar($sizing, gutter, px, normal);
                        > ul {
                            height: 80%;
                            flex-flow: column nowrap;
                            border: none;
                            > li {
                                border: none;
                                width: 100%;
                                text-align: left;
                                > a {
                                    color: getVar($gustavo, colors, gray2);
                                    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
                                    border-bottom: 1px solid getVar($gustavo, colors, gray1);
                                    &:active, 
                                    &:focus {
                                        color: $white;
                                        background-color: $accent;
                                        border-bottom: 1px solid $accent;
                                    }
                                    &:hover {
                                        color: getVar($gustavo, colors, gray2);
                                        background-color: getVar($gustavo, colors, gray1);
                                        border-bottom: 1px solid transparent;
                                    }
                                }
                            }
                            > li.tab_active {
                                > a {
                                    color: $white;
                                    background-color: $accent;
                                    border-bottom: 1px solid $accent;
                                    &:hover {
                                        color: getVar($gustavo, colors, gray2);
                                        background-color: getVar($gustavo, colors, gray1);
                                        border-bottom: 1px solid transparent;
                                    }
                                }
                            }
                        }
                    }
                    > .galleries {
                        $w: getVar($sizing, content, small);
                        $c : 3;
                        $g: getVar($sizing, gutter, vw, normal);
                        $s: true;
                        width: $w;
                        margin: 0 auto 0 auto;
                        .site__grid {
                            @include gridLayout($w, $c, $g, $s);
                        }
                    }
                }       
            }
        }
    }
}

@media only screen and (max-width: 1280px){
    section.site__block.block__galleries {
        > .container {
            &.narrow,
            &.medium,
            &.wide,
            &.full {
                width: getVar($sizing, content, large);
            }
        }
    }
}

@media only screen and (max-width: 640px){
    section.site__block.block__galleries {
        > .container {
            $w: getVar($sizing, content, full);
            $c : 2;
            $g: getVar($sizing, gutter, vw, normal);
            $s: true;
            &.narrow,
            &.medium,
            &.wide,
            &.full {
                width: $w;
                &.hasbg {
                    width: ($w + ( 2 * $g));
                    padding: $g;
                }
                .site__grid {
                    @include gridLayout($w, $c, $g, $s); 
                }
            }
            .tabsandgrids_container {
                &.sidebar {
                    > .galleries {
                        $w: getVar($sizing, content, small);
                        $c : 2;
                        $g: getVar($sizing, gutter, vw, normal);
                        $s: true;
                        width: $w;
                        margin: 0 auto 0 auto;
                        .site__grid {
                            @include gridLayout($w, $c, $g, $s);
                        }
                    }
                }
            }
        }
    }
}