// 
// 
// 
@media only screen {

    // 
    section.site__block.block__galleries {

        // 
        > .container {
            &.narrow {
                $w: getVar($sizing, content, small);
                width: $w;
                > .tabsandgrids_container {
                    width: $w;
                }
                > .site__grid > ul {
                    width: $w;
                }
            }
            &.medium {
                $w: getVar($sizing, content, medium);
                width: $w;
                > .site__grid > ul {
                    width: $w;
                }
            }
            &.wide {
                $w: getVar($sizing, content, large);
                width: $w;
                > .site__grid > ul {
                    width: $w;
                }
            }
            &.full {
                $w: getVar($sizing, content, full);
                width: $w;
                > .site__grid > ul {
                    width: $w;
                }
            }
            // wrapper for tabs and grids, to control the layout for a sidebar etc
            .tabsandgrids_container {
                // general styling for all tabs
                margin: 0 0 getVar($sizing, gutter, px, normal);
                .tabs {
                    // tabs container
                    ul {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        
                        // tab
                        li {
                            margin: 0;
                            // tab text
                            a {
                                display: block;
                                padding: 0 getVar($sizing, gutter, px, small);
                                text-transform: uppercase;
                                letter-spacing: 0.33px;
                                font-weight: 600;
                                letter-spacing: 1px;
                                white-space: nowrap;
                                line-height: 44px;
                                color: getVar($colors, black, full);
                            }
                            &.tab_active {
                                
                            }
                        }
                    }
                }
                // 
                .galleries {

                    // a gallery wrapper
                    > div.site__grid {
                        // gallery title
                        > h2 {
                            margin: getVar($sizing, gutter, px, normal) 0;
                        }
                    }

                    >div.site__grid.hidden_gallery {
                        display: none;
                    }

                    >div.site__grid.current_gallery {
                        display: block;

                    }
                }

                // adjustments for the different tab styles
                &.none {}
                &.divider {
                    .tabs {
                        > ul {
                            border-bottom: 1px solid getVar($colors, black, full);
                            > li {
                                > a {
                                }
                                &:hover,
                                &.tab_active {
                                    >a {
                                    }
                                }
                            }
                        }
                    }
                }
                &.pill {
                    .tabs {
                        >ul {
                            display: flex; 
                            flex-flow: row wrap; 
                            justify-content: center;
                            margin-bottom: 30px;
                            align-items: stretch;
                            li {
                                margin: 5px 0;
                                flex: 1 0 33%;
                                a {
                                    @include fontS-16;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    text-align: center;
                                    background-color: getVar($colors, accent);
                                    border: 2px solid getVar($gustavo, colors, gray1);
                                    border-radius: 30px;
                                    padding: 5px 25px;
                                    color: inherit;
                                    display: block;
                                    margin: 0 5px;
                                    &:hover {
                                        border: 2px solid getVar($gustavo, colors, gray1);
                                        color: $white;
                                        background-color: getVar($gustavo, colors, gray1);
                                    } 
                                    &:active,
                                    &:focus,
                                    &.active_menu_link,
                                    &.active_menu_link:hover {
                                        border: 2px solid getVar($colors, accent);
                                        background-color: getVar($colors, accent);
                                        color: getVar($colors, white, full);
                                    }
                                }
                            }
                        }
                    }
                }
                &.sidebar {
                    display: flex;
                    flex-flow: row nowrap;
                    .tabs {
                        flex: 1;
                        margin-right: getVar($sizing, gutter, px, large);
                        > ul {
                            margin-top: 20%;
                            height: 80%;
                            flex-flow: column nowrap;
                            border: none;
                            border-right: 1px solid getVar($colors, black, full);
                            > li {
                                border: none;
                                border-bottom: 1px solid getVar($colors, black, full);
                                margin: getVar($sizing, gutter, px, small) 0;
                            }
                        }
                    }
                    > .galleries {
                        $w: getVar($sizing, content, small);
                        $c : 3;
                        $g: getVar($sizing, gutter, vw, normal);
                        $s: true;
                        width: $w;
                        margin: 0 auto 0 auto;
                        .site__grid {
                            @include gridLayout($w, $c, $g, $s);
                        }
                    }
                }
                
            }
        }
    }
}

@media only screen and (max-width: 1280px){
    section.site__block.block__galleries {
        > .container {
            &.narrow,
            &.medium,
            &.wide,
            &.full {
                width: getVar($sizing, content, large);
            }
        }
    }
}

@media only screen and (max-width: 640px){
    section.site__block.block__galleries {
        > .container {
            &.narrow,
            &.medium,
            &.wide,
            &.full {
                width: getVar($sizing, content, full);
            }
        }
    }
}