@media only screen {
	.company-employees-grid-item{
		max-width: 380px;
		margin: 0px auto;
		background-color: $light-grey;
		border-radius: 8px;
		&:not(:first-child){
			margin: 40px auto;
		}
	}
	.company-employees-grid-item-imagecontainer-image{
		width: 100%;
		padding: 20px 20px 0 20px;
		box-sizing: border-box;
	}
	.company-employees-grid-item-socialcontainer{
		padding: 15px 0;
		margin-top: 15px;
	}
	.company-employees-grid-item-socialcontainer-link{
		display: inline-block;
	    background-color: $primary;
	    text-align: center;
	    width: 32px;
	    height: 32px;
	    border-radius: 100%;
	    text-decoration: none;
	    color: black;
	    margin: 0 5px;
	    position: relative;
	}
	.company-employees-grid-item-socialcontainer-link-icon{
		text-align: center;
		vertical-align: baseline;
		font-size: 1.8rem;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}
	.company-employees-grid-item-textcontainer{
		padding: 20px;
	}
	.company-employees-grid-item-textcontainer-name{
		font-family: $body;
		font-weight: 500;
	}
	.company-employees-grid-item-textcontainer-title{
		padding: 15px 0;
	}
	.company-employees-grid-item-textcontainer-description{
		line-height: 20px;
	}
	.company-employees-grid-item-imagecontainer--desktop{
		display: none;
	}
}

@media only screen and (min-width: $medium){
	.company-employees-grid {
		font-size: 0;
	}
	.company-employees-grid-item:not(:first-child){
		margin: 20px;
		margin-top: 0;
	}
	.company-employees-grid-item{
		border-bottom-left-radius: 0px;
		border-top-right-radius: 50px;
		display: inline-block;
		vertical-align: top;
		margin: 20px;
		margin-top: 0;
		max-width: calc(50% - 40px);
	}
}

@media only screen and (min-width: $large){
	.company-employees-grid{
		max-width: 1020px;
		margin: 0 auto;
		font-size: 0;
	}
	.company-employees-grid-item{
		width: calc(50% - 10px);
		max-width: none;
		display: inline-block;
		font-size: 0;
		position: relative;
		overflow: hidden;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		margin: 40px 5px;
		&:not(:first-child){
			margin: 40px 5px;
		}
		&:hover{
			.company-employees-grid-item-imagecontainer-tint--desktop{
				opacity: 1;
			}
			.company-employees-grid-item-rightwrap{
				@include transform(translate(-50%,-50%));
				opacity: 1;
			}
			.company-employees-grid-item-textcontainer-title,
			.company-employees-grid-item-textcontainer-description{
				@include transform(translateY(0));
			}
		}
	}
	.company-employees-grid-item-imagecontainer{
		display: none;
	}
	.company-employees-grid-item-imagecontainer--desktop{
		display: block;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		height: 501px;
	}
	.company-employees-grid-item-imagecontainer-tint--desktop{
		background-color: rgba(0,0,0,0.4);
		height: 501px;
		width: 501px;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		@include transition(opacity 0.25s ease);
	}
	.company-employees-grid-item-rightwrap{
		width: 75%;
		text-align: left;
		padding: 20px 0;
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, 50%));
		text-align: center;
		background-color: transparent;
		color: white;
		opacity: 0;
		@include transition(opacity 0.25s ease, transform 0.5s ease);
	}
	.company-employees-grid-item-socialcontainer{
		padding: 0 15px 10px;
		@include transition(transform 0.8s ease);
		@include transform(translateY(100%));
	}
	.company-employees-grid-item-textcontainer{
		padding: 0 20px;
		margin-top: 0;
	}
	.company-employees-grid-item-textcontainer-name{
		font-size: 2.8rem;
	}
	.company-employees-grid-item-textcontainer-title,
	.company-employees-grid-item-textcontainer-description{
		font-size: 1.6rem;
		@include transition(transform 0.6s ease);
		@include transform(translateY(50%));
	}
	.company-employees-grid-item-textcontainer-description{
		line-height: 24px;
	}
}