@media only screen {
	.home-testimonials-grid{
		margin-top: 20px;
		width: 100%;
	}
	.home-testimonials-grid-item{
		width: 100%;
		max-width: 320px;
		margin: 40px auto 110px auto;
		text-align: left;
		background-color: $light-grey;
		padding: 20px;
		position: relative;
	}
	.home-testimonials-grid-item-personinfo{
		padding: 20px 0;
	}
	.home-testimonials-grid-item-personinfo-name{
		font-weight: bold;
	}
	.home-testimonials-grid-item-image{
		position: absolute;
		width: 140px;
		height: 140px;
	    border-radius: 50%;
	    right: 0;
	    bottom: 0;
	    @include transform(translateY(50%));
	    overflow: hidden;
	    img {
	    	@include centerer;
	    	object-fit: cover;
	    	min-height: 100%;
	    	width: 100%;
	    }
	}
	.home-testimonials-arrows{
		display: none;
	}
	
	.home-testimonials-grid-item-youtubecontainer{
		iframe, object, embed{
			width: 100%;	
		}
	}
	section.unfancytestimonials{
		background-color: transparent;
		padding-top: 40px;
		margin-bottom: 80px;
		&:before{
			border-width: 0;
		}
		&:after{
			border-width: 0;
		}
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.home-testimonials{
		background-color: $light-grey;
		padding-top: 240px;
		margin-bottom: 180px;
		position: relative;
		overflow: hidden;

		&:before{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 180px 50vw 0 50vw;
			border-color: #fff transparent transparent transparent;
			margin: 0 -20px;
			display: block;
			position: absolute;
			top: 0;
		}
		&:after{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 180px 50vw 0 50vw;
			border-color: $light-grey transparent transparent transparent;
			margin: 0 -20px;
			display: block;
			position: absolute;
			bottom: -180px;
		}
	}
	.home-testimonials-grid{
		position: relative;
		min-height: 300px;
		z-index: 1;
	}
	.home-testimonials-grid-item{
		background-color: white;
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));
		margin-top: 0;
		&:not(:first-child){
			display: none;
		}
	}
	.home-testimonials-grid-item-youtubecontainer{
		iframe, object, embed{
			width: auto;	
		}
	}
	.home-testimonials-arrows{
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		pointer-events: none;
	}
	.home-testimonials-arrows-left,
	.home-testimonials-arrows-right{
		font-size: 11rem;
		position: relative;
		cursor: pointer;
		@include transition(color 0.25s ease);
		pointer-events: auto;
	}
	.home-testimonials-arrows-left{
		right: 250px;
	}
	.home-testimonials-arrows-right{
		left: 250px;
	}
	.home-testimonials-viewall{
		font-size: 1.8rem;
		font-weight: normal;
		margin-top: 100px;
		margin-bottom: 0;
	}
	.grey{
		color: #aaa8a8;
		opacity: 0.6;
		cursor: auto;
	}
}