@media only screen {
	.home-hero-slides{
		height: 100%;
		overflow: hidden;
		position: relative;
	}
	.home-hero-slides-slide{
		height: 100vh;
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		display: none;
		&:first-child{
			display: block;
		}
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
