@media only screen {
	// section
	.menus {
		text-align: center;
	}
	// every menu
	.menus-menu {
		max-width: 960px;
		margin: 40px auto;
	}
	.menus-menu-list {
		list-style-type: none;
		font-size: 0;
	}

	// specific types of menus
	.menus-menu.menus-menu-pdf {}
	.menus-menu.menus-menu-masonry {}
	.menus-menu.menus-menu-list {
	}

	.menus-menu-list-item {
		display: inline-block;
		vertical-align: top;
		padding: 20px;
		margin: 20px auto;
		border-bottom: 1px solid lightgrey;
	}

	// specific elements
	.menus-menu-list-item figure {
		width: 100%;
		overflow: hidden;
		height: 200px;
		margin-bottom: 15px;
		img {
			max-height: 100%;
			width: 100%;
			height: auto;
		}
	}
}
@media only screen and (min-width: $medium){
	.menus-menu-list-item {
		width: 50%;
	}
}
@media only screen and (min-width: $large){	
	.menus-menu-list-item {
		width: calc(100% / 3);
	}
}