@media only screen {
	.services{
		margin: 0 auto;
		width: 100%;
		padding: 20px;
		text-align: center;
	}
	.services-grid {
		width: 100%;
	}
	.services-grid-item{
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.services-grid-item-imagecontainer{
		height: 220px;
		margin-bottom: 15px;
	}
	.services-grid-item-imagecontainer-image{
		@include centerer;	
	}
	.services-grid-item-header{
		background-color: transparent;
		padding: 5px 10px;
		font-size: 2rem;
		font-family: $body;
		text-align: center;
		margin: 5px 0;
	}
	.services-grid-item-descriptioncontainer {
	}
	.services-grid-item-descriptioncontainer-description{
		padding: 10px;
		font-size: 1.6rem;
		text-align: left;
		line-height: 24px;
	}
	.services-grid-item-pricecontainer{
		padding: 0 10px 10px 10px;
	}
	.services-grid-item-pricecontainer-price{
		font-size: 3.6rem;
		text-align: center;
	}
}

@media only screen and (min-width: $medium){
	.services-grid{
		max-width: $large;
		margin: 0 auto;
		font-size: 0;
		text-align: center;
		position: relative;
	}
	.services-grid-item{
		padding: 15px;
		width: 50%;
		margin: 0 auto;
		margin-bottom: 15px;
		display: inline-block;
		vertical-align: top;
	}

	// Disable rotation effect
	.services-grid-item,
	.services-grid-item-imagecontainer,
	.services-grid-item-wrapper{

		@include transition(none);
	}
	.services-grid-item-textcontainer{
		text-align: left;
	}
}

@media only screen and (min-width: $large){
	.services-grid{
		width: 100%;
		max-width: $large;
	}
	.services-grid-item{
		display: block;
		width: 100%;
		max-width: none;
		margin: 40px auto;
	}
	.services-grid-item--invert{
		@include transform(rotate(180deg));
		padding-bottom: 0px;
		// padding-top: 40px;
		.services-grid-item-imagecontainer,
		.services-grid-item-wrapper{
			@include transform(rotate(180deg));
		}
		.services-grid-item-header,
		.services-grid-item-descriptioncontainer-description,
		.services-grid-item-pricecontainer{
			padding-left: 0px;
		}
	}
	.services-grid-item-descriptioncontainer-description{
		text-align: left;
	}
	.services-grid-item-imagecontainer,
	.services-grid-item-wrapper{
		display: inline-block;
		vertical-align: middle;
	}
	.services-grid-item-imagecontainer{
		width: 40%;
		max-height: none;
	}
	.services-grid-item-wrapper{
		width: 60%;
		padding: 0 20px;
	}
	.services-grid-item-header,
	.services-grid-item-descriptioncontainer,
	.services-grid-item-pricecontainer-price{
		text-align: left;
	}
	.services-grid-item-pricecontainer-price{
		font-size: 2.4rem;
	}
}