@media only screen {
    main#single_about {
        padding-top: 150px;
        section.mod__featured_grid{
            div.container {
                div.site__grid {
                    ul {
                        li {
                            position: relative;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}