@media only screen {
    main#single_service {
        section.mod__featured_grid {
            div.container {
                padding-top: 150px;
                div.site__fade {
                    display: flex;
                    align-items: center;
                    flex-flow: column nowrap;
                    .block {
                        $w: getVar($sizing, content, full);
                        $c: 1;
                        $g: getVar($sizing, gutter, vw, normal);
                        $s: true;
                        width: $w;
                        height: (colWidth($w, $c, $g) / 1.6);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                    }
                    h5 {
                        margin: 10px 0 20px;
                        font-family: "Gotham", Helvetica, sans-serif;
                        font-size: 3.3rem;
                        font-weight: 500;
                    }
                    p {
                        font-weight: 600;
                        line-height: 30px;
                        font-size: 14px;
                        text-align: justify;
                    }
                    .service_price {
                        font-family: "Gotham", Helvetica, sans-serif;
                        font-weight: 500;
                        font-size: 3.3rem;
                        margin-top: 20px;
                        padding-bottom: 40px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:640px){
    main#single_service {
        section.mod__featured_grid {
            div.container {
                div.site__fade {
                    .block {
                        $w: getVar($sizing, content, small);
                        $c: 1;
                        $g: getVar($sizing, gutter, vw, normal);
                        $s: true;
                        width: $w;
                        height: (colWidth($w, $c, $g) / 1.6);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:960px){
    main#single_service {
        section.mod__featured_grid {
            div.container {
                div.site__fade {
                    flex-flow: row nowrap;
                    .block {
                        $w: getVar($sizing, content, small);
                        $c: 1;
                        $g: getVar($sizing, gutter, vw, normal);
                        $s: true;
                        width: $w;
                        height: (colWidth($w, $c, $g) / 1.6);
                        margin: 0 getVar($sizing, gutter, px, normal) 0  auto;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1280px){
    main#single_service {
        section.mod__featured_grid {
            div.container {
                div.site__fade {
                    .block {
                        $w: 30vw;
                        $c: 1;
                        $g: getVar($sizing, gutter, vw, normal);
                        $s: true;
                        width: 30vw;
                        height: (colWidth($w, $c, $g) / 1.6);
                    }
                }
            }
        }
    }
}