@media only screen {
    main#page_about {
        .container {
            margin: 60px auto;
            .site__grid {
                >ul {
                    >li {
                        a {
                            h5 {
                                text-align: center;
                                font-size: 2rem;
                                margin: 10px 0;
                                color: $black;
                                &:hover, &:active, &:focus {
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}