@media only screen {
    section.tpl_page_about {

        > .container {

            div.staff__one.site__grid {
                >ul {
                    max-width: 1200px;
                    >li {
                        &:hover,
                        &:active,
                        &:focus {
                            > a {
                                div.staff__content {  
                                    border-top: 3px solid getVar($gustavo, colors, gray1);
                                    border-right: 3px solid getVar($gustavo, colors, gray1);
                                    border-left: 3px solid getVar($gustavo, colors, gray1);
                                }
                            }
                            > div.staff__social {
                                border-right: 3px solid getVar($gustavo, colors, gray1);
                                border-left: 3px solid getVar($gustavo, colors, gray1);
                                border-bottom: 3px solid getVar($gustavo, colors, gray1);
                            }
                        }
                        >a { 
                            color: inherit;
                            margin-bottom: -10px;
                            // image
                            >div.staff__image {
                                position: relative;
                                z-index: 2;
                                border: 5px solid getVar($colors, white, full);
                                box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
                                width: min-content; 
                                margin: 0 auto;
                                @include site__bgimage($g : false, $z : true);
                                border-radius: 50%; 
                            }

                            // content
                            >div.staff__content {
                                border-top: 3px solid transparent;
                                border-right: 3px solid transparent;
                                border-left: 3px solid transparent;
                                padding: 154px 40px 0; 
                                position: relative;
                                margin-top: -137px;
                                background-color: getVar($gustavo, colors, gray7);
                                border-top-left-radius: 20px;
                                border-top-right-radius: 20px;
                                min-height: 315px;

                                >h3 {
                                    margin: 0 auto 10px auto;
                                    font-family: "Gotham", Helvetica, sans-serif;
                                    @include fontS-34;
                                    font-weight: 500;
                                    width: 90%;
                                    padding-bottom: getVar($sizing, gutter, px, tiny);
                                    border-bottom: getVar($sizing, gutter, px, tiny) dotted getVar($colors, white, full); 
                                }
                            }
                        }
                        > div.staff__social {
                            padding: 20px 30px 30px 30px;
                            background-color: getVar($gustavo, colors, gray7);
                            border-bottom-left-radius: 20px;
                            border-bottom-right-radius: 20px;
                            border-right: 3px solid transparent;
                            border-left: 3px solid transparent;
                            border-bottom: 3px solid transparent;
                            > ul {
                                display: flex;
                                align-items: center;
                                flex-flow: row nowrap;
                                justify-content: center;
                                > li {
                                    padding: 5px;
                                    > a {
                                        > i {
                                            background-color: getVar($gustavo, colors, gray10);
                                            width: 40px;
                                            height: 40px;
                                            line-height: 40px;
                                            vertical-align: bottom;
                                            text-align: center;
                                            border-radius: 50%;
                                            color: getVar($gustavo, colors, gray7);
                                        }
                                        &:hover, &:active, &:focus {
                                            > i {
                                                color: getVar($colors, accent);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            div.staff__two {
                > ul {
                    > li {
                        margin-bottom: getVar($sizing, gutter, px, large);
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: flex-start;
                        > a {
                            color: inherit;
                            flex: 1 0 45%;
                            > div {
                                border: 5px solid getVar($colors, white, full);
                                box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
                                margin-right: 40px;
                                position: relative;
                                margin: 0 auto;
                                @include site__bgimage($g : false, $z : true);
                                .image {
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-size: cover;
                                    width: 100%;
                                    height: 0;
                                    margin: 0 auto;
                                    padding-bottom: 100%;
                                }
                            } 
                        }
                        > div.staff__details {
                            flex: 1 0 45%;
                            margin-left: 40px;
                            text-align: justify;
                            @include fontS-16;
                        }
                    }
                    > li:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 640px){
    section.tpl_page_about {
        > .container {
            div.staff__one.site__grid {
                >ul {
                    >li {
                        >a { 
                            >div.staff__image {
                                div.image {
                                    max-width: 60vw;
                                    max-height: 60vw;
                                }
                            }
                        }
                    }
                }
            }
            div.staff__two {
                > ul {
                    > li {
                        flex-flow: column nowrap;
                        > a {
                            flex: 1 0 100%;
                            width: 100%;
                            margin-bottom: getVar($sizing, gutter, px, normal);
                        }
                        > div.staff__details {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
