$navbg : $pink;
$primary : #df1d1d;
$black : black;
$white : white;

@media only screen {

    // basics across all headers
    header.header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        z-index: 10;
        // 
        a.header-logo {
            display: inline-block;
            > img {
                max-width: 200px;
            }
        }
        // 
        ul.navlinks {
            list-style-type: none;
            display: flex;
            flex-flow: row nowrap;
        }
        li.navlinks-item {

        }
        span.header-tint {
            display: inline-block;
            visibility: hidden;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    header#opt_header_onetwo {

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        > div {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            > div {
                > a {
                    float: right;
                }
                > nav {
                    clear: both;
                }
            }
            > a.site__button-quote {
                flex: 0 0 auto;
            }
        }
        

        
        
        .opt__estimatebar {
            background-color: $ink;
            text-align: center;
            color: white;
            max-width: 1400px;
            margin: 0 auto;
        }

        // (social c2a banner above everything)
        #opt__topbanner {
            height: 60px;
            width: 100%;
            position: relative;
            background-color: $navbg;

            >a {
                display: inline-block;
                height: 100%;
                flex: 1;
                margin-right: 30px;
                color: white;
                font-size: 1.8rem;

                &:last-of-type {
                    margin-right: 0;
                }

                span,
                i.fa {
                    line-height: inherit;
                    font-size: inherit;
                    display: inline-block;
                    top: 50%;
                    transform: translateY(-50%);
                    position: relative;
                }

                &.topbanner-quickquote {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $ink;
                    padding: 0 30px;
                }
            }
        }
    }

    header#opt_header_three {

    }

    // header style four enabled
    header#opt_header_four {
        color: $white;

        >nav {
            >ul {
                text-align: center;
                width: 100%;
                max-width: 1024px;
                background-color: $primary;
                padding: 10px 0;
                margin: 0 auto;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;

                >li {
                    flex: 1 0 auto;
                    display: inline-block;
                    font-size: 1.6rem;
                }
            }
        }

        >div {
            background-color: $black;
            text-align: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;

            >ul,
            >span {
                flex: 1 1 auto;
                font-size: 1.6rem;
            }

            >ul {
                >li {
                    display: inline-block;
                    margin: 0 10px;

                    >a {
                        display: inline-block;
                        padding: 5px;
                    }
                }
            }

            >span {
                >a {
                    >img {
                        max-width: 220px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

}