$primary : #df1d1d;
$black : black;
$second_black: #333333;
$white : white; 
$accent : green;
$tint : lightgrey;
$blue: #32A2AE;
$blue_infinity_carpet: #1a69a0;
$prestige_painters: #E91D62;
$gray: #909090;
$blue_darker: #257d87;
$nav_maxwidth : 1024px;
$banner_height : 52px; 
$bp__lg : 1280px;


@media only screen and (min-width: $bp__lg) {

    header.mobileheader {
        display: none;
    }
    // basics across all headers
    header.header {
        position:fixed; // need to remove something from theme 3 that is effecting this
        top: 0;
        display: block;
        left: 0;
        width: 100%;
        padding: 0 30px;
        display: block;
        z-index: 10;
        font-size: 1.4rem;
        padding-top: $banner_height;
        &.topbar-removed {
            padding-top: 0;
        }
        // 
        a.header-logo {
            display: inline-block;
            padding: 15px 0;
            > img {
                max-width: 180px;
            }
        }
        // 
        ul.navlinks {
            list-style-type: none;
            display: flex;
            flex-flow: row nowrap;
        }
        li.navlinks-item {
            display: inline-block;
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0;
            }
        }
        span.header-tint {
            display: inline-block;
            // visibility: hidden;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: $tint;
        }
        a.site__button-quote {
            background-color: $accent;
            color: $white;
            padding: 15px;
            margin-left: 15px;
        }
        // banners above the header
        .opt__estimatebar,
        .opt__topbanner {
            width: 100%;
            height: $banner_height;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    //Header One scss
    header#opt_header_one {
        padding: 0px;
        display: block;
        position:relative;
        > div {
            //Top part of the header (logo, address, phone)
            &:nth-of-type(1){
                background-color: $black;
                color: $white;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
                padding: 0 10%;
                > span {
                    //Top bar address
                    &:nth-of-type(1){
                        font-size: 16px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        margin-left: auto;
                        width: 230px;
                        //Address icon
                        &:before{
                            font-family: FontAwesome;
                            content: "\f041";
                            display: block;
                            padding: 8px 14px;
                            margin-right: 10px;
                            font-weight: 700;
                            color: $blue_infinity_carpet;
                            border-radius: 100%; 
                            border: 3px solid $blue_infinity_carpet;
                        }
                    }
                    //Top bar phone number
                    &:nth-of-type(2){ 
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        margin-left:5%;
                        //Phone number icon
                        &:before{
                            font-family: FontAwesome;
                            content: "\f095";
                            display: block;
                            padding: 10px 10px;
                            font-weight: 700;
                            color: $blue_infinity_carpet;
                            border-radius: 100%;
                            border: 3px solid $blue_infinity_carpet;
                            margin-left: 30px;
                            margin-right:10px;
                            -webkit-transform: rotate(90deg);
                            -o-transform: rotate(90deg);
                            transform: rotate(90deg);
                            margin-top: 5px;
                        }
                        //Phone number link
                        > a {
                            font-size: 19px;
                            font-weight:500;
                            -webkit-transition: opacity 0.3s;
                            -o-transition: opacity 0.3s;
                            transition: opacity 0.3s;
                            opacity:1;
                            &:hover,
                            &:active,
                            &:focus{
                                opacity:0.8;
                            }
                            //"Call Us Today" text
                            > span {
                                color: $blue_infinity_carpet; 
                                font-size:14px;
                                text-transform:uppercase;
                                display: block;
                                text-align: left;
                            }
                        }
                    }
                }
            }
            //Lower part of header (navigational menu and social icons) 
            &:nth-of-type(2){
                background-color: $white;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                position:relative;
                width:100%;
                top:0;
                padding: 0 10%;
                box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
                //Navigational menu items list
                > nav {
                    display:flex;
                    align-items:center;
                    justify-content: space-between;
                    > ul {
                        > li { 
                            flex: 0 1 auto;
                            margin-right:0px;
                            > a {
                                text-transform: uppercase;
                                font-weight:500;
                                display:block;
                                color: $black;
                                padding: 15px 10px;
                                -webkit-transition: color 0.3s, background-color 0.3s;
                                -o-transition: color 0.3s, background-color 0.3s;
                                transition: color 0.3s, background-color 0.3s;
                                &:hover,
                                &:active,
                                &:focus {
                                    color: $white;
                                    background-color: $blue_infinity_carpet;
                                }
                            }
                        }
                    }
                }
                //Social icons list
                > ul {
                    display: flex;
                    list-style: none;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items:center;
                    > li {
                        flex: 1 0 auto;
                        list-style:none;
                        position:relative;
                        padding:2px;
                        &:last-of-type{
                            padding-right:0;
                        }                                                    
                        > a {
                            border-radius:100%;
                            padding: 7px 10px;
                            -webkit-transition: color 0.3s;
                            -o-transition: color 0.3s;
                            transition: color 0.3s;
                            &:hover,
                            &:active,
                            &:focus {
                                color: $blue_infinity_carpet;
                            }
                            > i {
                                font-size:15px;
                            }
                        }
                        &:last-of-type{
                            > a {
                                padding: 7px 0px 7px 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    header#opt_header_two {
        padding-top:40px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
        > div {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height:auto;
            > div {
                display: flex;
                flex-flow: row nowrap;
                flex-direction: column;
                align-items: flex-end; 
                height:100%;
                > a {
                    color: white;
                    font-size: 2.5rem;
                    text-decoration: none;
                    position: relative;
                    margin:10px 0px;
                    opacity: 0.8;
                    @include transition(opacity 0.3s);
                    &:hover, 
                    &:focus,
                    &:active{
                        opacity: 1;
                    }
                }
                > nav {
                    > ul {
                        > li {
                            a {
                                font-size: 1.4rem;
                                color: white;
                                text-transform: uppercase;
                                opacity: 0.8;
                                @include transition(opacity 0.3s);
                                &:hover, 
                                &:focus,
                                &:active{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            > a {
                font-size:1.6rem;
                text-transform: uppercase;
            }
            > div {
                > a {
                    justify-content: flex-end;
                }
                > nav {
                    clear: both;
                }
            }
            > a.site__button-quote {
                flex: 0 0 auto;
            }
        }
        div {
            &:last-of-type {
                > a{
                    &:last-child {
                        font-size: 1.6rem;
                        text-transform: uppercase;
                        background-color: $blue;
                        border-radius: 4px;
                        @include transition(background-color 0.3s);
                        &:hover,
                        &:focus,
                        &:active{
                            background-color: $blue_darker;
                        }
                    }
                }
            }
        }
        > span {
            background-color: #383838;
        }
        
        // black free estimate bar above header
        .opt__estimatebar {
            background-color: $ink;
            text-align: center;
            color: white;
            width:100%;
            margin: 0 auto;
            > a {
                display: inline;
                margin: 10px auto;
                opacity: 0.8;
                @include transition(opacity 0.3s);
                &:hover, 
                &:focus,
                &:active{
                    opacity: 1;
                }
            }
        }

    }

    header#opt_header_three {
        max-width: $nav_maxwidth;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1230px;
        margin: 0 auto;
        padding:0px; 

        > .header-tint {
            background-color: $white;
        }
        
        // pink social bar above header
        > div.header-content {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            padding:0 40px;
            box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
            > ul {
                > li {
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    > a {
                        opacity: 0.8;
                        @include transition(opacity 0.3s);
                        &:hover, 
                        &:focus,
                        &:active{
                            opacity:1;
                        }
                    }
                }
            }
        }
        #opt__topbanner {
            background-color: $pink;
            height: $banner_height;
            color: white;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 0 40px;
            justify-content: space-around;
            > span {
                display:flex;
                flex: 10 0 auto;
                height:100%;
                align-items: center;
                a {
                    font-size:1.6rem;
                    text-align: center;
                    > span {
                        opacity: 0.8;
                        @include transition(opacity 0.3s);
                    }
                    i {
                        color: $black;
                        margin-right:10px;
                        font-size:2rem;
                        @include transition(color 0.3s);
                    }
                    &:hover, 
                    &:focus,
                    &:active{
                        span {
                            opacity: 1;
                        }
                        i {
                            color: $white;
                        }
                    }
                    &:last-child {
                        text-align:left;
                        display: flex;
                        margin: 0 auto;
                    }
                }
            }
            > a {
                flex: 1 0 auto;
                background-color: $ink;
                padding: 15px;
                height: 100%;
                text-align: center;
                font-size: 1.6rem;
                text-transform:uppercase;
                align-items: center;
                @include transition(background-color 0.3s);
                &:hover, 
                &:focus,
                &:active{
                    background-color: $second_black;
                }
                i {
                    color: $primary;
                    font-size: 2rem;
                    font-weight: bold;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }



    // header style four enabled
    header#opt_header_four {
        color: $white;
        padding:0px;
        >div{
            background-color: $black;
            text-align: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            >ul{
                >li{
                    display: inline-block;
                    margin: 0 10px;
                    >a{
                        font-size:16px;
                        width:28px;
                        height:28px; 
                        border-radius:50%;
                        display: inline-block;
                        padding: 5px;
                        overflow:hidden;
                        color: $white;
                        @include transition(background 0.3s, color 0.3s);
                        &:hover, 
                        &:active,
                        &:focus{
                            background: $white;
                            color: $primary;
                        }
                    }
                }
            }
        }
        >nav {
            >ul {
                position: relative;
                margin: 0 auto;
                width: 100%;
                max-width: 1018px;
                background-color: $primary;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;

                &:before,
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: -70px;
                    width: 100px;
                    height: 100%;
                    flex:0 1 auto;
                    top: 0;
                    background-color: $primary;
                    @include transform(skewX(37deg));
			        z-index: -1;
                }
                &:after {
                    @include transform(skewX(-37deg));
                    left: auto;
                    right: -70px;
                }
                >li {
                    flex: 0 1 auto;
                    display: inline-block;
                    vertical-align:middle;
                    >a {
                        text-decoration: none;
                        color: $white;
                        text-transform: uppercase;
                        margin: 0 15px;
                        font-size: 13px;
                        line-height: 4;
                        letter-spacing: 1px;
                        opacity: 0.8;
                        @include transition(opacity 0.3s);
                        &:hover,
                        &:active,
                        &:focus{
                            opacity:1;
                        }
                    }
                }
            }
        }
        >div {
            >ul,
            >span {
                flex: 0 1 auto;
                font-size: 1.6rem;
            }

            >span {
                >a {
                    >img {
                        max-width: 220px;
                        padding: 7px 0px;
                    }
                }
            }
            span{
                &:last-child{
                    >a{
                        font-weight: 400;
                        font-size:16px;
                        letter-spacing:1px;
                        border-bottom: 1px solid transparent;
                        opacity: 0.8;
                        @include transition(opacity 0.3s);
                        &:hover,
                        &:active,
                        &:focus{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    //Header Five scss
    header#opt_header_five {
        padding: 0px;
        display: block;
        position: relative;
        > div {
            //Top part of the header (social icons, address, phone number and quote button)
            &:first-of-type {
                background-color: $black;
                color: $white;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding:0 10%;
                //Social icons items list
                > ul {
                    list-style: none;
                    display: flex;
                    > li {
                        margin-right: 50%;
                        > a {
                            transition: color 0.3s;
                            -webkit-transition: color 0.3s;
                            -o-transition: color 0.3s;
                            > i {
                                font-size: 16px;
                            }
                            &:hover, 
                            &:active,
                            &:focus {
                                color: $prestige_painters;
                            }
                        }
                    }
                }
                //Address, phone number and quote button
                > div {
                    flex: 0 1 53%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-right: -15px;
                    > span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i {
                            font-size: 16px;
                            margin-right: 10px;
                            color: $prestige_painters;
                        }
                        &:first-of-type {
                            flex: 0 1 50%;
                            font-size: 14px;
                        }
                        &:last-of-type {
                            flex: 0 1 25%;
                            font-size: 14px;
                            > a {
                                transition: color 0.3s;
                                -webkit-transition: color 0.3s;
                                -o-transition: color 0.3s;
                                &:hover, 
                                &:active,
                                &:focus {
                                    color: $prestige_painters;
                                }
                                > i {
                                    -webkit-transform: rotate(90deg);
                                    -o-transform: rotate(90deg);
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                    > a {
                        font-size: 16px;
                        text-transform: uppercase;
                        padding: 15px 15px;
                        font-weight: 500;
                        background-color: $prestige_painters;
                        color: $white;
                        transition: color 0.1s, background-color 0.1s;
                        -webkit-transition: color 0.1s;
                        -o-transition: color 0.1s;
                        &:hover,
                        &:active,
                        &:focus {
                            color: $black;
                        }
                    }
                } 
            }
            //Bottom bar of the header (logo and navigational menu)
            &:last-of-type {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-flow: row nowrap;
                padding: 0 10%;
                > a {
                    padding: 0;
                    > img {
                        width: auto;
                        max-width: none;
                        max-height: 70px;
                    }
                }
                > nav {
                    > ul {
                        > li {
                            &:last-of-type {
                                margin-right: -15px;
                            }
                            > a {
                                padding: 30px 10px;
                                display: block;
                                text-transform: uppercase;
                                font-weight: 500;
                                transition: color 0.3s, background-color 0.3s;
                                -webkit-transition: color 0.3s, background-color 0.3s;
                                -o-transition: color 0.3s, background-color 0.3s;
                                &:hover,
                                &:active,
                                &:focus {
                                    background-color: $prestige_painters;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}