$nav4_width : 1200px;

@media only screen {
    header#opt_header_four {
        padding: 0px;
        .outer_div {
            background-color: getVar($colors, black, full);
        }
        //Top part of header
        .inner_div {
            max-width: $nav4_width;
            margin: 0 auto;
            background-color: getVar($colors, black, full);
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 110px;
            position: relative;
            > .custom-logo-link {
                padding: 10px;
                margin: 0 auto;
                > .custom-logo {
                    max-height: 90px;
                }
            }
            .site__social-media {
                height: 68px;
                //Social icons list items
                li {
                    display: inline-block;
                    //Social icons list items links
                    a {
                        font-size: 16px;
                        display: inline-block;
                        padding: 0 10px;
                        text-align: center;
                        color: getVar($colors, white, full);
                        transition: color 0.3s;
                        line-height: 68px;
                        //Social icons list items links actions on hover, active and focus 
                        &:hover,
                        &:active,
                        &:focus {
                            color: getVar($colors, primary);
                        }
                    }
                }
            }
            //Social icons underordered list and phone number section
            .site__social-media, 
            > span {
                flex: 0 1 auto;
                font-size: 1.6rem;

            }
            //Phone number link
            > .site__iconlink-phone {
                padding: 0 10px;
                font-weight: 400;
                font-size: 16px;
                border-bottom: 1px solid transparent;
                opacity: 1;
                transition: opacity 0.3s;
                color:$white;
                line-height: 68px;
                display: inline-block;
                text-align: right;
                position: absolute;
                right: 0;
                font-weight: 500;
                &:before {
                    margin-right: 10px;
                    transform: rotate(90deg);
                }
                //Phone number link actions on hover, active and focus
                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                }
            }
        }
        // Nav bar
        > nav {
            margin: 0 auto;
            max-width: $nav4_width;
            height: 56px;
            //Navigational menu unordered list
            .navlinks {
                position: relative;
                width: 100%;
                background-color: getVar($colors, primary);
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                //Navigational menu list items
                .navlinks-item {
                    flex: 0 1 auto;
                    display: inline-block;
                    vertical-align: middle;
                    //Navigational menu list items links 
                    .navlinks-item-link {
                        text-decoration: none;
                        color: getVar($colors, white, full);
                        text-transform: uppercase;
                        padding: 0px; 
                        font-size: 14px;
                        line-height: 56px;
                        letter-spacing: 1px;
                        opacity: 1;
                        display: inline-block;
                        margin-right: 20px; 
                        font-weight: 500;
                        //Navigational menu list items links actions on hover, active and focus
                        &:hover,
                        &:active,
                        &:focus {
                            opacity: 0.8;
                        }
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                    //Shapes before and after the navigational menu
                    &:before,
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -30px;
                        width: 50px;
                        height: 100%;
                        flex: 1 0 auto;
                        top: 0;
                        background-color: getVar($colors, primary);
                        transform: skewX(37deg);
                        z-index: -1;
                    }
                    //Shape after the navigational menu
                    &:after {
                        transform: skewX(-37deg);
                        left: auto;
                        right: -30px;
                    }
                }
            } 
        }
    }
}