$nav7_width : 1050px;

@media only screen {
    //Header 7
    header#opt_header_seven {
        background-color: getVar($colors, white, full);
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
        padding: 0;
        // Top part of header
        > div {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            color: getVar($colors, black, full);
            height: 100px;
            max-width: $nav7_width;
            margin: 0 auto;
            //Social icons unordered list 
            .site__social-media {
                display: flex;
                list-style: none;
                margin-left: -10px;
            }
            //Social icons unordered list items
            .site__social-media > li > a {
                padding: 0 12px;
                display: inline-block;
                color: $accent;
                transition: color 0.3s;
            }
            .site__social-media > li > a,
            .site__iconlink-phone {
                line-height: 55px;
            }
            //Social icons and phone number sections
            > div, 
            > span {
                margin-top: 15px;
            } 
            // Logo link
            > .custom-logo-link {
                padding: 10px 10px 18px 10px;
                margin-top: 7px;
                > .custom-logo {
                    max-height: 75px;
                    max-width: 250px;
                }
            }
            > .site__iconlink-phone {
                padding: 0 7px;
                color: getVar($colors, accent);
                margin-right: -7px;
                font-weight: 500;
                &:before {
                    transform: rotate(90deg);
                    margin-right: 10px;
                    color: getVar($colors, accent);
                }
                &:focus,
                &:active,
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        //Bottom part of header
        > nav {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            height: 50px;
            max-width: $nav7_width;
            margin: 0 auto;
            //Line above navigational menu and below logo
            &:before {
                content: "";
                position: relative;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 100%;
                border-bottom: 2px solid getVar($colors, accent);
            }
            //Navigational menu unordered list
            .navlinks {
                list-style: none;
                display: flex;
                align-items: center;
            }
            //Navigational menu unordered list items
            .navlinks-item {
                margin-right: 0px;
            }
            .navlinks-item-link {
                padding: 0 10px;
                line-height: 50px;
                display: inline-block;
                color: getVar($colors, black, full);
                font-weight: 700;
                //Actions on hover, active and focus
                &:hover,
                &:active,
                &:focus,
                .active_menu_link {
                    opacity: 0.8;
                }
            }
        }
        //Social icons links
        .site__social-media > li > a {
            //Actions on hover, active and focus
            &:hover,
            &:active,
            &:focus {
                color: getVar($colors, black, full);
            }
        }
    }
}