$nav8_width : 1110px;

@media only screen {
    //Header 8
    header#opt_header_eight {
        padding: 0px;
        width: 100%;
        top: 25px;
        max-width: $nav8_width;
        left: 50%;
        transform: translateX(-50%);
        //First div to apply a max-width
        > div:first-of-type {
            display: flex;
            justify-content: space-between;
            background-color: getVar($colors, white, full);
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
            transition: width 0.3s;
            align-items: center;
            height: 92px;
            padding: 0 30px;
            //Logo section 
            > .custom-logo-link {
                padding: 10px;
                > .custom-logo {
                    max-height: 73px; 
                }
            }
            > nav {
                display: flex;
                align-items: center;
                margin-left: auto;
                //Navigation menu unordered list
                .navlinks {
                    flex-flow: row nowrap;
                    //Navigation menu list items
                    .navlinks-item {
                        padding: 0;
                        margin-right: -1px;
                        //Navigation menu list items links
                        .navlinks-item-link {
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 14px;
                            padding: 0 15px;
                            transition: color 0.1s, background-color 0.1s;
                            position: relative;
                            z-index: 0;
                            display: inline-block;
                            line-height: 92px;
                            color: getVar($colors, black, full);
                            &:before {
                                position: absolute;
                                width: 100%;
                                height: 0px;
                                left: 0px;
                                bottom: 0px;
                                content: '';
                                background: getVar($colors, accent);
                                transition: height 0.3s;
                                z-index: -1;
                            }
                            //Navigation menu list items links bottom to top background actions on hover, active and focus
                            &:hover, 
                            &:active,  
                            &:focus,
                            &.active_menu_link {
                                color: getVar($colors, white, full);
                                //Navigational menu list items links grow to top
                                &:before {
                                    height: 100%;
                                }
                            } 
                        }
                    }
                }
            }
        }
    }
}