@media only screen and (min-width: 1167px) {
	.header-clientinfo-logo-image {
		max-width: 220px;
	}

	.header {
		text-align: center;
	}

	.header-clientinfo-logo {
		position: absolute;
		top: 50%;
		left: 50%;
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.header-clientinfo {
		padding: 15px 0;
		background-color: #0D1113;
		background-color: black;
		text-align: center;
		position: relative;
	}

	.header-clientinfo .header-clientinfo--wrapper {
		font-size: 0;
		text-align: justify;
		width: 100%;
		max-width: 1025px;
		display: inline-block;
		margin: 0 auto;
	}

	.header-clientinfo .header-clientinfo--wrapper:after {
		width: 100%;
		display: inline-block;
		content: '';
	}

	.header-clientinfo-phone,
  .header-clientinfo-sociallinks,
  .header-clientinfo-logo {
		display: inline-block;
		margin: 0 auto;
		vertical-align: middle;
		font-size: initial;
		color: white;
		text-decoration: none;
	}

	.header-clientinfo-phone {
		font-weight: 700;
		opacity: 1;
		-webkit-transition: color 0.4s ease;
		-moz-transition: color 0.4s ease;
		-ms-transition: color 0.4s ease;
		-o-transition: color 0.4s ease;
		transition: color 0.4s ease;
	}

	.header-clientinfo-phone:hover {
		color: white;
	}

	.header-pagesmenu-pagelinks {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		width: 100%;
		max-width: 1018px;
		background-color: #df1d1d;
	}

	.header-pagesmenu-pagelinks:before, .header-pagesmenu-pagelinks:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -25px;
		width: 100px;
		height: 100%;
		background-color: #df1d1d;
		-moz-transform: skewX(37deg);
		-o-transform: skewX(37deg);
		-ms-transform: skewX(37deg);
		-webkit-transform: skewX(37deg);
		transform: skewX(37deg);
		z-index: -1;
	}

	.header-pagesmenu-pagelinks:after {
		-moz-transform: skewX(-37deg);
		-o-transform: skewX(-37deg);
		-ms-transform: skewX(-37deg);
		-webkit-transform: skewX(-37deg);
		transform: skewX(-37deg);
		left: auto;
		right: -25px;
	}

	.header-pagesmenu-pagelinks-item {
		display: inline-block;
		vertical-align: middle;
	}

	.header-pagesmenu-pagelinks-item-link {
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		margin: 0 15px;
		font-size: 14px;
		font-weight: 700;
		line-height: 4;
		font-weight: bold;
		opacity: 0.8;
	}

	.header-pagesmenu-pagelinks-item-link:hover {
		opacity: 1;
	}
}