@media only screen {

	.header{
		display: none;
	}
}
@media only screen and (min-width: $nav_desktop){
	.header{
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		font-size: 0;
	}
	.header-topbar{
		background-color: black;
		text-align: center;
	}
	.header-topbar-link{
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		font-size: 1.6rem;
		
		line-height: 2;
	}
	.header-content{
		padding: 15px 0;
		font-size: 0;
		max-width: 1440px;
		margin: 0 auto;
		width: 100%;
		text-align: justify;
		&:after {
			content: '';
			width: 100%;
			display: inline-block;
		}
	}
	.header-content-logo,
	.header-content-rightwrap,
	.header-content-menus,
	.header-content-quickquote{
		display: inline-block;
		vertical-align: middle;
	}
	.header-content-rightwrap {
		text-align: right;
		margin-right: 40px;
	}
	.header-content-logo {
		margin-left: 40px;
	}

	.header-content-logo-image{
		max-width: 220px;
		max-height: 62px;
	}
	.header-content-menus-social {
		display: inline-block;
	}
	.header-content-menus-social-menu-item{
		display: inline-block;
		margin: 0 5px;
		vertical-align: top;
		&:last-of-type {
			position: relative;
			bottom: 7px;
			.header-content-menus-social-menu-item-link{
				width: auto;
				height: auto;
				background-color: transparent;
				color: white;
				font-size: 2.5rem;
				text-decoration: none;
				position: relative;
				top: 2px;
			}
		}
	}
	.header-content-menus-social-menu-item-link{
		position: relative;
		display: inline-block;
	}
	.header-content-menus-social-menu-item-link-image{
		width: 19px;
		height: 19px;
	}
	.header-content-menus-pages-menu{
		font-size: 0;
		text-align: right;
	}
	.header-content-menus-pages-menu-item{
		display: inline-block;
		margin: 0 5px;
	}
	.header-content-menus-pages-menu-item-link{
		font-family: $body;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.4rem;
		padding: 5px 0;
		display: inline-block;
	}
	
	.header-tint{
		background-color: $medium-grey;
		// opacity: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.topbar-removed{
		height: 70px;
	}

	header.light{
		.header-topbar{
			background-color: $estimate-bar;
		}
		.header-topbar-link{
			color: black;
		}
		.header-content-menus-social-menu-item:last-of-type .header-content-menus-social-menu-item-link{
			color: black;
		}
		.header-content-menus-pages-menu-item-link{
			color: black;
		}
		.header-tint{
			background-color: $header-tint;
		}
		&~main {
			.hero-tint{
				background-color: rgba(255,255,255,0.6);
			}
			.hero-text-header{
				color: black;
			}
		}
	}
	
	header.invertlogo{
		.header-content-logo-image{
			@include filter(invert, 100%);
		}
	}
}
@media only screen and (min-width: $xlarge){

	.header-content-menus-pages-menu-item{
		margin: 0 7px 0 10px;
	}
	.header-content-menus-social{
		position: relative;
		top: 6px;
	}
	.header-content-menus-social-menu-item-link-image{
		width: 20px;
		height: 20px;
		bottom: 2px;
		position: relative;
	}
}