

@media only screen {


    section.hero {

        .hero-bgimg {
            width: 100%;
            height: 94vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;

            > div {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                > h2 {
                    font-size: 130px; 
                    font-weight: 100;
                }
                > p {
                    font-size: 24px;
                    font-weight: 700;
                    margin: 20px 0;
                }
                > a {
                    padding: 10px;
                    font-size: 18px;
                    background-color: $primary;
                    padding: 15px 30px;
                    border-radius: 20px;
                    text-transform: uppercase;
                    color: $white;
                    font-weight: 500;
                    display: inline-block;
                    background-color: $second_primary;
                    transition: background-color 0.25s;
                    //opacity: $opacity_level_below_one;
                    &:hover,
                    &:active, 
                    &:focus {
                        background-color: $primary;
                        //opacity: 1;
                    }
                }
            }
            
        }
    }
 
    @media only screen and (min-width: $bp__lg) {

    }
    
    
    
}