

@media only screen {

    section.hero { 

        .hero-bgimg {
            width: 100%;
            height: 94vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            > div {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                position: relative;
                transform: translateY(-50%);
                top: 45%;
                > div {
                    padding: 10%;
                    text-align: center;
                    > h2, 
                    > p, 
                    > a {
                        font-family: 'Futura-Bold', 'Trebuchet MS',Arial,sans-serif;
                    }
                    > h2 { 
                        font-size: 98px; 
                        letter-spacing: -4px;
                    }
                    > p {
                        font-size: 24px;
                        margin: 20px 0 30px;
                    }
                    > a {
                        padding: 10px;
                        font-size: 18px;
                        background-color: $primary;
                        padding: 11px 30px 15px;
                        border-radius: 30px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        line-height: 1;
                        color: $white;
                        display: inline-block;
                        background-color: $primary;
                        transition: background-color 0.25s;
                        left: 25%;
                        &:hover,
                        &:active, 
                        &:focus {
                            background-color: $second_primary;
                        }
                    }
                }  
            }
        }
    } 
    

    @media only screen and (min-width: $bp__lg) {
        section.hero {
            .hero-bgimg > div > div {
                padding: 0;
            }
        }
    }  
}