$black: #000;
$white: #fff;
$color_white_transparent: rgba(255,255,255,0);
$color_white_not_transparent: rgba(255,255,255,1);

@media only screen {
}

@media only screen {
    $w : getVar($sizing, content, full);
    $c : 4;
    $g : getVar($sizing, gutter, vw, normal);
    
    footer {
        
        text-align: center;
        background-color: transparentize(gray, 0.33);
        > div.container {
            margin: 0 auto;
            padding: getVar($sizing, gutter, px, normal) 0;
            width: $w;
            display: flex;
            flex-flow: row wrap;
            background-color: transparentize(gray, 0.33);
            > section {
                width: colWidth($w, $c, $g);
                margin-right: getVar($g);
                flex: 1 0 auto;
                background-color: transparentize(gray, 0.33);
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
        > div.site__copyright_banner {
            background-color: black;
            > a {
                display: block;
                font-size: 1.4rem;
                line-height: 2.8rem;
                color: white;
            }
        }

        .site__custom_logo {
            display: block;
            padding: getVar($sizing, gutter, px, small);
        }

        .footer_badges,
        .footer_payment_types {
            > ul {
                > li {
                    display: inline-block;
                    img {
                        max-width: 44px;
                    }
                }
            }
        }
    }
    
}	