@media only screen {
    // COMMON FOOTER DESIGNS SCSS
    footer#footer_one, 
    footer#footer_two,
    footer#footer_three {
        background-color: $accent;
        > div.container {
            margin: 0 auto;
            display: flex;
            flex-flow: column wrap;
            #footer_company_info {
                margin-top: 10px;
            }
            .site__footer_logo {
                display: inline-block;
                padding: 5px;
                width: 250px;
                > div {
                    height: 90px;
                    max-width: 250px;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                }
            }
            #footer_nav {
                .navlinks {
                    display: flex;
                    flex-flow: row wrap;
                    .navlinks-item-link {
                        line-height: 50px;
                        text-transform: uppercase;
                        color: $white;
                        font-weight: 700;
                        @include fontS-16;
                        margin: 0 15px;
                        padding: 10px 0;   
                        &:hover,
                        &:active,
                        &:focus {
                            opacity: 0.8;
                        }
                        &:after {
                            content: "";
                            position: relative;
                            bottom: 0;
                            left: 15px;
                            right: 0;
                            height: 0.5em;
                            border-right: 2px solid $white;
                        }
                    }
                    .navlinks-item:last-of-type .navlinks-item-link:after {
                        border-right: none;
                    }
                }
            }
            .site__social-media {
                display: flex;
                justify-content: center;
                li {
                    margin-right: 10px;
                    a {
                        padding: 10px;
                        i {
                            font-size: 20px;
                            color: $white;
                        }
                        &:hover,
                        &:active,
                        &:focus {
                            opacity: 0.8;
                        }
                    }
                }
            }
            .footer_address {
                margin-right: 20px;
                display: block;
                color: $white;
                font-weight: 700;
                @include fontS-14;
                padding: 5px;
                &:hover,
                &:active, 
                &:focus {
                    opacity: 0.8;
                }
            }
            //Phone numbers
            a[class^='footer_phone']{
                display: block;
                color: $white;
                font-weight: 400;
                @include fontS-14;
                margin-right: 15px;
                padding: 5px;
                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                }
            }
            .site__copyright_banner {
                > a {
                    display: inline-block;
                    color: $white;
                    @include fontS-14;
                    &:hover,
                    &:active,
                    &:focus {
                        opacity: 0.8;
                    }
                }
            }
            .footer_badges,
            .footer_payment_types {
                > ul {
                    > li {
                        display: inline-block;
                        margin-right: 10px;
                        img {
                            max-width: 44px;
                        }
                    }
                    > li:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    // FOOTER 1
    footer#footer_one { 
        > div.container {
            width: getVar($sizing, content, medium);
            flex-flow: column nowrap;
            section,
            .site__copyright_banner {
                margin-bottom: 30px;
            }
            #footer_company_info {
                text-align: center;
                .footer_phone_1, 
                .footer_phone_2,
                .footer_address {
                    @include fontS-20;
                    font-weight: 500;
                }
                .site__social-media {
                    margin: 30px 0 10px;
                    justify-content: center;
                    li {
                        margin-right: 0;
                        a {
                            padding: 5px;
                            i {
                                font-size: 16px;
                                color: $accent;
                                background-color: white;
                                padding: 10px 12px;
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }
            #footer_nav {
                .navlinks {
                    flex-flow: column wrap;
                    max-height: 250px;
                    .navlinks-item {
                        .navlinks-item-link {
                            text-transform: initial;
                            @include fontS-20;
                            line-height: 40px;
                            margin: 0;
                            font-weight: 500;
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
            section.footer_payment_types,
            section.footer_badges {
                ul {
                    display: flex;
                    flex-flow: column wrap;
                    max-height: 200px;
                    align-items: inherit;
                    > li {
                        display: initial;
                        img {
                            max-width: 70px;
                            max-height: 70px;
                            margin: 10px 0;
                        }
                    }
                } 
                h3.payment_title { 
                    margin-top: 10px; 
                }
            }
            h3 {
                border-bottom: 2px solid white;
                color: $white;
                padding: 3px;
                font-weight: 400;
                margin-bottom: 20px;
            }
            div.site__copyright_banner {
                text-align: center;
                margin-top: 10px;
            }
        }
    }
    // FOOTER 2
    footer#footer_two {
        text-align: center;
        > div.container {
            > a:last-of-type {
                margin-right: 0;
            }      
            #footer_nav {
                border-top: 2px solid $white;
                border-bottom: 2px solid $white;
                .navlinks {
                    justify-content: center;
                }
            }
            .site__social-media {
                margin: 20px 0 10px;
            }
            .footer_address {
                margin-right: 20px;
            }
            .footer_badges,
            .footer_payment_types {
                margin: 10px 0;
            }
        }
    }
    //FOOTER 3
    footer#footer_three {
        text-align: left;
        >div.container {
            padding: 0 10px;
            #footer_nav {
                border-bottom: 4px dotted $white;
                .navlinks {
                    margin: -10px 0 0 -10px;
                }
            }
            .site__social-media {
                margin: 0;
            }
            .footer_address {   
                margin: 10px 20px 0 0;
            }
            .site__copyright_banner {
                margin: 0 0 10px 0;
                > a {
                    max-width: 350px;   
                    padding: 5px;
                }
            }
            .footer_payment_types {
                padding: 5px;
            }
            .footer_three_last_div,
            .footer_three_social_media {
                align-items: center;
                display: flex;
                justify-content: space-between;
            }
            .footer_three_social_media {
                > p {
                    margin-right: 20px;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 15px;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}	

@media only screen and (min-width: 960px){
    footer#footer_one {
        div.container {
            flex-flow: row wrap;
            #footer_company_info, .footer_badges {
                flex: 1 0 100%;
            }
            section#footer_nav_section {
                margin-right: 20px;
            }
            .footer_payment_types {
                margin-top: -10px;
            }
            section#footer_nav_section,
            .footer_payment_types {
                flex: 1 0 45%;
            }
            div.site__copyright_banner {
                margin: 10px auto 30px auto;
            }
        }
    }
}

@media only screen and (min-width: 1280px){
    footer > div.container {
        padding: 0;
        max-width: getVar($sizing, content, medium);
        .footer_address,
        a[class^='footer_phone'] {
            display: inline-block;
        }
        .site__social-media > li:last-of-type {
            margin-right: -10px;
        }
    }
    footer#footer_one {
        div.container {
            &:first-of-type {
                padding-top: 40px;
            }
            #footer_company_info {
                flex: 1 0 25%;
                margin-top: 0;
                text-align: left;
                margin-right: 5px;
                .site__social-media {
                    justify-content: flex-start;
                    margin: 10px 0 10px;
                }
            }
            section#footer_nav_section,
            section.footer_payment_types {
                margin-right: 40px;
            }
            section#footer_nav_section,
            section.footer_payment_types,
            section.footer_badges {
                flex: 1 0 20%;
            }
            section,
            div.site__copyright_banner {
                margin-bottom: 0;
            }
            div.site__copyright_banner {
                margin: 10px auto;
            }
        }
    }
}
