@media only screen {
    // COMMON FOOTER DESIGNS SCSS
    footer {
        background-color: getVar($colors, accent);
        > div.container {
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            #footer_company_info {
                margin-top: 10px;
            }
            .site__footer_logo {
                display: inline-block;
                padding: 5px;
                width: 250px;
                > div {
                    height: 90px;
                    max-width: 250px;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                }
            }
            #footer_nav {
                .navlinks {
                    display: flex;
                    flex-flow: row wrap;
                    .navlinks-item-link {
                        line-height: 50px;
                        text-transform: uppercase;
                        color: getVar($colors, white, full);
                        font-weight: 700;
                        @include fontS-16;
                        margin: 0 15px;
                        padding: 10px 0;   
                        &:hover,
                        &:active,
                        &:focus {
                            opacity: 0.8;
                        }
                        &:after {
                            content: "";
                            position: relative;
                            bottom: 0;
                            left: 15px;
                            right: 0;
                            height: 0.5em;
                            border-right: 2px solid getVar($colors, white, full);
                        }
                    }
                    .navlinks-item:last-of-type .navlinks-item-link:after {
                        border-right: none;
                    }
                }
            }
            .site__social-media {
                display: flex;
                justify-content: center;
                li {
                    margin-right: 10px;
                    a {
                        padding: 10px;
                        i {
                            @include fontS-20;
                            color: $white;
                        }
                        &:hover,
                        &:active,
                        &:focus {
                            opacity: 0.8;
                        }
                    }
                }
            }
            .footer_address {
                margin-right: 20px;
                display: block;
                color: getVar($colors, white, full);
                font-weight: 700;
                @include fontS-14;
                padding: 5px;
                &:hover,
                &:active, 
                &:focus {
                    opacity: 0.8;
                }
            }
            //Phone numbers
            a[class^='footer_phone']{
                display: block;
                color: $white;
                font-weight: 400;
                @include fontS-14;
                margin-right: 15px;
                padding: 5px;
                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                }
            }
            .site__copyright_banner {
                > a {
                    display: inline-block;
                    color: getVar($colors, white, full);
                    @include fontS-14;
                    &:hover,
                    &:active,
                    &:focus {
                        opacity: 0.8;
                    }
                }
            }
            .footer_badges,
            .footer_payment_types {
                > ul {
                    > li {
                        display: inline-block;
                        margin-right: 10px;
                        img {
                            max-width: 44px;
                        }
                    }
                    > li:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    // FOOTER 1
    footer#footer_one { 
        > div.container {
            width: getVar($sizing, content, medium);
            flex-flow: row nowrap;
            > div {
                flex: 1 0 23%;
                margin-right: 40px;
                margin-top: 20px;
            }
            > div:last-of-type {
                margin-right: 0;
            }
            h3 {
                border-bottom: 5px dotted getVar($colors, white, full);
                color: $white;
                padding: 0 0 10px 0;
                font-weight: 600;
                margin-bottom: 5px;
                text-transform: uppercase;
                @include fontS-20;
            }
            #footer_company_info {
                margin-top: 10px;
                margin-right: 0;
                .footer_phone_1, 
                .footer_phone_2,
                .footer_address {
                    @include fontS-16;
                    font-weight: 400;
                    margin-right: 0;
                    display: block;
                }
                a[class^='footer_phone'] {
                    line-height: 15px;
                    > span {
                        font-weight: bold;
                    }
                }
                .footer_address {
                    margin-bottom: 10px;
                    line-height: 25px;
                }
            }
            #footer_nav {
                .navlinks {
                    flex-flow: column wrap;
                    .navlinks-item {
                        .navlinks-item-link {
                            text-transform: initial;
                            @include fontS-18;
                            line-height: 20px;
                            margin: 0;
                            font-weight: 400;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                            display: block;
                            &:after {
                                display: none;
                            }
                        }
                    }
                    .navlinks-item:last-of-type > a {
                        border-bottom: 1px solid transparent; 
                    }
                }
            }
            #footer_posts {
                > ul {
                    > li {
                        > a {
                            color: #fff;
                            padding: 10px 0;
                            @include fontS-18;
                            line-height: 20px;
                            margin: 0;
                            font-weight: 400;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                            display: block;
                            &:hover,
                            &:active,
                            &:focus {
                                opacity: 0.8;
                            }
                        }
                    }
                    > li:last-of-type > a {
                        border-bottom: 1px solid transparent;
                    }
                }
            }
            #footer_social {
                .site__social-media {
                    margin: 20px 0 10px;
                    justify-content: flex-start;
                    li {
                        margin-right: 0;
                        a {
                            padding: 5px;
                            i {
                                font-size: 16px;
                                color: white;
                                border: 3px solid rgba(255, 255, 255, 0.4);
                                padding: 3px 12px;
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }
        }
        > div.footer_copyright {
            margin-top: 30px;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            background-color: darken(getVar($colors, accent), 10%);
            padding: 20px 0;
            > div.container {
                margin: 0 auto;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                width: getVar($sizing, content, medium);
                justify-content: center;
                > div {
                    flex: 1 0 50%;
                }
                .site__copyright_banner {
                    display: flex;
                    justify-content: flex-start;
                    > a {
                        color: getVar($colors, white, full);
                    }
                }
                .footer_payment_types {
                    display: flex;
                    justify-content: flex-end;
                    ul {
                        display: flex;
                        flex-flow: row wrap;
                        max-height: 200px;
                        align-items: inherit;
                        justify-content: flex-start;
                        > li {
                            margin-right: 10px;
                            display: initial;
                            img {
                                max-width: 70px;
                                max-height: 70px;
                                margin: 10px 0;
                            }
                        }
                        > li:last-of-type {
                            margin-right: 0;
                        }
                    } 
                    h3.payment_title { 
                        margin-top: 10px; 
                    }
                }  
            }
        }
    }
    // FOOTER 2
    footer#footer_two {
        text-align: center;
        > div.container {
            > a:last-of-type {
                margin-right: 0;
            }      
            #footer_nav {
                border-top: 2px solid $white;
                border-bottom: 2px solid $white;
                .navlinks {
                    justify-content: center;
                }
            }
            .site__social-media {
                margin: 20px 0 10px;
            }
            .footer_address {
                margin-right: 20px;
            }
            .footer_badges,
            .footer_payment_types {
                margin: 10px 0;
            }
        }
    }
    //FOOTER 3
    footer#footer_three {
        text-align: left;
        >div.container {
            padding: 0 10px;
            #footer_nav {
                border-bottom: 4px dotted $white;
                .navlinks {
                    margin: -10px 0 0 -10px;
                }
            }
            .site__social-media {
                margin: 0;
            }
            .footer_address {   
                margin: 10px 20px 0 0;
            }
            .site__copyright_banner {
                margin: 0 0 10px 0;
                > a {
                    max-width: 350px;   
                    padding: 5px;
                }
            }
            .footer_payment_types {
                padding: 5px;
            }
            .footer_three_last_div,
            .footer_three_social_media {
                align-items: center;
                display: flex;
                justify-content: space-between;
            }
            .footer_three_social_media {
                > p {
                    margin-right: 20px;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 700;
                    @include fontS-14;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}	

@media only screen and (max-width: 1280px){
    footer > div.container {
        padding: 0;
        max-width: getVar($sizing, content, medium);
        .footer_address,
        a[class^='footer_phone'] {
            display: inline-block;
        }
        .site__social-media > li:last-of-type {
            margin-right: -10px;
        }
    }
    footer#footer_one {
        div.container {
            &:first-of-type {
                padding-top: 40px;
            }
            #footer_company_info {
                flex: 1 0 25%;
                margin-top: 0;
                text-align: left;
                margin-right: 5px;
                .site__social-media {
                    justify-content: flex-start;
                    margin: 10px 0 10px;
                }
            }
            section#footer_nav_section,
            section.footer_payment_types {
                margin-right: 40px;
            }
            section#footer_nav_section,
            section.footer_payment_types,
            section.footer_badges {
                flex: 1 0 20%;
            }
            section,
            div.site__copyright_banner {
                margin-bottom: 0;
            }
            div.site__copyright_banner {
                margin: 10px auto;
            }
        }
    }
}

@media only screen and (max-width: 960px){
    footer#footer_one {
        > div.container {
            flex-flow: row wrap;
            #footer_company_info {
                flex: 1 0 100%;
            }
        }
    }
}