white: #fff;
$black: #000;
$color_white_transparent: rgba(255, 255, 255, 0);
$color_white_not_transparent: rgba(255, 255, 255, 1);

@media only screen {

    // bg
    .mobilefooter {
        text-align: center;
        background-color: $footer-grey;
        color: white;
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        ul {
            list-style: none;
        }

        >div {
            h2 {
                display: block;
                font-size: 2.4rem;
                color: white;
                text-transform: capitalize;
                position: relative;
                margin: 20px 0;
                padding: 5px 0;
                font-weight: 400;
                font-family: $body;

                &:after {
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 100%;
                    display: inline-block;
                    content: '';
                    border-bottom: 2px solid $light-grey;
                    transition: width 0.3s ease;
                    -webkit-transition: width 0.3s ease;
                    -o-transition: width 0.3s ease;
                }
            }

            >div {
                margin-bottom: 0;
                text-align: center;
            }

            &:nth-of-type(1) {
                >a {
                    text-align: center;
                    margin: 10px auto;
                    padding: 5px 0;
                    display: inline-block;

                    >img {
                        height: auto;
                        max-width: 200px;
                        object-fit: cover;
                    }
                }

                >div {
                    display: flex;
                    align-items: center;
                    flex-flow: column;

                    >a {
                        font-size: 16px;
                        display: inline-block;
                        color: white;
                        text-decoration: none;
                        padding: 5px 10px;
                        border-radius: 20px;
                        background-color: rgba(255, 255, 255, 0);
                        transition: color 0.3s, background-color 0.3s;
                        -webkit-transition: color 0.3s, background-color 0.3s;
                        -o-transition: color 0.3s, background-color 0.3s;

                        &:hover,
                        &:active,
                        &:focus {
                            color: $black;
                            background-color: $color_white_not_transparent;
                        }
                    }

                    >div {
                        font-size: 1.8rem;
                        color: white;
                        display: inline-block;
                        padding: 10px 0 20px 0;
                    }
                }
            }

            &:nth-of-type(1),
            &:nth-of-type(4) {
                flex: 1 0 100%;
            }

            &:nth-of-type(2),
            &:nth-of-type(3) {
                vertical-align: top;
                margin: 20px;
                text-align: left;
                width: 280px;
            }

            &:nth-of-type(2) {
                >ul {
                    max-width: 400px;
                    margin: 0 auto;
                    text-align: left;
                    display: flex;
                    flex-wrap: wrap;

                    >li {
                        margin-bottom: 5px;
                        flex: 0 1 50%;

                        >a {
                            color: white;
                            text-transform: capitalize;
                            text-decoration: none;
                            padding: 5px 10px;
                            border-radius: 20px;
                            display: inline-block;
                            font-size: 1.6rem;
                            background-color: rgba(255, 255, 255, 0);
                            transition: color 0.3s, background-color 0.3s;
                            -webkit-transition: color 0.3s, background-color 0.3s;
                            -o-transition: color 0.3s, background-color 0.3s;
                            display: inline-flex;
                            width: 100%;

                            &:hover,
                            &:active,
                            &:focus {
                                color: $black;
                                background-color: $color_white_not_transparent;
                            }
                        }
                    }
                }
            }

            &:nth-of-type(3) {

                // payment types images
                >ul {
                    display: flex;
                    flex-flow: row wrap;

                    >li {
                        height: 40px;
                        background-repeat: no-repeat;
                        margin: 5px;
                        width: 60px;
                        background-position: 0 0;
                        display: inline-block;

                        &:nth-of-type(1) {
                            background-image: url('../../library/img/payment_types/mc.png');
                        }

                        &:nth-of-type(2) {
                            >img {
                                display: none;
                            }

                            background-image: url('../../library/img/payment_types/visa.png');
                        }

                        &:nth-of-type(3) {
                            background-image: url('../../library/img/payment_types/amex.png');
                        }

                        &:nth-of-type(4) {
                            background-image: url('../../library/img/payment_types/discover.png');
                        }

                        &:nth-of-type(5) {
                            background-image: url('../../library/img/payment_types/pp.png');
                        }
                    }
                }
            }

            &:nth-of-type(4) {
                >div {
                    >ul {
                        display: flex;
                        justify-content: center;
                        flex-flow: wrap;

                        >li {
                            >a {
                                display: inline-block;
                                margin: 5px auto;

                                >img {
                                    width: 280px;
                                }
                            }
                        }
                    }

                    h2 {
                        width: 280px;
                        margin: 20px auto;
                    }
                }
            }
        }
    }

    // If Invert Is Checked
    footer.mobilefooter.light {
        background-color: $footer-bg;
        color: $black;

        >div {
            >div {
                &:nth-of-type(1) {
                    >a {
                        color: $black;
                    }
                }
            }
        }
    }

    footer.mobilefooter.invertlogo {
        >div {
            >a {
                >img {
                    -webkit-filter: invert(100%);
                    filter: invert(100%)
                }
            }
        }
    }
}

@media only screen and (min-width: $medium) {}

@media only screen and (min-width: $large) {
    .mobilefooter {
        display: none;
    }
}