@media only screen {
    //Hero section
    section.hero {
        overflow: hidden;
        &:after {
            content: "";
            display: block;
            position: fixed;
            padding: 100px 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.4);
        }
        //Hero Foreground
        .hero_foreground {
            font-family: 'Futura-Bold', 'Trebuchet MS', Arial, sans-serif;
            text-align: center;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%; 
            left: 50%;
            width: getVar($sizing, content, full);
            z-index: 2;
            //Title
            h2 {
                @include fontS-34;
                z-index: 2;
                color: $white;
            }
            //Logo
            img {
                max-width: 200px;
                margin: 35px auto 0;
            }
            //Subtitle
            p {
                color: $white;
                z-index: 2;
                @include fontS-24;
                margin: 20px 0 30px;
            }
            //Button
            a {
                padding: 10px;
                @include fontS-20;
                padding: 13px 30px 15px;
                border-radius: 30px;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 1em; 
                color: $white;
                display: inline-block;
                background-color: $accent;
                transition: background-color 0.25s;
            }
            //Button actions on hover, focus and active
            a:hover, 
            a:focus, 
            a:active {
                opacity: 0.8;
            }
        }
    }

    // Hero Image
    section.hero#hero_image {     
        //First div of hero image 
        > #hero_staticimage {
            height: 90vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    // Hero Slider
    section.hero#hero_slider {
        #slick_slider_hero {
            margin-bottom: 0;
        }
        // Slider images
        .slick_slider_img {
            object-fit: cover; 
            position: relative;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 90vh;
        }
    }
    // Hero Video
    section.hero#hero_video { 
        position: relative;
        width: 100%;
        height: 66vh;
        .hero_video-container {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        // Video 
        video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            @include centerer;
        }
    }
}


@media only screen and (min-width: 960px){
    section.hero .hero_foreground {
        width: getVar($sizing, content, large);
        //Title
        > h2 {
            @include fontS-72;
        }
        //Subtitle
        > p {
            @include fontS-34;
        }
    }
}

@media only screen and (min-width: 1280px){
    section.hero .hero_foreground {
        width: getVar($sizing, content, medium);
    }
}