// 
// 
// 
@media only screen {
    // 
    // 
    // 
    section.hero {
        margin: 0 0 getVar($sizing, gutter, px, large) 0;
        height: 80vh;
        
        

        
        
        &#hero_image {
            > #hero_staticimage {
                height: 100%;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                padding: getVar($sizing, gutter, px, large);

                // handle placement
                &.topleft {
                    align-items: flex-start;
                    justify-content: flex-start;
                }
                &.topcenter {
                    align-items: flex-start;
                    justify-content: center;
                }
                &.topright {
                    align-items: flex-start;
                    justify-content: flex-end;
                }
                &.middleleft {
                    align-items: center;
                    justify-content: flex-start;
                }
                &.middlecenter {
                    align-items: center;
                    justify-content: center;
                }
                &.middleright {
                    align-items: center;
                    justify-content: flex-end;
                }
                &.bottomleft {
                    align-items: flex-end;
                    justify-content: flex-start;
                }
                &.bottomcenter {
                    align-items: flex-end;
                    justify-content: center;
                }
                &.bottomright {
                    align-items: flex-end;
                    justify-content: flex-end;
                }


                
                > .hero_foreground {
                    &.hasbg {
                        padding: getVar($sizing, gutter, px, normal);
                    }
                }
            }
            
        }

        &#hero_slider {

            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            // handle placement
            &.topleft {
                align-items: flex-start;
                justify-content: flex-start;
            }

            &.topcenter {
                align-items: flex-start;
                justify-content: center;
            }

            &.topright {
                align-items: flex-start;
                justify-content: flex-end;
            }

            &.middleleft {
                align-items: center;
                justify-content: flex-start;
            }

            &.middlecenter {
                align-items: center;
                justify-content: center;
            }

            &.middleright {
                align-items: center;
                justify-content: flex-end;
            }

            &.bottomleft {
                align-items: flex-end;
                justify-content: flex-start;
            }

            &.bottomcenter {
                align-items: flex-end;
                justify-content: center;
            }

            &.bottomright {
                align-items: flex-end;
                justify-content: flex-end;
            }
            
            > div#slick_slider_hero {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                margin: 0 0 0 0;
                &.slick-slider,
                .slick-list,
                .slider_img,
                .slick-track {
                    height: 100%;
                }
                // wait until initialize?
                &.slick-initialized {
                    // opacity maybe?
                }
            }

            > .hero_foreground {
                position: relative;
            }
        }
        
        
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    //Hero section
    section.hero {
        overflow: hidden;
        position: relative;
        // Black overlay
        &:after {
            content: "";
            display: block;
            position: absolute;
            padding: 100px 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;    
            background-color: rgba(0,0,0,0.4);
        }
        //Hero Foreground
        .hero_foreground {
            font-family: 'Futura-Bold', 'Trebuchet MS', Arial, sans-serif;
            text-align: center;
            z-index: 2;
            //Title
            h2 {
                @include fontS-72;
                z-index: 2;
                color: $white;
            }
            img {
                margin: 0 auto;
                max-width: 700px;
                max-height: 500px;
            }
            //Subtitle
            p {
                color: $white;
                z-index: 2;
                @include fontS-34;
                margin: 20px 0 30px;
            }
            //Button
            a.site__button {
                padding: 10px;
                @include fontS-20;
                padding: 13px 30px 15px;
                border-radius: 30px;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 1em; 
                color: $white;
                display: inline-block;
                background-color: $accent;
                transition: background-color 0.25s;
                //Button actions on hover, focus and active
                &:hover, 
                &:focus, 
                &:active {
                    opacity: 0.8;
                }
            }
        }
    }
    // Hero Image
    section.hero#hero_image {     
        //First div of hero image 
        > div#hero_staticimage {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    // Hero Slider
    section.hero#hero_slider {
        #slick_slider_hero {
            margin-bottom: 0;
            .slick-arrow {
                position: absolute;
                top: 50%;
                font-size: 50px;
                z-index: 1;
                padding: 10px;
                > i {
                    color: white;
                }
                &.slick_next_arrow {
                    right: 0;
                }
                &:hover, &:active, &:focus {
                    cursor: pointer;
                }
            }
        }
        // Slider images
        .slider_img {
            object-fit: cover; 
            position: relative;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
        }
    }
    // Hero Video
    section.hero#hero_video { 
        width: 100%;
        // Video 
        video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            @include centerer;
        }
    }
}

@media only screen and (max-width: 1280px){
    section.hero .hero_foreground.container {
        width: getVar($sizing, content, medium);
    }
}

@media only screen and (max-width: 960px){
    section.hero .hero_foreground.container {
        &.narrow,
        &.medium,
        &.wide,
        &.full {
            width: getVar($sizing, content, large);
        }
        //Title
        > h2 {
            @include fontS-34;
        }
        //Subtitle
        > p {
            @include fontS-24;
        }
    }
}

@media only screen and (max-width: 640px){
    section.hero .hero_foreground.container {
        &.narrow,
        &.medium,
        &.wide,
        &.full {
            width: getVar($sizing, content, full);
        }
    }
}
