@media only screen {

    .site__block>.container,
    .site__flexgrid {
        text-align: center;
        &.narrow {
            width: 65%;
            margin: 0 auto;
        }
        &.normal {
            width: 80%;
            margin: 0 auto;
        }
        &.full {
            width: 100%;
            margin: 0 auto;
        }
    }

    .grid_item {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    // 
    .site__flexgrid {
        margin: 0 auto;

        // start a 0-index loop 
        @for $i from 0 to 6 {

            $c: $i + 1; // will be a value from 1-6

            &.cols-#{$c} {
                //
                @include flexboxGrid($cols : $c , $gutter: 30px);
            }
        }
    }
    
    .grid_item {
        .coupon_print {
            height: 100%;
            > div {
                height: 100%;
            }
        }
    }
    
    
}
//Do the rest of the media queries with max-width, not min-width
@media only screen and (max-width:1280px) {
    .site__flexgrid {
        margin: 0 auto;

        // start a 0-index loop 
        @for $i from 4 to 6 {
            $c: $i + 1; // will be a value from 1-6
        
            &.cols-#{$c} {
                //
                @include flexboxGrid($cols: 4, $gutter: 30px);
            }
        }
    }
}

@media only screen and (max-width:960px) {
    .site__flexgrid {
        margin: 0 auto;

        // start a 0-index loop 
        @for $i from 3 to 6 {
            $c: $i + 1; // will be a value from 1-6

            &.cols-#{$c} {
                //
                @include flexboxGrid($cols: 3, $gutter: 30px);
            }
        }
    }
}

@media only screen and (max-width:640px) {
    .site__flexgrid {
        margin: 0 auto;

        // start a 0-index loop 
        @for $i from 2 to 6 {
            $c: $i + 1; // will be a value from 1-6

            &.cols-#{$c} {
                //
                @include flexboxGrid($cols: 2, $gutter: 30px);
            }
        }
    }
}

@media only screen and (max-width:480px) {
    .site__flexgrid {
        margin: 0 auto;

        // start a 0-index loop 
        @for $i from 0 to 6 {
            $c: $i + 1; // will be a value from 1-6

            &.cols-#{$c} {
                //
                @include flexboxGrid($cols: 1, $gutter: 30px);
            }
        }
    }
}

// specific block styles
@import 'blocks/heading_block';
@import 'blocks/copy_block';
@import 'blocks/services_block';
@import 'blocks/galleries_block';
@import 'blocks/coupons_block';
@import 'blocks/staff_block';
@import 'blocks/food_menus_block';
@import 'blocks/testimonials_block';
@import 'blocks/blog_post_block';
@import 'blocks/contact_block';
@import 'blocks/locations_block';