@media only screen {
	.popupcontainer{
		display: none;
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		padding: 20px;
		background-color: rgba(0,0,0,0.85);
		z-index: 20;
	}
	.popup{
		max-width: 420px;
		width: calc(100% - 40px);
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		background-color: $footer-grey;
		padding: 40px;
		z-index: 5;
		color: white;
	}
	.popup-header{
		text-align: center;
		font-family: $body;
		color: white;
		margin-bottom: 20px;
		text-transform: none;
	}
	.popupcontainer-times{
		position: absolute;
		top: 10px;
		right: 10px;
		color: white;
		font-size: 4.8rem;
		cursor: pointer;
		z-index: 30;
	}
	.popup-imagecontainer{
	    width: calc(100% + 80px);
	    max-height: 250px;
	    height: 25vw;
	    position: relative;
	    margin: -40px -40px 30px -40px;
	    overflow: hidden;
	    display: hidden;
	}
	.popup-imagecontainer-image{
		width: 100%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}

	.popup{
		width: 100%;
	}
	.popupcontainer-times{
		top: 40px;
		right: 40px;
	}
	.popup-imagecontainer-image{
		display: block;
	}

	.popup-header{
		font-size: 3rem;
	}
}