@media only screen {

    .site__block>.container,
    .site__flexgrid {
        text-align: center;
        &.narrow {
            width: 65%;
            margin: 0 auto;
        }
        &.normal {
            width: 80%;
            margin: 0 auto;
        }
        &.wide {
            width: 90%;
            margin: 0 auto;
        }
        &.full {
            width: 100%;
            margin: 0 auto; 
        }
        &.auto {
            width: 100%;
            margin: 0 auto;
        }
    }

    // 
    .site__flexgrid {
        margin: 0 auto;

        // start a 0-index loop 
        @for $i from 0 to 6 {

            $c: $i + 1; // will be a value from 1-6

            &.cols-#{$c} {
                //
                @include flexboxGrid($cols : $c , $gutter: 30px);
            }
        }
    }
    
}
//Do the rest of the media queries with max-width, not min-width
@media only screen and (max-width:1280px) {
    .site__flexgrid {

        // start a 4-index loop 
        @for $i from 4 to 6 {
            $c: $i + 1; // will be a value from 1-6
        
            &.cols-#{$c} {
                //
                @include flexboxGrid($cols: 4, $gutter: 30px);
            }
        }
    }
}

@media only screen and (max-width:960px) {
    .site__flexgrid {

        // start a 3-index loop 
        @for $i from 3 to 6 {
            $c: $i + 1; // will be a value from 1-6

            &.cols-#{$c} {
                //
                @include flexboxGrid($cols: 3, $gutter: 30px);
            }
        }
    }
}

@media only screen and (max-width:640px) {
    .site__flexgrid {

        // start a 2-index loop 
        @for $i from 2 to 6 {
            $c: $i + 1; // will be a value from 1-6

            &.cols-#{$c} {
                //
                @include flexboxGrid($cols: 2, $gutter: 30px);
            }
        }
    }
}

@media only screen and (max-width:480px) {
    .site__flexgrid {

        // start a 0-index loop 
        @for $i from 0 to 6 {
            $c: $i + 1; // will be a value from 1-6

            &.cols-#{$c} {
                //
                @include flexboxGrid($cols: 1, $gutter: 30px);
            }
        }
    }
}

// specific grid styles
@import 'grid/grid.coupon';
@import 'grid/grid.service';
@import 'grid/grid.staff';
@import 'grid/grid.blog_post';
@import 'grid/grid.testimonials';