.acf-field[data-name="placement"]{


    
    div.acf-button-group {
        display: flex;
        flex-flow: row wrap;
        width: 300px;
        label {
            flex: 1 0 25%;
        } 
    }
}

@import '../../../node_modules/paymentfont/css/paymentfont.min.css';
