@media only screen {

	.gallery-galleries {
		text-align: center;
		width: 100%;
	}

	.gallery-galleries-gallery{
		font-size: 0;
		margin-bottom: 20px;
	}
	.gallery-galleries-gallery-header{
		padding: 40px 0;
		margin-bottom: 0;
		// background-color: transparent;
		// padding: 10px 20px 20px 20px;
		// font-size: 2.4rem;
		// color: black;
		// font-family: $body;
		// text-align: center;
	}
	.gallery-galleries-gallery-imagecontainer{
		width: 50%;
		height: 240px;
		display: inline-block;
	}
	
	img.gallery-galleries-gallery-imagecontainer-image{
		min-width: 100%;
		min-height: 100%;
		width: 100%;
		object-fit: cover;
	}

	// background image 
	.gallery-galleries-gallery-imagecontainer-image{
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-position: center;
		background-size: cover;
	}
	
	// Custom Responsive Grid
	.medium-1{
		width: 100%;
		height: 240px;
	}
	.large-2,
	.large-3 {
		width: 50%;
		height: 240px;
	}
	.large-3.medium-1 {
		width: 100%;
	}
}
@media only screen and (min-width: $medium){
	.gallery-galleries-gallery{
		padding: 0 20px;
	}
	.gallery-galleries-gallery-header{
		font-size: 2.8rem;
	}
	.gallery-galleries-gallery-imagecontainer{
		width: 50%;		
	}
	.medium-1{
		width: 100%;
		height: 240px;
	}
}

@media only screen and (min-width: $large){

	.gallery-galleries {
		display: inline-block;
		margin: 0 auto;
	}

	.gallery-galleries-gallery{
		position: relative;
		max-width: $large;
	    margin: 40px auto;
	    display: inline-block;
	    width: 100%;
	}
	.gallery-galleries-gallery-imagecontainer{
		display: inline-block;
		width: 25%;
		height: 240px;
		overflow: hidden;
		&:hover{
			.gallery-galleries-gallery-imagecontainer-image{
				@include transform(scale(1.15));
			}
		}
	}
	.gallery-galleries-gallery-imagecontainer-image {
		background-size: cover;
		img {
			max-width: 100%;
		}
	}
	.gallery-galleries-gallery-imagecontainer-image{
		@include transition(transform 0.5s ease);
	}
	.medium-1{
		height: 240px;
		width: 25%;
	}
	.large-1,
	.large-2,
	.large-3{
		width: 100%;
		height: 360px;
	}
	.large-2,
	.large-3 {
		width: 50%;
	}
}