@media only screen {
	.home-hero,
	.home-hero-tint{
		height: 90vh;
	}
	.home-hero {
		text-align: center;
	}
	.home-hero-text-button{
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		background-color: $primary;
		padding: 15px 20px;
		margin-top: 20px;
		display: inline-block;
	}
	.home-hero-text{
		display: inline-block;
		margin: 0 auto;
		width: calc(100% - 20px);
		max-width: $large;
		position: absolute;
		top: auto; // overrides global
		bottom: 40px;
		left: 50%;
		@include transform(translate(-50%, 0));
	}
	.home-hero-text-header{
		color: white;
		display: block;
		margin: 0 auto;
	}
	.home-hero-text-button{
		border-radius: 4px;
		font-weight: 400;
		color: white;
	}
}

@media only screen and (min-width: $medium){
	.home-hero-text{
		text-align: center;
	}
	.home-hero-text-header{
		position: relative;
		font-size: 7rem;
	}
	.home-hero-text-button{
		font-size: 2rem;
		font-weight: normal;
	}
}
@media only screen and (min-width: $large){
	.home-hero-text-header{
		font-size: 8rem;
		max-width: $xlarge;
	}
}
