@media only screen {
	.home-areasserved{
		padding: 0;
	}
	.home-areasserved-map{
		position: relative;
	}
	.home-areasserved-map-gmap{
		width: 100%;
		min-height: 300px;
		margin-top: 20px;
	}
	.home-areasserved-map-tint{
		background-color: rgba(0,0,0,0.35);
		width: 100%;
		min-height: 300px;
		z-index: 1;
		position: absolute;
	}
	.home-areasserved-map-learnmore{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    @include transform(translate(-50%,-50%));
	    z-index: 2;
	    text-transform: uppercase;
	    text-decoration: none;
	    color: white;
	    background-color: rgba(0,0,0,0.5);
	    padding: 20px;
	    border: 2px solid white;
	    z-index: 2;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.home-areasserved-map-gmap,
	.home-areasserved-map-tint{
		min-height: 600px;
	}
}