@media only screen {
	.terms-header{
		text-align: center;
		padding-top: 80px;
		font-family: $body;
		font-weight: bold;
	}
	.terms{
		max-width: $large;
		margin: 0 auto;
		box-sizing: border-box;
		padding: 20px;
		line-height: 2;
		p{
			margin: 10px 0;
		}
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.terms-header{
		padding-top: 180px;
	}
}
