@media only screen {
    section#mod_about {
        .mod__featured_grid {
            .container {
                .site__grid {
                    >ul {
                        >li {
                            a {
                                h5 {
                                    text-align: center;
                                    @include fontS-20;
                                    margin: 10px 0;
                                    color: $black;
                                    &:hover, &:active, &:focus {
                                        opacity: 0.8;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}