@media only screen {

	.button-rightarrow,
	.button-quote,
	.button-viewall {
		padding: 15px;
		margin: 0 auto;
		display: inline-block;
		text-transform: uppercase;
		background-color: $primary;
		text-decoration: none;
		color: white;
		font-size: 2rem;
		border-radius: 4px;
	}
	.button-quote {
		font-size: 1.6rem;
	}

	.button-rightarrow {
		position: relative;
		span, i {
			display: inline-block;
			vertical-align: top;
			top: 50%;
			position: relative;
			@include transform(translateY(-50%));
			font-size: 1.6rem;
		}
		span {
			color: white;
			margin-right: 1rem;
		}
		i{
			color: white;
			font-size: 2rem;
			font-weight: bold;
		}
	}
}