@media only screen {
    .site__fade {
        opacity: 1;
        transition: opacity 0.4s ease, transform 0.4s ease;
        transform: translateY(0);
    }

    .site__fade-in,
    .site__fade-up,
    .site__fade-left,
    .site__fade-right {
        // opacity: 0;
    }

    .site__fade-left {
        // @include transform(translateX(-200px));
    }

    .site__fade-right {
        // @include transform(translateX(100px));
    }

    .site__fade-up {
        // transform: translateY(100px);
    }
}