section.site__block {
    width: 100%;

    .container {
        text-align: center;
        .site__button {
            
        }

        padding: getVar($sizing, gutter, px, normal) 0;
        margin: 0 auto getVar($sizing, gutter, px, normal);
        
        &.narrow {
            width: getVar($sizing, content, small);
        }

        &.medium {
            width: getVar($sizing, content, medium);
            .site__grid {
                $w: getVar($sizing, content, medium);
                $c : 3;
                $g: getVar($sizing, gutter, vw, normal);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
            }
        }

        &.wide {
            width: getVar($sizing, content, large);

        }

        &.full {
            width: getVar($sizing, content, container);

        }

    }
}

@import 'blocks/heading_block';
@import 'blocks/copy_block';
@import 'blocks/services_block';
@import 'blocks/coupons_block';
@import 'blocks/food_menus_block';