//  after reset,
//  adjust elements to brand guidelines
@media only screen {
    body {
        font-family: "Lato", sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Montserrat", serif;
    }

    a {
        text-decoration: none;
    }

    figure {
        position: relative;
        overflow: hidden;
    }

    img {
        object-fit: cover;
        height: auto;
        width: 100%;
    }
}