// style fonts
@mixin fontS-12 {
    font-size: 1.2rem;
    line-height: 2.0rem;
}

@mixin fontS-14 {
    font-size: 1.4rem;
    line-height: 2.8rem;
}

@mixin fontS-16 {
    font-size: 1.6rem;
    line-height: 2.8rem;
}

@mixin fontS-20 {
    font-size: 2rem;
    line-height: 3.2rem;
}

@mixin fontS-24 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

@mixin fontS-34 {
    font-size: 3.4rem;
    line-height: 4.8rem;
}

@mixin fontS-50 {
    font-size: 5rem;
    line-height: 7.2rem;
}

@mixin fontS-72 {
    font-size: 7.2rem;
    line-height: 9.6rem;
}

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin clearfix {
    &:after {
        content: "";
        display: table; 
        clear: both;
    }
}

// updated, production worthy gridLayout mixin
@mixin gridLayout($w, $c, $g, $s) {
    > ul {
        display: inline-block;
        width: $w;
        margin: 0 auto 0 auto;

        >li {
            $d: colWidth($w, $c, $g);
            width: $d;
            height: auto;
            float: left;

            .image,
            .block {
                display: block;
                overflow: hidden;
                @if $s==true {
                    height: $d
                }
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;

            }

            &:nth-child(n+1) {
                // this will reset each child before applying to the target
                margin: 0 $g $g 0;
            }

            &:nth-child(#{$c}n) {
                margin: 0 0 $g 0;
            }
        }
    }
}



// this will set column widths for grid items
@function colWidth($w, $c, $g) {
    @return (($w - (($c - 1) * $g)) / $c);
}