@media only screen {
    // 
    section#block__copy {
        // 
        > .container {
            // 
            > div {
                h1, h2, h3, h4, h5, h6 {
                    margin: 0 auto getVar($sizing, gutter, px, normal) auto;
                }
            }
        }
    }
}