@media only screen {


    
    section.block__coupons {

        .container {

            > h2 {
                text-align: center;
            }

            // grid
            .site__grid {
                >ul {
                    >li {
                        padding: 10px;
                        background-color: #DEDEDE;
                        border-radius: 20px;
                        border: 3px solid transparent;

                        &:hover,
                        &:active,
                        &:focus {
                            border: 3px solid #c4c4c4;
                        }

                        >a {
                            padding: 20px;
                            border-radius: 20px;
                            border: 6px dashed #fff;
                            display: flex;
                            flex-flow: column nowrap;
                            align-items: center;
                            justify-content: center;
                        }

                        h5 {
                            color: black;
                            font-family: "Gotham", Helvetica, sans-serif;
                            margin: 10px 0 10px;
                            @include fontS-34;
                            font-weight: 600;
                        }

                        .coupon_description {
                            @include fontS-14;
                            color: #a6a6a6;
                            font-weight: 500;
                            margin-bottom: 10px;
                        }

                        .coupon_expiration {
                            color: black;
                            @include fontS-14;
                            margin: 10px 0;
                            font-weight: 500;
                        }

                        .coupon_code {
                            background: #fff;
                            padding: 0 25px;
                            margin: 10px 0;
                            border-radius: 20px;
                            font-weight: 700;
                            line-height: 40px;
                            color: black;

                            >span {
                                text-transform: uppercase;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        
    }
    
}