@media only screen {


    section#block__food_menus {
        

        > .container {
            > h2 {
                margin: 0 auto 30px auto;
                font-weight: 900;
                text-transform: uppercase;
            }
            > p {
                font-weight: 500;
                @include fontS-20;
            }
            .tabs {
                margin-bottom: 30px;
                .button_group {
                    margin: 30px auto 0px;
                    display: flex; 
                    flex-flow: row nowrap; 
                    justify-content: center;
                }
            }
            #tabs_style__pills {
                a {
                    @include fontS-16;
                    font-weight: 700;
                    margin: 0 5px;
                    text-transform: uppercase;
                    text-align: center;
                    background-color: white;
                    border: 2px solid getVar($gustavo, colors, gray1);
                    border-radius: 30px;
                    padding: 5px 25px;
                    color: inherit;
                    display: inline-block;
                    &:active,
                    &:focus,
                    &.active_menu_link,
                    &.active_menu_link:hover {
                        border: 2px solid $accent;
                        background-color: $accent;
                        color: $white;
                    }
                    &:hover {
                        border: 2px solid getVar($gustavo, colors, gray1);
                        color: $white;
                        background-color: getVar($gustavo, colors, gray1);
                    } 
                }
            }
            .menu_section {
                display: none;
                $w: 65vw;
                $c: 1;
                $g: getVar($sizing, gutter, vw, small);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                .image_provided {
                    width: 100%;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    margin-bottom: 15px;
                    max-width: 20vw;
                    max-height: 20vw;
                }
                // Menu Block Heading
                > h2 {
                    @include fontS-34;
                    letter-spacing: -1px;
                    font-weight: 800;
                    text-transform: capitalize;
                    margin-top: 30px;
                }
                // Menu Block Description
                > p {
                    margin: 15px 0 20px;
                    font-family: "Times New Roman";
                    line-height: 1em;
                    font-style: italic;
                    @include fontS-24;
                    font-weight: 500;
                }
                &.menu_photo_list {
                    // Menu Section Title
                    > h2 {
                        text-align: center;
                    }
                    // Menu Section Description
                    > p {
                        border-bottom: 3px solid $accent;
                        margin-bottom: 30px;
                        padding-bottom: 20px;
                    }
                    .menu_item {
                        display: flex;
                        .image_provided {
                            margin: 0 10px 0 0;
                        }
                        >div:last-of-type {
                            text-align: left;
                            width: inherit;
                            vertical-align: top;
                            > h3 {
                                font-weight: 900;
                                @include fontS-20;
                            }
                            > p:first-of-type {
                                @include fontS-14;
                                font-style: italic;
                                line-height: 1.8rem;
                                padding-bottom: 10px;
                                border-bottom: 4px dotted getVar($gustavo, colors, gray1);
                                margin-bottom: 20px;
                            }
                            > p:last-of-type {
                                @include fontS-24;
                                font-weight: 500;
                            }
                        }
                    }
                }
                &.menu_text_half {
                    text-align: center;
                    $w: getVar($sizing, content, medium);
                    $c: 2;
                    $g: getVar($sizing, gutter, vw, small);
                    $s: true;
                    @include gridLayout($w, $c, $g, $s);
                    .image_prov {
                        max-width: 20vw;
                        max-height: 20vw;
                    }
                    > h2 {
                        text-transform: uppercase;
                        font-weight: 700;
                        position: relative;
                        letter-spacing: normal;
                        span {
                            background: #fff;
                            padding: 0 15px;
                            position: relative;
                        }
                        &:before {
                            border-top: 1px solid #c2c2c2;
                            bottom: 0;
                            content: "";
                            left: 0;
                            margin: 0 auto;
                            position: absolute;
                            right: 0;
                            top: 50%;
                        }
                    }
                    .menu_items {
                        > li {
                            margin-bottom: 30px;
                            // menu items title
                            > h3 {
                                display: flex;
                                font-weight: 700; 
                                justify-content: space-between;
                                border-bottom: 3px solid $accent;
                                padding-bottom: 15px;
                                margin-bottom: 15px;
                                > span {
                                    color: getVar($gustavo, colors, gray3);
                                    font-weight: 600;
                                }
                            }
                            // menu items description
                            > p {
                                @include fontS-14;
                                text-align: left;
                            }
                        }
                    }
                }
            }
            .active_menu_section {
                display: block;
            }
            .flex_menu {
                display: flex;
            }
            //Narrow , medium , wide , full
            &.full {
                width: getVar($sizing, content, full);
            }
            &.wide {
                width: getVar($sizing, content, large);
            }
            &.medium {
                width: getVar($sizing, content, medium);
            }
            &.narrow {
                width: getVar($sizing, content, small);
            }          
        }
    }    
}
@media only screen and (max-width:960px){
    
}
@media only screen and (max-width:1280px){
    
}
@media only screen and (max-width:640px){
    section#block__food_menus {
        > .container {
            #tabs_style__pills {
                .button_group {
                    flex-flow: column nowrap;
                    li {
                        margin: 5px 0;
                    }
                }
            }
        }
    }
}
