@media only screen {


    section#block__food_menus {
        

        > .container {
            //Narrow , medium , wide , full
            &.full {
                $w: getVar($sizing, content, full);
                $c: 1;
                $g: getVar($sizing, gutter, vw, small);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                width: $w;
            }
            &.wide {
                $w: getVar($sizing, content, large);
                $c: 1;
                $g: getVar($sizing, gutter, vw, small);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                width: $w;
            }
            &.medium {
                $w: getVar($sizing, content, medium);
                $c: 1;
                $g: getVar($sizing, gutter, vw, small);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                width: $w;
                .image_provided {
                    max-width: 20vw;
                    max-height: 20vw;
                }
                .menu_photo_list,
                .menu_text_list_center,
                .menu_text_list_left {
                    $c: 1;
                    @include gridLayout($w, $c, $g, $s);
                }
                .menu_text_half {
                    $c: 2;
                    @include gridLayout($w, $c, $g, $s);
                }
            }
            &.narrow {
                $w: getVar($sizing, content, small);
                $c: 1;
                $g: getVar($sizing, gutter, vw, small);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                width: $w;
            } 
            > h2 {
                margin: 0 auto 30px auto;
                font-weight: 900;
                text-transform: uppercase;
            }
            > p {
                font-weight: 500;
                @include fontS-20;
            }
            .tabs {
                margin-bottom: 30px;
                .button_group {
                    margin: 30px auto 0px;
                    display: flex; 
                    flex-flow: row wrap; 
                    justify-content: center;
                    li {
                        margin: 5px 0;
                    }
                }
            }
            #tabs_style__pills {
                a {
                    @include fontS-16;
                    font-weight: 700;
                    margin: 0 5px;
                    text-transform: uppercase;
                    text-align: center;
                    background-color: white;
                    border: 2px solid getVar($gustavo, colors, gray1);
                    border-radius: 30px;
                    padding: 5px 25px;
                    color: inherit;
                    display: inline-block;
                    &:active,
                    &:focus,
                    &.active_menu_link,
                    &.active_menu_link:hover {
                        border: 2px solid $accent;
                        background-color: $accent;
                        color: $white;
                    }
                    &:hover {
                        border: 2px solid getVar($gustavo, colors, gray1);
                        color: $white;
                        background-color: getVar($gustavo, colors, gray1);
                    } 
                }
            }
            .menu_section {
                display: none;
                .image_provided {
                    width: 100%;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    margin-bottom: 15px;
                    max-width: 20vw;
                    max-height: 20vw;
                }
                // Menu Block Heading
                > h2 {
                    @include fontS-34;
                    font-weight: 800;
                    text-transform: capitalize;
                    margin-top: 30px;
                }
                // Menu Block Description
                > p {
                    margin: 15px 0 20px;
                    font-family: "Times New Roman";
                    line-height: 1em;
                    font-style: italic;
                    @include fontS-24;
                    font-weight: 500;
                }
                &.menu_photo_list {
                    // Menu Section Title
                    > h2 {
                        text-align: center;
                    }
                    // Menu Section Description
                    > p {
                        border-bottom: 3px solid $accent;
                        margin-bottom: 30px;
                        padding-bottom: 20px;
                    }
                    .menu_item {
                        display: flex;
                        .image_provided {
                            margin: 0 10px 0 0;
                        }
                        >div:last-of-type {
                            text-align: left;
                            width: 100%;
                            vertical-align: top;
                            > h3 {
                                font-weight: 900;
                                @include fontS-20;
                            }
                            > p:first-of-type {
                                @include fontS-14;
                                font-style: italic;
                                line-height: 1.8rem;
                                padding-bottom: 10px;
                                border-bottom: 4px dotted getVar($gustavo, colors, gray1);
                                margin-bottom: 20px;
                            }
                            > p:last-of-type {
                                @include fontS-24;
                                font-weight: 500;
                            }
                        }
                    }
                }
                &.menu_text_half {
                    > h2 {
                        text-transform: uppercase;
                        font-weight: 700;
                        position: relative;
                        letter-spacing: normal;
                        span {
                            background: #fff;
                            padding: 0 15px;
                            position: relative;
                        }
                        &:before {
                            border-top: 1px solid #c2c2c2;
                            bottom: 0;
                            content: "";
                            left: 0;
                            margin: 0 auto;
                            position: absolute;
                            right: 0;
                            top: 50%;
                        }
                    }
                    .menu_items {
                        > li {
                            margin-bottom: 30px;
                            // menu items title
                            > h3 {
                                display: flex;
                                font-weight: 700; 
                                justify-content: space-between;
                                border-bottom: 3px solid $accent;
                                padding-bottom: 15px;
                                margin-bottom: 15px;
                                > span {
                                    font-weight: 600;
                                }
                            }
                            // menu items description
                            > p {
                                @include fontS-14;
                                text-align: left;
                            }
                        }
                    }
                }
                &.menu_text_list_center {
                    > p {
                        border-bottom: 3px solid $accent;
                        margin-bottom: 30px;
                        padding-bottom: 20px;
                    }
                    .menu_item {
                        > h3 {
                            @include fontS-20;
                            text-align: center;
                            font-weight: 800;
                            text-transform: uppercase;
                            margin-bottom: 5px;
                            > span {
                                font-weight: 500;
                                &:before {
                                    content: "";
                                    border-left: 2px solid #aaabad;
                                    margin: 0 15px 0 10px;
                                }
                            }
                        }
                        > p {
                            @include fontS-14;
                            font-family: "Times New Roman";
                            font-style: italic;
                        }
                    }
                }
                &.menu_text_list_left {
                    text-align: left;
                    > p {
                        border-bottom: 5px dotted $accent;
                        margin-bottom: 30px;
                        padding-bottom: 20px;
                    }
                    .menu_item {
                        > h3 {
                            text-transform: uppercase;
                            display: flex;
                            @include fontS-20;
                            font-weight: 700;
                            justify-content: space-between;  
                        }
                        > p {
                            @include fontS-14;
                            font-family: "Times New Roman";
                            font-style: italic;
                        }
                        .block {
                            margin: 0 0 20px 0;
                        }
                    }
                }
            }
            .active_menu_section {
                display: block;
            }
            .flex_menu {
                display: flex;
            }         
        }
    }    
}
@media only screen and (max-width:1280px){
    section#block__food_menus {
        > .container {
            &.narrow,
            &.wide,
            &.full,
            &.medium {
                $w: getVar($sizing, content, medium);
                $c: 1;
                $g: getVar($sizing, gutter, vw, large);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                width: $w;
                .menu_section {
                    .image_provided {
                        max-width: 30vw;
                        max-height: 30vw;
                    }
                }
                .menu_photo_list,
                .menu_text_list_center,
                .menu_text_list_left {
                    $c: 1;
                    @include gridLayout($w, $c, $g, $s);
                    
                }
                .menu_text_half {
                    $c: 2;
                    @include gridLayout($w, $c, $g, $s);
                }
            }
        }
    }
}
@media only screen and (max-width:960px){
    section#block__food_menus {
        > .container {
            &.narrow,
            &.wide,
            &.full,
            &.medium {
                $w: getVar($sizing, content, large);
                $c: 1;
                $g: getVar($sizing, gutter, vw, large);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                width: $w;
                .menu_photo_list,
                .menu_text_list_center,
                .menu_text_list_left {
                    $c: 1;
                    @include gridLayout($w, $c, $g, $s);
                    .image_provided {
                        max-width: 40vw;
                        max-height: 40vw;
                    }
                }
                .menu_text_half{
                    .image_provided {
                        max-width: 65vw;
                        max-height: 65vw;
                    }
                }
                .menu_text_half {
                    $c: 2;
                    @include gridLayout($w, $c, $g, $s);
                    
                }
            }
        }
    }
}
@media only screen and (max-width:640px){
    section#block__food_menus {
        > .container {
            #tabs_style__pills {
                .button_group {
                    flex-flow: column nowrap;
                }
            }
            &.narrow,
            &.wide,
            &.full,
            &.medium {
                $w: getVar($sizing, content, full);
                $c: 1;
                $g: getVar($sizing, gutter, vw, large);
                $s: true;
                @include gridLayout($w, $c, $g, $s);
                width: $w;
                .menu_section {
                    $c: 1;
                    @include gridLayout($w, $c, $g, $s);
                }
                .menu_text_half,
                .menu_text_list_center,
                .menu_text_list_left {
                    .image_provided {
                        max-width: 65vw;
                        max-height: 65vw;
                    }
                }
            }
        }
    }
}
